.GmAssetDropdown {
  .asset-item {
    width: auto;

    &:hover {
      .subtext {
        color: white;
      }
    }
  }
  .wallet-icon {
    width: 1.6rem;
  }
  .subtext {
    color: #a0a3c4;
  }
}

@media (max-width: 350px) {
  .GmAssetDropdown {
    .asset-menu-items {
      width: 22rem;
    }
  }
}
