.GmAssetDropdown {
  .asset-item {
    width: auto;

    &:hover {
      .subtext {
        color: rgba(var(--color-textIcon-strong));
      }
    }
  }
  .wallet-icon {
    width: 1.6rem;
  }
  .subtext {
    color: rgba(var(--color-slate-100));
  }
}

@media (max-width: 350px) {
  .GmAssetDropdown {
    .asset-menu-items {
      width: 22rem;
    }
  }
}
