.Dropdown-root {
  display: flex;
  position: relative;
  cursor: pointer;

  div[aria-expanded="true"]:first-child {
    .Dropdown-current {
      color: var(--color-blue-300);
    }
  }

  &.disabled {
    .Dropdown-current {
      cursor: default;
    }

    .Dropdown-current-arrow {
      visibility: hidden;
    }
  }
}

.Dropdown-options {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 1000;
  transform-origin: top right;
  border-radius: 0.4rem;
  overflow-y: auto;
  max-height: 30rem;
  background: var(--color-slate-800);
  border: 1px solid var(--color-gray-800);
  text-align: left;
  list-style: none;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}

.Dropdown-current {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: var(--color-white);
  font-size: var(--font-sm);

  &:hover {
    color: var(--color-blue-300);
  }
}

.Dropdown-current-arrow {
  margin-left: 0.7rem;
  margin-bottom: -5px;
}

.Dropdown-option {
  padding: 1rem;
  color: var(--color-slate-100);
  cursor: pointer;

  &:hover {
    color: var(--color-gray-50);
    background: #808aff14 !important;
  }

  &.selected {
    color: var(--color-blue-300);
  }
}
