.LeverageSlider {
  margin-top: 1.5rem;
  margin-bottom: 3.4rem;
  padding: 0 0.8rem;

  .rc-slider-tooltip-inner {
    box-shadow: none;
    padding: 0.465rem 0.8rem;
    background: var(--color-slate-600);
  }

  .rc-slider-tooltip {
    z-index: 5;
  }

  .rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    border-top-color: var(--color-slate-600);
  }

  .rc-slider-rail {
    background: linear-gradient(90deg, rgb(30, 34, 61) 0%, rgb(40, 45, 74) 100%);
  }

  .rc-slider-track {
    background: linear-gradient(90deg, var(--color-blue-700) 0%, var(--color-blue-600) 100%);
  }
  .rc-slider-dot {
    border: none;
    border-radius: 1px;
    width: 2px;
    margin-left: -1px;
    background: rgba(40, 45, 74, 1);
  }
  .rc-slider-dot-active {
    background: var(--color-blue-500);
  }
  .rc-slider-handle {
    background: var(--color-slate-600);
    border: solid 2px var(--color-blue-600);
  }

  .rc-slider-handle:active {
    // box-shadow: 0 0 0.4rem 0.6rem rgba(45, 66, 252, 0.2);
    // var(--color-blue-600);
    box-shadow: 0 0 0.4rem 0.6rem color-mix(in srgb, var(--color-blue-600), transparent 80%);
  }
  .rc-slider-mark-text,
  .rc-slider-mark-text-active {
    color: var(--color-white);
    opacity: 0.5;
  }

  .rc-slider-mark-text:hover,
  .rc-slider-mark-text-active:hover {
    opacity: 1;
  }
}
