.BuyGMXGLP {
  background: #101124;
  justify-content: space-between;
}

.BuyGMXGLP-container {
  padding: 3rem 0 2rem 0;
  width: 100%;
}

.BuyGMXGLP-container .section-title-content {
  justify-content: center;
}

.BuyGMXGLP-panel {
  padding-top: 0;
  padding-bottom: 2.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.BuyGMXGLP-panel .App-card {
  background: #16182E;
  border-radius: 8px;
  /*padding: 1rem 1.5rem;*/
  max-width: 37.677rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  border: none;
}

.BuyGMXGLP-panel .App-card.App-card--densed .App-card-title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.BuyGMXGLP-panel .App-card-content {
  padding: 0.5rem 1.5rem 1rem;
}

.BuyGMXGLP-panel .App-card-content.no-title {
  padding-top: 1rem;
}

.BuyGMXGLP-panel:last-child {
  padding-bottom: 0;
}

.BuyGMXGLP-description {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0px;
  color: #A0A3C4;
}

.BuyGMXGLP-description a {
  text-decoration: none;
  position: relative;
}

.direct-purchase-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  margin: 2rem 0;
}

.GMX-btn {
  display: flex;
  align-items: center;
  background: #FFFFFF0A;
  border: 1px solid #FFFFFF14;
  border-radius: 4px;
  text-decoration: none;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
}

.GMX-btn:hover {
  background: #FFFFFF14;
}

.GMX-btn:focus, .GMX-btn:active {
  background: #FFFFFF1F;
}

.GMX-btn-icon-block {
  display: flex;
  margin-right: 0.75rem;
}

.GMX-btn-icon {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.GMX-btn-icon-network {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.GMX-btn-label {
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 1.1875rem;
  line-height: 1.5rem;
}

.GMX-block-section {
  display: flex;
  justify-content: center;
}

.bridge-options {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

.buy-gmx {
  flex: 1 1 auto;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .bridge-options {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .BuyGMXGLP-container {
      padding-left: 16px!important;
      padding-right: 16px!important;
  }

  .BuyGMXGLP-description {
      font-size: 1rem;
      line-height: 1.3rem;
  }
}