.SettleAccruedFundingFeeModal-divider {
    margin-top: 1.5rem;
}

.SettleAccruedFundingFeeModal-alert {
    color: rgba(255, 255, 255, 0.70);
    padding-bottom: 1rem;
}

.SettleAccruedFundingFeeModal-modal-content {
    margin-top: 1.8rem;
}

.SettleAccruedFundingFeeModal-row-text {
    color: white;
}

.SettleAccruedFundingFeeModal-info-row {
    display: flex;
    font-size: var(--font-sm);
    margin-bottom: 1rem;
    align-items: baseline;

}

.SettleAccruedFundingFeeModal-info-label-usd {
    margin-left: auto;
}

.SettleAccruedFundingFeeModal-header {
    margin-bottom: 1.5rem;
    display: flex;
    color: rgba(255, 255, 255, 0.70);
}

.SettleAccruedFundingFeeModal-header-left {
    margin-left: 2.3rem;
}
.SettleAccruedFundingFeeModal-header-right {
    margin-left: auto;
}

.SettleAccruedFundingFeeModal-checkbox {
    margin-right: 0.5rem;
}