.main {
  margin: 0;
}

@media (min-width: 1000px) {
  .main {
    min-height: 125vh;
  }
}

img {
  max-width: 100%;
}

#light .hero {
  background-image: url(img/tf-t3-landing-bg.svg);
}

#light .text {
  color: black;
}

#dark .text {
  color: white;
}

.hero {
  /* Sizing */
  width: 100vw;
  min-height: 90vh;
  height: auto;

  /* Flexbox stuff */
  display: flex;
  justify-content: left;
  align-items: center;

  /* Text styles */
  text-align: left;
  color: white;

  /* Background styles */
  background-image: url(img/t3-bg-dark.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: local;

  flex-direction: column;
  align-items: flex-start;
}
.hero-title {
  /* Text styles */
  font-size: 5.7rem;
  line-height: 6.8rem;
  font-weight: bold;
  letter-spacing: 0;
  /* Margins */
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 2em;
  backdrop-filter: blur(3px);
}

#light .hero-title {
  color: #000000;
}

.hero-inner {
  padding-top: 5em;
  margin-bottom: 5em;
}

.Home-title-subtext {
  color: #FF7028;
}
.arrow {
  height: 2.8rem;
  width: 2.8rem;
  align-items: center;
}


/* Desktop "Trade Now" Button styles */
.hero .btn {
  background: #FF7028;
  border-radius: 16px;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #ffff !important;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  width: fit-content;
  cursor: pointer;
  border: none;
  appearance: none;
  margin-left: 5em;
  max-width: 250px;
}

.mobile {
  display: none;
}
@media (max-width: 1000px) {
  .hero {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: white;
  }

  .mobile .text {
    /* Text styles */
    color : #FFFFFF;
    top : 2%;
    font-size: 5.2rem;
    padding: 2%;
    line-height: 6.8rem;
    font-weight: bold;
    letter-spacing: 0;
    position: absolute;
    flex-grow: 1;
    display: flexbox;
    justify-content: center;
    align-items: center;
  }

  #light .mobile .text {
    color : #000000;
  }

  .mobile .subtext {
    color: #FF7028;
  }

  .mobile .trade-btn {
    position : absolute;
    top : 40%;
    color : #FFFFFF;
  }


  .mobile .btn {
    background: #FF7028;
    color : #ffffff !important;
    border-radius: 16px;
    font-size: 2rem;
    line-height: 6.8rem;
    font-weight: bold;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    appearance: none;
    width: fit-content;
    margin: 0 auto;
  }
}

.content-title-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin-left: calc(114px - 1em);
  margin-bottom: 2em;
}

.content-title-desktop-cta {
  margin-top: 0.5em;
  margin-left: 0 !important;
  padding: 0.5em 1em !important;
}

.landing-content-desktop {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}