.main {
  margin: 0;
}

img {
  max-width: 100%;
}

#light .hero {
  background-image: url(img/tf-t3-landing-bg.svg);
}

#light .text {
  color: black;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 90vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: left;
  align-items: center;

  /* Text styles */
  text-align: left;
  color: white;

  /* Background styles */

  background-image: url(img/t3-bg-dark.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: local;
}
.hero-title {
  /* Text styles */
  font-size: 5.7rem;
  line-height: 6.8rem;
  font-weight: bold;
  letter-spacing: 0;
  /* Margins */
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 2em;
}

#light .hero-title {
  color: #000000;
}

.Home-title-subtext {
  color: #FF7028;
}
.arrow {
  height: 2.8rem;
  width: 2.8rem;
  align-items: center;
}



.hero .btn {
  background: #FF7028;
  border-radius: 16px;
  font-size: 2.4rem;
  line-height: 6.8rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #ffff !important;
  padding-left: 2.5rem;
  padding-right: 1.6rem;
  /* padding: 9px 16px!important; */
  text-decoration: none;
  box-sizing: border-box;
  height: 6.1rem;
  width: 20rem;
  display: inline-flex !important;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  appearance: none;
  margin-left: 5em;
}

.mobile {
  display: none;
}
@media (max-width: 1000px) {
  .hero {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: white;
  }

  .mobile .text {
    /* Text styles */
    color : #FFFFFF;
    top : 2%;
    font-size: 5.2rem;
    padding: 2%;
    line-height: 6.8rem;
    font-weight: bold;
    letter-spacing: 0;
    position: absolute;
    flex-grow: 1;
    display: flexbox;
    justify-content: center;
    align-items: center;
  }

  #light .mobile .text {
    color : #000000;
  }

  .mobile .subtext {
    color: #FF7028;
  }

  .mobile .trade-btn {
    position : absolute;
    top : 40%;
    color : #FFFFFF;
  }


  .mobile .btn {
    background: #FF7028;
    color : #ffffff !important;
    border-radius: 16px;
    font-size: 2rem;
    line-height: 6.8rem;
    font-weight: bold;
    letter-spacing: 0;
    /* color: #000000 !important; */
    padding-left: 2.5rem;
    padding-right: 1.6rem;
    /* padding: 9px 16px!important; */
    text-decoration: none;
    box-sizing: border-box;
    height: 6.1rem;
    width: 20rem;
    display: inline-flex !important;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    appearance: none;
  }
}
