.SyntheticsPoolsPage-content {
  display: flex;
  justify-content: space-between;
}

.SyntheticsPoolsPage-content .SyntheticsPoolsPage-swap-box {
  max-width: 47.95rem;
  width: 100%;
}

@media (max-width: 900px) {
  .SyntheticsPoolsPage-content {
    flex-wrap: wrap;
  }
}
