.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.pagination-buttons {
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
}

.pagination-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  justify-content: center;
  left: 1px solid var(--dark-blue-border);
  border-bottom: 2px solid transparent;
}

.pagination-btn-middle {
  margin: 0 1.5rem;
  display: flex;
}

.pagination-btn.secondary {
  border: 1px solid var(--dark-blue-border);
  border-radius: var(--border-radius-sm);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0 .5rem;
}

.pagination-btn:hover {
  border-color: rgb(255, 255, 255, .2);
}

.pagination-btn.active {
  border-color: white;
}
