.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.pagination-buttons {
  border: 1px solid var(--dark-blue-border);
  border-radius: var(--border-radius-sm);
  display: flex;
}

.pagination-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 0.775rem 1.5rem;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  width: 6rem;
  justify-content: center;
}

.pagination-btn + .pagination-btn {
  border-left: 1px solid var(--dark-blue-border);
}

.pagination-btn:hover:not(:disabled) {
  background: rgba(128, 138, 255, 0.0784313725490196);
}

.pagination-btn.active {
  background: rgba(128, 138, 255, 0.0784313725490196);
}
