@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-[10px];
    -webkit-font-smoothing: antialiased;
  }
  html {
    /* Restore native webkit behavior */
    @apply bg-slate-800 leading-base;
  }
}

@font-face {
  font-family: "TTHoves";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/tthoves/tthoves-pro-regular.ttf") format("truetype");
}

@font-face {
  font-family: "TTHoves";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/tthoves/tthoves-pro-medium.ttf") format("truetype");
}
