.MarketList-netfee-tooltip {
  .Tooltip-popup {
    min-width: 32rem;
  }
}

.MarketList-mobile-tvl-tooltip {
  .Tooltip-popup {
    min-width: max-content !important;
    max-width: 100vw !important;
    white-space: nowrap;
  }
}

@media (max-width: 350px) {
  .MarketList-netfee-tooltip {
    .Tooltip-popup {
      min-width: 26rem;
    }
  }
}
