.NotifyModal {
  max-width: 31rem;
  line-height: 1.5;
  font-size: var(--font-size-body-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NotifyModal-bullet-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.NotifyModal-bullet {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.NotifyModal-bullet-point {
  flex-shrink: 0;
  height: 1.2rem;
  width: 1.2rem;
}

.NotifyModal-terms {
  margin-top: 2rem;
  text-align: center;
  color: var(--text-gray);
}

.NotifyModal-notify {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1.2rem;
}

.NotifyModal-button {
  gap: 0.7rem;
}
