.buy-input .InputSection-static-input {
  font-size: 1.5rem;
}

.buy-input.Exchange-swap-section.highlighted {
  background: #101124;
  border-radius: 4px;
}

.buy-input .TokenSelector-box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.5rem;
  color: #FFFFFF;
  min-width: 6.77rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.buy-input .Exchange-swap-input-container {
  display: flex;
  align-items: center;
}

.buy-input .Exchange-swap-max {
  position: unset;
  color: white;
  font-size: 1rem;
}

.buy-input .TokenSelector-caret {
  margin: 0;
}

.buy-input .TokenSelector-box-symbol {
  margin-left: 0.5rem;
}

.buy-input .PositionEditor-token-symbol {
  display: flex;
  align-items: center;
}

.buy-input .PositionEditor-token-symbol img {
  margin-left: 0.5rem;
}
