.buy-input {
  .buy-input-top-row {
    display: inline-flex;
    justify-content: space-between;
    font-size: var(--font-size-body-medium);
  }
  .InputSection-static-input {
    font-size: var(--font-size-body-large);
  }

  &.Exchange-swap-section {
    min-height: 9.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Exchange-swap-input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .Exchange-swap-max {
      position: unset;
      color: var(--color-white);
      font-size: var(--font-size-body-medium);
      line-height: var(--line-height-body-medium);
    }

    .PositionEditor-token-symbol {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      gap: 0.5rem;
    }

    &-top {
      padding-bottom: 0;
    }

    .selected-token {
      display: flex;
      align-items: center;
    }
  }
}

.PercentSelector {
  appearance: none;
  padding: 0;
  margin: 0;
  list-style: none;

  position: absolute;
  top: calc(100% + 8px);
  left: -14px;

  display: flex;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-slate-600);

  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);

  .PercentSelector-item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    width: 4.5rem;
    text-align: center;
    font-size: 1.4rem;

    &:hover {
      background: var(--color-slate-500);
    }
  }
}
