.center {
  text-align: center;
}
.section {
  margin-bottom: 4.65rem;
}
.Page-subtitle {
  font-size: var(--font-lg);
  font-weight: 500;
  margin: 1.5rem 0;
}
.content {
  margin-top: 4.65rem;
}
.body-text {
  margin: 0px;
  font-weight: 400;
  font-size: var(--font-base);
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
  color: var(--color-gray-300);
  /* color: var(--color-slate-100); */
}

.body-title {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: var(--font-lg);
}
