.Percentage-input-wrapper {
  position: relative;
  .Percentage-list {
    position: absolute;
    display: flex;
    list-style: none;
    border-radius: var(--border-radius-sm);
    right: 0;
    padding: 0;
    margin-top: 1.5px;
    top: 100%;
    z-index: 2;
    background: var(--color-slate-700);

    li {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      border-radius: var(--border-radius-sm);
      width: 4.5rem;
      text-align: center;
      &:hover {
        background: rgba(58, 63, 121, 0.5607843137254902);
      }
    }
  }
  .Percentage-input {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-slate-700);
    border-radius: var(--border-radius-sm);
    padding-right: 0.5rem;
    line-height: 1;
    background: var(--color-slate-700);

    label {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      border-color: var(--color-cold-blue-700);
    }
    &:focus-within {
      border-color: var(--color-cold-blue-500);
    }

    &.input-error {
      border-color: var(--color-yellow-500);
    }

    input {
      width: 4rem;
      padding: 0.2rem 0.35rem;
      font-size: 1.4rem;
      border-radius: 4px;
      text-align: right;
    }
    span {
      opacity: 0.7;
    }
  }
}

.Percentage-input-negative-sign {
  padding-left: 0.4rem;
  cursor: text;
  user-select: none;
}
