.Percentage-input-wrapper {
  position: relative;
  .Percentage-list {
    position: absolute;
    display: flex;
    list-style: none;
    border-radius: var(--border-radius-sm);
    right: 0;
    padding: 0;
    top: 1.25rem;
    z-index: 1;
    background: #212540;

    li {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      border-radius: var(--border-radius-sm);
      width: 4.5rem;
      text-align: center;
      &:hover {
        background: rgba(58, 63, 121, 0.5607843137254902);
      }
    }
  }
  .Percentage-input {
    display: flex;
    align-items: center;
    border: 1px solid #212540;
    border-radius: var(--border-radius-sm);
    padding-right: 0.5rem;
    line-height: 1;
    background: #212540;

    label {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      border-color: #3a3f798f;
    }
    &:focus-within {
      border-color: #3a3f79;
    }

    &.input-error {
      border-color: #f3b50e;
    }

    input {
      width: 4rem;
      padding: 0.2rem 0.35rem;
      font-size: 1.4rem;
      border-radius: 4px;
      text-align: right;
    }
    span {
      opacity: 0.7;
    }
  }

  .Percentage-input-error {
    display: none;
  }

  &:hover .Percentage-input-error {
    display: block;
  }

  &:hover .Percentage-input-error::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background: transparent;
  }
}

.Percentage-input-negative-sign {
  padding-left: 0.4rem;
  cursor: text;
  user-select: none;
}
