.info-row {
  margin-bottom: 0rem;
}

.MarketCard-pool-balance {
  .Tooltip {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.MarketCard-pool-balance-bar.ShareBar {
  background: var(--error-red);
  width: 100%;
  min-width: 10rem;

  .ShareBar-fill {
    background: var(--green);
  }
}

.MarketCard,
.MarketCard-net-fee {
  .Tooltip-popup {
    min-width: 32rem;
  }
}

.MarketCard-pool-balance .Tooltip-handle {
  text-decoration: none;
}

@media (max-width: 350px) {
  .MarketCard-net-fee {
    .Tooltip-popup {
      min-width: 26rem;
    }
  }
}
