.SyntheticsTrade {
  max-width: 155rem;
  margin: auto;
  justify-content: space-between;
}

.SyntheticsTrade-right {
  display: grid;
  grid-template-rows: auto 1fr;
}

.SyntheticsTrade-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1.5rem;
  padding: 3.1rem;
  padding-top: 0rem;
  margin-top: -1.5rem;
}

.SyntheticsTrade-swap-box {
  width: 41.85rem;
  display: grid;
  position: relative;
}

.SyntheticsTrade-list-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.05rem;
}

.SyntheticsTrade-lists.large {
  display: block;
}

.SyntheticsTrade-lists.small {
  display: none;
}

@media (max-width: 1500px) {
  .SyntheticsTrade-swap-box {
    width: 38.75rem;
  }
}

@media (max-width: 1100px) {
  .SyntheticsTrade-content {
    grid-template-columns: 1fr;
  }

  .SyntheticsTrade-swap-box {
    width: auto;
  }

  .SyntheticsTrade-lists.small {
    display: block;
  }

  .SyntheticsTrade-lists.large {
    display: none;
  }
}

@media (max-width: 700px) {
  .SyntheticsTrade {
    padding: 1.5rem;
    padding-top: 1.5rem;
  }

  .SyntheticsTrade {
    padding-top: 1.5rem !important;
  }
}
