.RegisterTeam-card input {
  border: 1px solid rgba(255, 255, 255, .2);
  font-size: 1.5rem;
  position: relative;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
}

.RegisterTeam-card {
  position: relative;
  padding: 2.325rem;
  border-radius: 1.3rem;
  max-width: 59.2rem;
  background: #16182e;
  box-shadow: 0px 0.5rem 1.3rem #00000085;
  border: 1px solid #2a2b3d;
  border-radius: 0.4rem;
}

.RegisterTeam-card title {
  font-weight: 500;
  font-size: 2.325rem;
  line-height: 3.1rem;
  color: #ffffff;
  padding: 0.775rem 0;
  margin: 0;
}

.RegisterTeam-card subtitle {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0px;
  color: #fff;
  margin-top: 1.1625rem;
}

.RegisterTeam-card .create-code-link:hover {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
