.ValidationRow {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: var(--font-base);
}

.ValidationRow-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ValidationRow-icon {
  margin-right: 1.5rem;
}

.BeginAccountTransfer .ValidationRow {
  margin-bottom: 1.5rem;
  font-size: var(--font-base);
}

.BeginAccountTransfer-validations {
  margin-bottom: 2.325rem;
}

.BeginAccountTransfer .Modal .App-cta {
  display: block;
  text-align: center;
  font-size: var(--font-base);
}

.BeginAccountTransfer .soft-error {
  color: var(--color-gray-300);
  line-height: 2.15rem;
  font-size: 14px;
  margin: -0.5rem 0 1rem 3rem;
}

.VestedAffiliate-checkbox {
  margin-bottom: 1.5rem;
  margin-left: 3rem;
  align-items: flex-start;
}

.VestedAffiliate-checkbox > .Checkbox-icon-wrapper {
  align-items: flex-start;
  margin-top: 4px;
}
