$suggestion-input-hover-background: rgba(var(--color-fill-surfaceElevatedHover));

.Suggestion-input-wrapper {
  position: relative;
  .Suggestion-list {
    position: absolute;
    display: flex;
    list-style: none;
    border-radius: var(--border-radius-sm);
    right: 0;
    padding: 0;
    margin-top: 1.5px;
    top: 100%;
    background-color: rgba(var(--color-slate-900));
    z-index: 1002;
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    border: 0.5px solid rgba(var(--color-slate-600));

    li {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      text-align: center;
      &:hover {
        background: rgba(var(--color-slate-800));
      }
    }
  }
  .Suggestion-input {
    border: 1px solid rgba(var(--color-slate-800));
    border-radius: var(--border-radius-sm);
    line-height: 1.3;
    color: rgba(var(--color-gray-400));
    background: rgba(var(--color-slate-800));
    font-size: 13px;

    label {
      cursor: pointer;
      flex-shrink: 0;
    }

    &:hover {
      background: $suggestion-input-hover-background;
      border: 1px solid #19192b;
    }
    &:focus {
      border-color: rgba(var(--color-blue-300));
    }
    &:focus-within {
      border-color: rgba(var(--color-blue-300));
    }

    &.input-error {
      border-color: rgba(var(--color-red-500));
    }

    input {
      padding: 1.5px 2px 1.5px 4px;
      font-size: 13px;
      line-height: 1.3;
      border-radius: 4px;
      color: rgba(var(--color-typography-primary));
      &::placeholder {
        color: rgba(var(--color-slate-100));
      }
    }
  }
}
