.Suggestion-input-wrapper {
  position: relative;
  .Suggestion-list {
    position: absolute;
    display: flex;
    list-style: none;
    border-radius: var(--border-radius-sm);
    right: 0;
    padding: 0;
    margin-top: 1.5px;
    top: 100%;
    background: var(--color-slate-700);
    z-index: 1002;

    li {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      border-radius: var(--border-radius-sm);
      text-align: center;
      &:hover {
        background: rgba(58, 63, 121, 0.5607843137254902);
      }
    }
  }
  .Suggestion-input {
    border: 1px solid var(--color-stroke-primary);
    border-radius: var(--border-radius-sm);
    padding-right: 0.5rem;
    line-height: 1;
    color: var(--color-gray-400);
    background: var(--color-cold-blue-900);

    label {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      border-color: var(--color-cold-blue-700);
    }
    &:focus-within {
      border-color: var(--color-cold-blue-500);
    }

    &.input-error {
      border-color: var(--color-red-500);
    }

    input {
      padding: 0.2rem 0.5rem 0.35rem;
      font-size: var(--font-size-body-medium);
      line-height: var(--line-height-body-medium);
      border-radius: 4px;
      max-width: 7rem;
      color: var(--color-white);
      &::placeholder {
        color: var(--color-slate-100);
      }
    }
  }
}
