$suggestion-input-hover-background: linear-gradient(0deg, #090a144d, #090a144d),
  linear-gradient(0deg, var(--color-fill-surfaceElevated), var(--color-fill-surfaceElevated));

.Suggestion-input-wrapper {
  position: relative;
  .Suggestion-list {
    position: absolute;
    display: flex;
    list-style: none;
    border-radius: var(--border-radius-sm);
    right: 0;
    padding: 0;
    margin-top: 1.5px;
    top: 100%;
    background-color: var(--color-slate-800);
    z-index: 1002;
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid var(--color-stroke-primary);

    li {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      text-align: center;
      &:hover {
        background: var(--color-slate-500);
      }
    }
  }
  .Suggestion-input {
    border: 1px solid var(--color-cold-blue-900);
    border-radius: var(--border-radius-sm);
    line-height: 1.3;
    color: var(--color-gray-400);
    background: var(--color-cold-blue-900);
    font-size: 13px;

    label {
      cursor: pointer;
      flex-shrink: 0;
    }

    &:hover {
      background: $suggestion-input-hover-background;
      border: 1px solid #19192b;
    }
    &:focus {
      border-color: var(--color-button-hovered);
    }
    &:focus-within {
      border-color: var(--color-button-hovered);
    }

    &.input-error {
      border-color: var(--color-red-500);
    }

    input {
      padding: 1.5px 2px 1.5px 4px;
      font-size: 13px;
      line-height: 1.3;
      border-radius: 4px;
      color: var(--color-white);
      &::placeholder {
        color: var(--color-slate-100);
      }
    }
  }
}
