VITE_HELIUS_RPC_URL=https://rpc-1.gmtrade.xyz/
VITE_HELIUS_WSS_ENDPOINT=wss://rpc-1.gmtrade.xyz/
VITE_GMX_SOLANA_API_ENDPOINT=https://YOUR_PREVIEW_API_ENDPOINT
VITE_GMX_SOLANA_WSS_ENV=wss://YOUR_PREVIEW_API_WS_ENDPOINT
VITE_STAKE_WSS_ENDPOINT=wss://YOUR_PREVIEW_STAKE_WS_ENDPOINT
VITE_KEEPER_GRAPHQL_ENDPOINT=https://YOUR_PREVIEW_KEEPER_GRAPHQL_ENDPOINT
VITE_GT_SQD_GRAPHQL_ENDPOINT=https://gmsol-sqd-test.squids.live/gmtrade-gt@dev/api/graphql
VITE_PRICE_CANDLE_GRAPHQL_ENDPOINT=https://YOUR_PREVIEW_PRICE_CANDLE_GRAPHQL_ENDPOINT
VITE_PRICE_CANDLE_WSS_ENDPOINT=wss://YOUR_PREVIEW_PRICE_CANDLE_WS_ENDPOINT
VITE_GMTRADE_EVENTS_URL=https://YOUR_PREVIEW_EVENTS_ENDPOINT
VITE_NIGHTLY=true
VITE_NOTICES_JSON_URL=https://YOUR_NOTICES_JSON_URL
VITE_TRADE_CONFIG_URL=https://r2.gmtrade.xyz/common/config.json
