.network-dropdown {
  display: inline-flex;
}

.network-dropdown:hover {
  background: var(--dark-blue-hover);
  cursor: pointer;
}

.network-dropdown-seperator {
  width: 1px;
  background: var(--dark-blue-border);
  margin: 0.8rem 0;
}

.network-dropdown-icon {
  width: 4.1rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0;
  pointer-events: none;
}

.network-dropdown-icon img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.network-dropdown-language-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.menu-item-group {
  display: flex;
  align-items: center;
}

.network-dropdown-items {
  width: 17rem;
}

.network-dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  justify-content: space-between;
}

.menu-item-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
.menu-item-icon img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.network-dropdown-headings {
  padding: 0.8rem 0.8rem 0.4rem 0.8rem;
  opacity: 0.7;
  font-size: 1.25rem;
}

.network-dropdown-item-label {
  margin-left: 0.8rem;
}

.network-dropdown-list {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-item:hover .menu-item-label {
  color: #eee;
}

.active-dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.active-dot.Arbitrum {
  background-color: #4275a8;
}
.active-dot.Avalanche {
  background-color: #e84142;
}
