.App-header-network {
  position: relative;
  border: 0.5px solid var(--color-slate-600);
  border-radius: var(--border-radius-sm);
  height: 3.6rem;
  display: inline-flex;
  align-items: center;
  color: var(--color-typography-primary);
}

.App-header-language {
  margin-left: 0;
}

.network-dropdown {
  display: inline-flex;
}
.network-dropdown-items {
  min-width: 18rem;
  padding-bottom: 0.8rem;
}

.App-header-network:hover {
  background: var(--dark-blue-hover);
  cursor: pointer;
}
.App-header-network:active {
  background: var(--dark-blue-active);
}
.network-dropdown:active {
  background: var(--dark-blue-active);
}

.network-dropdown-icon {
  object-fit: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.language-popup .Modal-content {
  width: 32rem;
}

.menu-item-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.network-dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
  height: 32px;
  border-radius: 8px;
  justify-content: space-between;
}

.dropdown-label {
  color: var(--color-slate-100);
  font-size: var(--font-size-body-small);
  line-height: var(--line-height-body-small);
}

.language-popup .Modal-body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.menu-item-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.network-dropdown-item-label {
  font-weight: 500;
}

.network-dropdown-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 4px;
  gap: 2px;
}

.network-dropdown-divider {
  border-top: 0.5px solid var(--color-slate-600);
  margin: 0 -4px;
}

.menu-item:not(.disabled):hover .menu-item-label {
  color: var(--color-gray-50);
}

@media (max-width: 1033px) {
  .App-header-language {
    margin-left: 0;
  }
}
@media (max-width: 450px) {
  .App-header-language {
    margin-left: 0;
  }

  .network-dropdown.homepage-header > button {
    padding: 0 0.8rem;
  }
}

.network-dropdown-items:focus-visible {
  border: 1px solid #262638;
}

.network-dropdown-items {
  position: absolute;
  right: 0;
  top: 4.3rem;
  min-width: 22.8rem;
  transform-origin: top right;
  overflow: hidden;
  list-style: none;
  outline: none;
  z-index: 1000;
  border-radius: 8px;
  border: 0.5px solid var(--color-slate-600);
  background: color-mix(in srgb, var(--color-slate-900) 90%, transparent);
  box-shadow: 0px 12px 40px -4px var(--color-slate-950);
  backdrop-filter: blur(50px);

  .menu-item {
    display: flex !important;
    align-items: center;
    color: var(--color-slate-100);
    font-size: 13px;
    cursor: pointer;

    &:not(.disabled):hover {
      background: var(--color-fill-surfaceHover) !important;
      opacity: 1;
      color: var(--color-typography-secondary);
    }

    > p {
      margin: 0px;
      padding-left: 1rem;
      white-space: nowrap;
    }

    > a {
      display: inline-flex;
    }
  }
}
