.network-dropdown-menu-items {
  width: 17rem;
}
.network-dropdown-menu-items .divider {
  margin-bottom: 0rem;
}

.Network-label {
  padding: 0.8rem 1rem;
  color: #a0a3c4;
}

.network-dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
}

.menu-item:hover .menu-item-label {
  color: #eee;
}

.network-dropdown-menu-item-label {
  margin-left: 0.5rem;
}

.selected-icon.Arbitrum {
  background-color: #4275a8;
}

.selected-icon.Avalanche {
  background-color: #e84142;
}

.selected-icon {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  right: 1.5rem;
}

.language-image {
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
}
