.StatusNotification-title {
  font-weight: bold;
}

.StatusNotification-items {
  margin-top: 1rem;

  .TransactionStatus-status {
    margin-right: -1.8rem !important;
  }

  .TransactionStatus-spin {
    margin-right: -0.3rem !important;
  }
}
