.event-toast-container .toast-links {
  margin-top: 1.5rem;
  font-size: var(--font-size-body-small);
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.zoomIn {
  animation: zoomIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.zoomOut {
  animation: zoomOut 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.event-toast-container .toast-links a {
  text-decoration: underline;
  font-size: var(--font-size-body-small);
  opacity: 0.7;
  display: inline;
}
.event-toast-container .toast-links a:hover {
  opacity: 1;
}

.single-toast {
  background: linear-gradient(180deg, rgba(var(--color-blue-300-raw) / 0.2), rgba(var(--color-blue-300-raw) / 0.2)),
    linear-gradient(180deg, var(--color-slate-900), var(--color-slate-900));
  backdrop-filter: blur(4px);
  color: var(--color-typography-primary);
  border: none;
  position: relative;
  border-radius: 8px;
  border: 0.5px solid var(--color-slate-600);
  width: 35rem;
  mix-blend-mode: overlay;
}

.single-toast header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid var(--color-slate-600);
  font-weight: 500;
  color: var(--color-typography-primary);
}
.single-toast header .toast-title {
  display: flex;
  align-items: center;
}
.single-toast header .cross-icon {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 8px;
  padding: 2px;
  margin-left: 1.5rem;
  flex-shrink: 0;
}
.single-toast header .cross-icon:hover {
  background: var(--color-slate-600);
}
.single-toast header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-toast header .announcement-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-typography-primary);
  flex-shrink: 0;
}
.single-toast header p {
  margin: 0;
  margin-left: 4px;
}

.single-toast .toast-body {
  line-height: 1.5;
  padding: 12px;
}

.single-toast .toast-body a {
  text-decoration: underline;
}

.single-toast .toast-body a:hover {
  color: var(--color-typography-primary);
}

.single-toast.service-disruption {
  background: linear-gradient(180deg, rgba(var(--color-red-500-raw) / 0.2), rgba(var(--color-red-500-raw) / 0.2)),
    linear-gradient(180deg, var(--color-slate-900), var(--color-slate-900));
  border: 0.5px solid rgba(var(--color-red-500-raw) / 0.3);
}
.single-toast.service-disruption header {
  border-bottom: 1px solid rgba(var(--color-red-500-raw) / 0.3);
}
