.event-toast-container .toast-links {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 0.9375rem;
  font-size: 0.875rem;
  padding: 0 1rem 1rem 1rem;
}
.zoomIn {
  animation: zoomIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.zoomOut {
  animation: zoomOut 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.event-toast-container .toast-links a {
  text-decoration: underline;
  font-size: 0.875rem;
  opacity: 0.7;
  margin-right: 1rem;
}
.event-toast-container .toast-links a:hover {
  opacity: 1;
}

.single-toast {
  background: rgba(43, 49, 85, 0.85);
  backdrop-filter: blur(4px);
  color: white;
  border: none;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ffffff29;
}
.single-toast header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ffffff29;
}
.single-toast header .toast-title {
  display: flex;
  align-items: center;
}
.single-toast header .cross-icon {
  width: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
}
.single-toast header .cross-icon:hover {
  background: #ffffff47;
}
.single-toast header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-toast header .announcement-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: white;
}
.single-toast header p {
  margin: 0;
  padding: 0.25rem 0;
  margin-left: 0.75rem;
  font-size: 1rem;
}

.single-toast .toast-body {
  margin: 0.5rem 0;
  padding: 0;
  max-width: 300px;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0 1rem;
}

@media screen and (max-width: 500px) {
  .event-toast-container {
    inset: 5rem 1rem 0 1rem;
  }
  .single-toast {
    background: rgba(43, 49, 85, 1);
  }
}
