.event-toast-container .event-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.event-toast-container .event-links a {
  text-decoration: underline;
  font-size: 14px;
  opacity: 0.7;
}
.event-toast-container .event-links a:hover {
  opacity: 1;
}

.single-toast {
  background: #333957;
  color: white;
  border: none;
  position: relative;
  border-radius: 4px;
}
.single-toast header .title-info {
  display: flex;
  align-items: center;
}
.single-toast header .cross {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
}
.single-toast header .cross:hover {
  background: #ffffff47;
}
.single-toast header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-toast header .announcement-icon {
  width: 20px;
  height: 20px;
  color: white;
}
.single-toast header p {
  margin: 0;
  padding: 0.5rem 0;
  margin-left: 0.75rem;
  font-size: 16px;
}

.toast-body {
  margin: 10px 0;
  padding: 0;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 500px) {
  .event-toast-container {
    inset: 80px 16px 0 16px !important;
  }
}
