.HeaderPromoBanner {
  background: #204891;
  padding: 1.2rem 2.4rem;
  padding-right: 4rem;
  text-align: center;
  position: relative;
}

.HeaderPromoBanner .cross-icon {
  position: absolute;
  right: 1.4rem;
  top: 50%;
  margin-top: -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
  margin-left: 1.5rem;
  flex-shrink: 0;
}
.HeaderPromoBanner .cross-icon:hover {
  background: var(--color-gray-700);
}
