$button-primary-hover: linear-gradient(0deg, #090a141a, #090a141a),
  linear-gradient(0deg, var(--color-blue-400), var(--color-blue-400));
$button-primary-pressed: linear-gradient(0deg, #090a1433, #090a1433),
  linear-gradient(0deg, var(--color-blue-400), var(--color-blue-400));

.button {
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding: 8px 12px;
  border: none;
  user-select: none;

  &.center {
    justify-content: center;
  }

  &.left {
    justify-content: start;
  }

  &.right {
    justify-content: end;
  }

  &.primary {
    background: var(--primary-btn-bg);
    color: var(--color-white);
    border-radius: 8px;

    &:not([disabled]):hover {
      background: $button-primary-hover;
    }

    &:not([disabled]):active {
      background: $button-primary-pressed;
    }
  }

  &.primary-action {
    background: var(--primary-btn-bg);
    color: var(--color-white);
    border-radius: 8px;

    &:not([disabled], .disabled):hover {
      background: $button-primary-hover;
    }

    &:not([disabled], .disabled):active {
      background: $button-primary-pressed;
    }
  }

  &.secondary {
    background-color: var(--color-slate-800);
    border-radius: 8px;
    color: var(--color-slate-100);
    position: relative;
    letter-spacing: 0;

    > .btn-image {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      max-height: 2.3rem;
      max-width: 2.3rem;
      margin-right: 1.15rem;
    }

    > .arrow-icon {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      max-width: 0.8rem;
    }

    &:not([disabled], .disabled):hover {
      background-color: var(--color-fill-surfaceHover);
      color: var(--color-white);
    }

    &:not([disabled], .disabled):active {
      background: var(--color-slate-800);
      color: var(--color-white);
    }
  }

  &.ghost {
    background-color: transparent;
    border-radius: 8px;
    color: var(--color-slate-100);
    position: relative;
    letter-spacing: 0;

    > .btn-image {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      max-height: 2.3rem;
      max-width: 2.3rem;
      margin-right: 1.15rem;
    }

    > .arrow-icon {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      max-width: 0.8rem;
    }

    &:not([disabled], .disabled):hover {
      color: var(--color-white);
      background-color: var(--color-slate-800);
    }

    &:not([disabled], .disabled):active {
      color: var(--color-white);
      background: var(--color-slate-800);
    }
  }

  &.link {
    color: var(--color-slate-100);
    text-decoration: underline;
    padding: 0;

    &.disabled {
      text-decoration: none;
    }

    &:not([disabled], .disabled):hover {
      color: var(--color-white);
    }
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
    cursor: not-allowed;

    &.primary-action,
    &.primary {
      background-color: var(--color-slate-800);
      color: var(--color-slate-500);
    }

    &.secondary {
      background-color: #1b1e32;
      color: var(--color-slate-100);
    }
  }

  &.slim {
    padding: 8px 12px;
  }
}
