.NewCollateralSelector {
  &-table {
    border-collapse: collapse;
  }

  &-collateral-logos {
    display: flex;
  }

  &-collateral-logo-first {
    position: relative;
  }

  &-collateral-logo-second {
    margin-left: calc(-24px / 2);
  }

  &-column-pool {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-column-open-fees {
    text-align: right;
  }

  &-mobile {
    &-info {
      margin: unset;
      margin-top: 1rem;
      display: grid;

      grid-template-columns: 1fr 1fr;
    }
  }
}
