.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.trans-title {
  height: 27px;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  font-family: tektur;
}

.trans-subtitle {
  height: 25px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  font-family: tektur;
  color: rgba(255, 255, 255, 0.71);
}

.input-box {
  display: flex;
  width: 52.78px;
  height: 52.78px;
  padding: 13.476px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8.984px;
  color: #fa2424;
  border: 1px solid rgba(250, 36, 36, 0.82);
  background: rgba(250, 36, 36, 0.1);
  text-align: center;
  font-family: tektur;
  font-weight: 600;
}

.input-box.input-error {
  border-color: rgba(224, 36, 36, 0.1);
  background: #2d1a1a;
}

.inputs-wrapper {
  display: flex;
  margin-top: 24px;
  gap: 14px;
}

.resend-code {
  margin-top: 30px;
  border: none;
  background: none;
  text-decoration: underline;
  color: #ff7028;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  font-family: tektur;
  text-underline-offset: 2px;
}

.resend-code:hover {
  color: #ff8548;
}
