@keyframes blink {
  50% {
    background-color: #50577e99;
    box-shadow: none;
  }
}

.OrderItem-tooltip-row {
  margin-top: 2rem;
}

.Exchange-list-item {
  &.active-order {
    animation: blink 1.5s;
    animation-iteration-count: 2;
  }
}
