.OrderItem-tooltip-row {
  margin-top: 2rem;
}
.Exchange-list-item {
  &.active-order {
    background: linear-gradient(90deg, rgba(30, 34, 61, 1) 0%, rgba(38, 43, 71, 1) 100%);
    box-shadow: inset 0px 0px 3rem 0.5rem rgba(255, 255, 255, 0.01);
  }
}
