@keyframes fadeOut {
  from {
    background-color: rgba(38, 43, 71, 1);
    box-shadow: inset 0px 0px 3rem 0.5rem rgba(255, 255, 255, 0.01);
  }
  to {
    background-color: transparent;
    box-shadow: none;
  }
}

.OrderItem-tooltip-row {
  margin-top: 2rem;
}

.Exchange-list-item {
  &.active-order {
    animation: fadeOut 2s forwards;
  }
}
