.TradeHistoryRow {
  padding: 1.5rem;
  margin-bottom: 0.8rem;

  .plain {
    display: inline-block;
  }
}

.TradeHistoryRow-time {
  font-size: 1.25rem;
  margin-bottom: 0.155rem;
}

.TradeHistoryRow-message:hover {
  .Tooltip-error {
    .Tooltip-handle {
      color: #fb5971;
      text-decoration-color: #fb5971;
    }
  }
}
