.setting-dropdown-icon-wrapper {
  position: relative;
  margin-left: 2.4rem;
}

.settings-dropdown-icon {
  width: 4.1rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  border: 1px solid #ffffff29;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.settings-dropdown-icon img {
  width: 20px;
  height: 20px;
}

.settings-dropdown-menu-items {
  width: 17rem;
}

.settings-dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
}

.settings-dropdown-menu-item__prepend,
.menu-item__prepend {
  width: 1.6rem;
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
}

.settings-dropdown-menu-item__append,
.menu-item__append {
  width: 1.6rem;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.settings-dropdown-menu-item-label,
.menu-item-label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  color: #a0a3c4;
}

.menu-item:hover .menu-item-label {
  color: #eee;
}

.settings-language-menu {
  margin-top: 0.8rem;
}

.setting-dropdown-icon-wrapper {
  position: relative;
  margin-left: 2.4rem;
}
.language-image {
  border-radius: 50%;
}

@media (max-width: 1033px) {
  .setting-dropdown-icon-wrapper {
    margin-left: 1.6rem;
  }
}

@media (max-width: 450px) {
  .setting-dropdown-icon-wrapper {
    margin-left: 0.6rem;
  }
}
