.App-card {
  min-height: 430px;
  padding: 0;
  transition: all 0.3s ease;

  .pnl-chart {
    padding: 0;
  }
  .App-card-title {
    font-size: 2rem;
    font-weight: 500;
    // border: none;
  }
  .time-frame-toggle {
    display: flex;
    gap: 0.5rem;

    .button {
      font-size: 1.3rem;
      font-weight: 500;
      padding: 0.8rem 1.2rem !important;
      border-radius: 0.8rem;
      color: #A3A3A3;
      background-color: transparent;

      &:not([disabled]):hover {
        color: #fff;
        background-color: transparent !important;
      }

      &:not([disabled]):active {
        color: #fff;
        background-color: #1F1F1F !important;
      }

      &.primary {
        color: #fff !important;
        background-color: #1F1F1F !important;

        &:not([disabled]):hover {
          background-color: transparent !important;
        }

        &:not([disabled]):active {
          background-color: transparent !important;
        }
      }
    }
  }
}
