.AlertInfo.smallMargin {
  margin-bottom: 0.8rem;
}

.AlertInfo.noMargin {
  margin-bottom: 0;
}

.AlertInfo {
  display: flex;
  margin-bottom: 1.6rem;

  &-icon {
    padding-right: 0.6rem;
    padding-top: 0.2rem;

    svg {
      display: block;
      path {
        fill: currentColor;
      }
    }
  }

  &-text {
    font-size: var(--font-size-body-medium);
    line-height: var(--line-height-body-medium);
  }
}
