.StatusNotification-wrapper {
  .StatusNotification-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem 0.8rem 0.8rem;

    .StatusNotification-cancel-all {
      background: transparent;
      border: none;
      padding: 0;
      color: var(--color-gray-300);
      text-decoration: underline;

      &:hover {
        color: var(--color-typography-primary);
      }
    }
  }
}

.StatusNotification-background {
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100px;
  right: 0;
  bottom: -100px;
}

.Toastify__toast.OrdersStatusNotificiation {
  padding: 0;
  position: relative;

  .Toastify__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .Toastify__toast-body {
    padding: 0;

    .StatusNotification-wrapper {
      .StatusNotification-list {
        .StatusNotification {
          padding: 0.8rem 1rem;

          &:not(:last-child) {
            border-bottom: 1.5px #0f463d solid;
          }
        }
      }
    }
  }
}

.Toastify__toast--error {
  & .StatusNotification-title {
    color: var(--color-red-500);
  }

  & .StatusNotification {
    color: var(--color-red-100);
  }

  & .close-toast-button > svg {
    color: var(--color-red-500) !important;
  }
}

.Toastify__toast--success {
  & .StatusNotification-title {
    color: var(--color-green-500);
  }

  & .StatusNotification {
    color: var(--color-green-100);
  }

  & .close-toast-button > svg {
    color: var(--color-green-500) !important;
  }
}
