.StatusNotification-wrapper {
  .StatusNotification-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem 0.8rem 0.8rem;

    .StatusNotification-cancel-all {
      background: transparent;
      border: none;
      padding: 0;
      color: var(--color-gray-300);
      text-decoration: underline;

      &:hover {
        color: var(--color-white);
      }
    }
  }
}

.Toastify__toast.OrdersStatusNotificiation {
  padding: 0;
  position: relative;

  .Toastify__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .Toastify__toast-body {
    padding: 0;

    .StatusNotification-wrapper {
      .StatusNotification-list {
        .StatusNotification {
          padding: 0.8rem 1rem;
          &.error {
            background-color: rgba(174, 43, 63, 1);
          }
          &:not(:last-child) {
            border-bottom: 1.5px #0f463d solid;
          }
        }
      }
    }
  }
}

.Toastify__toast.SubaccountNotification {
  padding: 0;
  position: relative;

  .Toastify__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .Toastify__toast-body {
    padding: 0;
  }

  .StatusNotification {
    padding: 0.8rem;
  }
}

.StatusNotification-content {
  position: relative;
  z-index: 1;
}

.StatusNotification-title {
  font-weight: bold;
}

.StatusNotification-items {
  margin-top: 1rem;
}
