.StatusNotification-wrapper {
  .StatusNotification-list {
    display: grid;
    grid-row-gap: 1.25rem;
  }
  .StatusNotification-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
    margin-right: -1.8rem;

    .StatusNotification-cancel-all {
      background: transparent;
      border: none;
      padding: 0;
      color: var(--text-gray);
      text-decoration: underline;

      &:hover {
        color: white;
      }
    }
  }
}

.StatusNotification {
  position: relative;

  &:not(:last-child) {
    .StatusNotification-background {
      .Notification-divider {
        position: absolute;
        left: 0;
        bottom: -1.5px;
        height: 1.5px;
        width: 100%;
        background: #0f463d;
        z-index: 2;
      }
    }
  }
}

.StatusNotification-background {
  position: absolute;
  top: -12%;
  left: -10%;
  right: auto;
  width: 150%;
  height: 120%;
  bottom: 0;
  background-color: rgba(174, 43, 63, 0);
  transition: background-color 0.3s ease-in-out;

  &.error {
    background-color: rgba(174, 43, 63, 1);
  }
}

.StatusNotification:last-child {
  .StatusNotification-background {
    height: 150%;
  }
}

.StatusNotification-content {
  position: relative;
  z-index: 1;
}

.StatusNotification-title {
  font-weight: bold;
}

.StatusNotification-items {
  margin-top: 1rem;

  .TransactionStatus-status {
    margin-right: -1.8rem !important;
  }

  .TransactionStatus-spin {
    margin-right: -0.3rem !important;
  }
}
