.TradeFeesRow {
  opacity: 1;

  .Exchange-info-label {
    opacity: 1;
    color: rgba(255, 255, 255, 0.7);
  }
}

.TradeFeesRow-tooltip {
  .Tooltip-popup {
    min-width: 32rem;

    .Tooltip-row:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.TradeFeesRow-warning-tooltip {
  .Tooltip-handle {
    color: rgb(243, 181, 12);
    text-decoration-color: rgb(243, 181, 12);
  }

  .Tooltip-popup {
    color: white;
  }
}
