.TradeFeesRow-tooltip {
  .Tooltip-popup {
    min-width: 32rem;

    .Tooltip-row:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.TradeFeesRow-warning-tooltip {
  .Tooltip-handle {
    color: rgba(var(--color-yellow-300));
    text-decoration-color: rgba(var(--color-yellow-300));
  }

  .Tooltip-popup {
    color: rgba(var(--color-typography-primary));
  }
}

@media (max-width: 700px) {
  .TradeFeesRow-tooltip {
    .Tooltip-popup {
      min-width: 31rem;
    }
  }
}
