.TradeFeesRow {
  opacity: 1;

  .Exchange-info-label {
    opacity: 1;
    color: var(--color-gray-400);
  }
}

.TradeFeesRow-tooltip {
  .Tooltip-popup {
    min-width: 32rem;

    .Tooltip-row:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.TradeFeesRow-warning-tooltip {
  .Tooltip-handle {
    color: var(--color-yellow-500);
    text-decoration-color: var(--color-yellow-500);
  }

  .Tooltip-popup {
    color: var(--color-white);
  }
}

@media (max-width: 700px) {
  .TradeFeesRow-tooltip {
    .Tooltip-popup {
      min-width: 31rem;
    }
  }
}
