.trader-account-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trader-account-label .trader-address {
  display: inline-block;
  margin-left: 0.5rem;
}

.trader-account-avatar {
  display: inline-block;
  border-radius: 50%;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
