.GT-header-left {
  height: 3.2rem;
  min-width: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  padding-left: 0.8rem;
  @media (max-width: 768px) {
    // padding-left: 1.2rem;
    padding-left: 0;
  }
}

.sonala-data {
  border-left: 0.15rem solid #FA7B4E;
  background:#1F2343;
  gap: 0.8rem;
  border-left-width: 0.15rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.6rem 0.6rem 0.8rem;
  width: fit-content;

  span {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
  }

  img {
    flex-shrink: 0;
  }
}
