.page-body {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.body-para .subheading {
  margin: 0;
}

.mt-lg {
  margin-top: 2rem;
}

.jobs-contact {
  line-height: 1.5;
}

@media (max-width: 700px) {
  .page-body {
    grid-template-columns: 1fr;
  }
}
