.Page-title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  line-height: 1;

  &.gapTop {
    margin-top: 2.5rem;
  }

  .Page-title-group {
    display: inline-flex;
    margin-bottom: 0.8rem;

    .Page-title__text {
      margin: 0;
      font-weight: 700;
    }

    .Page-title__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.8rem;
    }
  }
}

@media screen and (width <= 1000px) {
  .Page-title-wrapper {
    margin-bottom: 1rem;

    &.gapTop {
      margin-top: 2rem;
    }

    .Page-title-group {
      .Page-title__text {
        font-size: var(--font-size-h1);
      }
    }
  }
}
