.team-leaderboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.team-leaderboard-header .transparent-btn .ml-small {
  margin-left: 0.775rem;
}

.leaderboard-search-input {
  padding-right: 3rem !important;
}

.leaderboard-table-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
