.leaderboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.leaderboard-header .transparent-btn .ml-small {
  margin-left: 0.775rem;
}

.leaderboard-search-input {
  padding: .8rem;
  padding-right: 3rem !important;
  border-radius: var(--border-radius-sm);
}

.leaderboard-search-input:hover {
  background: var(--dark-blue-hover);
}
