.AssetDropdown-wrapper {
  position: relative;
}

.asset-menu-items {
  position: absolute;
  border: 1px solid var(--color-gray-800);
  border-radius: 0.4rem;
  background: var(--dark-blue);
  outline: none;
  z-index: 100;
  white-space: nowrap;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 0.8rem;
  cursor: pointer;
  color: var(--color-white);
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.asset-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-slate-100);
  text-decoration: none;
  padding: 0.85rem 0.8rem;
  font-size: var(--font-sm);
  text-align: left;

  &:hover {
    background: var(--dark-blue-hover);
    color: var(--color-white);
    border-radius: 0.4rem;
  }

  p {
    margin: 0;
    margin-left: 0.5rem;
  }

  .asset-item-icon {
    max-height: 1.6rem;
    max-width: 1.6rem;
  }
}

@media (max-width: 1100px) {
  .asset-menu-items {
    min-width: 18rem;
    width: auto;

    &.left {
      right: 0;
    }

    &.center {
      transform: translate(-60%, 0);
    }
  }
}

@media (max-width: 400px) {
  .asset-menu-items {
    width: 25rem;
    white-space: normal;
  }
}

@media (max-width: 350px) {
  .asset-menu-items {
    width: 18rem;
  }
}
