.AssetDropdown-wrapper {
  position: relative;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 0.8rem;
  cursor: pointer;
  color: var(--color-slate-100);
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.asset-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-slate-100);
  text-decoration: none;
  padding: 8px 12px;
  font-size: var(--font-size-body-medium);
  text-align: left;

  &:hover {
    background: var(--color-slate-800);
    color: var(--color-typography-primary);
  }

  p {
    margin: 0;
    margin-left: 8px;
    font-weight: 500;
  }

  .asset-item-icon {
    max-height: 1.6rem;
    max-width: 1.6rem;
  }
}
