.MarketSelector {
  &.side-menu {
    .Modal {
      align-items: flex-start;
      justify-content: flex-end;

      .Modal-content {
        width: 42rem;
        position: absolute;
        max-height: 100vh;
        top: 0;
        bottom: 0;
        overflow: hidden;
        border: none;
      }
    }
  }
}

.collaterals-logo {
  display: flex;

  .collateral-logo-first {
    position: relative;
  }

  .collateral-logo-second {
    margin-left: -2rem;
  }
}

@media (max-width: 1100px) {
  .MarketSelector {
    &.side-menu {
      .Modal {
        align-items: center;
        justify-content: center;
      }
    }
  }
}
