.SyntheticsStats {
  margin: 20px;
  text-align: left;
}

.SyntheticsStats td,
.SyntheticsStats th {
  padding: 10px 10px;
  position: relative;
  vertical-align: top;
}

.SyntheticsStats {
  .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }

  th {
    text-align: center;
  }
}

.SyntheticsStats td .SyntheticsStats-share-bar {
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  margin-top: 5px;
  height: 2px;
}

.SyntheticsStats td .SyntheticsStats-share-bar-fill {
  height: 100%;
  background: #fff;
}

.SyntheticsStats .warn .SyntheticsStats-share-bar-fill {
  background: orange;
}

.SyntheticsStats .warn {
  color: orange;
}

.SyntheticsStats-swap-section {
  display: flex;
}
