.margin-bottom {
  margin-bottom: 0.465rem;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-xs {
  margin-top: 0.5rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 1.5rem;
}

.mr-sm {
  margin-right: 1rem;
}

.mr-md {
  margin-right: 1.5rem;
}

.mr-xxs {
  margin-right: 0.25rem;
}
.mr-xs {
  margin-right: 0.5rem;
}

.ml-xxs {
  margin-left: 0.25rem;
}
.ml-xs {
  margin-left: 0.5rem;
}
.ml-sm {
  margin-left: 1rem;
}

.mx-xs {
  margin: 0 0.5rem;
}

.my-sm {
  margin: 1rem 0;
}

.my-base {
  margin: 1.5rem 0;
}

.mx-xxs {
  margin: 0 0.25rem;
}

.m-sm {
  margin-right: 1rem;
}
.m-md {
  margin: 1.5rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-base {
  margin-bottom: 1.5rem;
}
