.LeverageSlider {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding: 0 0.8rem 0 0;

  .rc-slider-tooltip-inner {
    padding: 0.5rem 0.8rem;
    background: var(--color-slate-600);
    box-shadow: none;
  }

  .rc-slider-tooltip {
    z-index: 5;
  }

  .rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    border-top-color: var(--color-slate-600);
  }

  .rc-slider-rail {
    // background: linear-gradient(90deg, rgb(30 34 61) 0%, rgb(40 45 74) 100%);
    background: #1F1F1F;
  }

  .rc-slider-track {
    background-color: #FA7B4E;
  }

  .rc-slider-dot {
    background: #181818;
    border-color: #1F1F1F;
  }

  .rc-slider-dot-active {
    background: #181818;
    border-color: #FA7B4E;
  }

  .rc-slider-handle {
    border: solid 2px #FA7B4E;
    background: #181818;
  }

  .rc-slider-handle:active {
    box-shadow: 0 0 0.4rem 0.6rem
      color-mix(in srgb, var(--color-primary-600), transparent 80%);
  }

  .rc-slider-mark-text,
  .rc-slider-mark-text-active {
    color: #A3A3A3;
    opacity: 0.5;
  }

  .rc-slider-mark-text:hover,
  .rc-slider-mark-text-active:hover {
    opacity: 1;
  }

  .rc-slider-mark-text[style*="left: 0%"],
  .rc-slider-mark-text-active[style*="left: 0%"] {
    padding-left: 0.8rem;
  }

  .rc-slider-mark-text[style*="left: 100%"],
  .rc-slider-mark-text-active[style*="left: 100%"] {
    padding-right: 1.2rem;
  }
}
