.OfficialSiteModal {

    .Modal-header-wrapper {
        margin: 2rem 2rem 1.6rem 2rem;

        .Modal-title {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    .modal-content {
        padding: 5.7rem;
        display: flex;
        flex-direction: column;

        .message {
            font-size: 1.4rem;
            line-height: 1.6;
            color: #e5e7eb;
            margin: 0;
            text-align: center;

            .link {
                color: #ffffff;
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    color: #e5e7eb;
                }
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: center;
        padding: 1.2rem 2rem 2rem 2rem;

        .btn {
            width: 100%;
            padding: 1.2rem 2rem;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}