.MarketFilterLongShort-container {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.MarketFilterLongShort-button {
  padding: 6px 10px !important;
  flex: 1;
}
