.Selector .Modal-content {
  width: 20rem;
  margin: 0;
}

.Selector.disabled {
  pointer-events: none;
}

.Selector.disabled .Selector-caret {
  display: none;
}

.Selector-box {
  display: block;
  cursor: pointer;
  font-weight: normal;
  border-radius: 0.6rem;
  text-align: right;
  white-space: nowrap;
}

.Selector-box:hover {
  color: #8763ff;
}

.Selector-caret {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: -0.2rem;
}

.Selector-option {
  cursor: pointer;
  padding: 1.2rem 0.6rem 1.2rem 0.7rem;
  margin-bottom: 0.3rem;
  background: linear-gradient(270deg, rgba(45,66,252,0.15) 0%, rgba(45,66,252,0.4) 100%);
}

.Selector-option:hover {
  background: linear-gradient(270deg, rgba(45,66,252,0.3) 0%, rgba(45,66,252,0.8) 100%);
}

.Selector-option:first-child {
  border-radius: 3px 3px 0 0;
}

.Selector-option:last-child {
  border-radius: 0 0 3px 3px;
}

.Selector-text {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1100px) {
  .Selector .Modal {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .Selector .Modal-content {
    width: auto;
  }
}
