.PoolsPage-content {
  display: flex;
  justify-content: space-between;
}

.PoolsPage-content .PoolsPage-swap-box {
  max-width: 47.95rem;
}

@media (max-width: 900px) {
  .PoolsPage-content {
    flex-wrap: wrap;
  }
}
