.AcceptablePriceImpactInputRow-handle {
  position: relative;
  z-index: 1;
  display: inline-flex;
  color: var(--color-gray-300);
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-gray-300);

  &:hover {
    color: var(--color-white);
    text-decoration-color: var(--color-white);
  }
}

.AcceptablePriceImpactInputRow-na {
  line-height: 2.3rem;
}
