.PoolsDetails-content {
  display: flex;
  justify-content: space-between;
}

.PoolsDetails-content .PoolsDetails-swap-box {
  max-width: 44rem;
  width: 100%;
}

@media (max-width: 1180px) {
  .PoolsDetails-content {
    flex-wrap: wrap;
  }

  .PoolsDetails-content .PoolsDetails-swap-box {
    max-width: none;
    width: 100%;
  }
}
