.jobs-page-body {
  /* margin: 3rem 0; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  color: var(--color-gray-300);
}

.jobs-page-body a {
  color: var(--color-gray-300);
}

.body-para .subheading {
  margin: 0;
}

.mt-lg {
  margin-top: 2rem;
}

.jobs-contact {
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .jobs-page-body {
    grid-template-columns: 1fr;
  }
}
