.compose-keepLeverage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: -2rem;

    .title {
        font-size: 1.4rem;
        color: #A3A3A3;
        font-weight: 500;
    }

    .toggle-switch-wrapper {
        .toggle-switch {
            width: 3.6rem;
            height: 2rem;
        }

        .toggle-switch-handle {
            width: 1.8rem;
            height: 1.8rem;
        }

        .toggle-switch-handle.checked {
            left: 1.6rem;
        }
    }
}