.MarketTokenSelector {
  position: relative;
  margin-top: -5px;
  margin-left: -5px;

  .Market-index-name {
    color: var(--color-white);
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2.1rem;
    font-weight: 400;
  }

  .Market-subtext {
    color: var(--color-gray-400);
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: left;
  }

  .chart-token-selector {
    border: none;
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    padding: 0;
    border-radius: var(--border-radius-sm);

    &:hover {
      color: var(--color-blue-300);
      span,
      .Market-subtext {
        color: var(--color-blue-300);
      }
    }
  }

  .chart-token-label--active {
    color: var(--color-blue-300);
    span {
      color: var(--color-blue-300);
    }
  }

  .chart-token-selector--current {
    font-weight: 700;
    margin-right: 1rem;
    color: var(--color-white);
    vertical-align: bottom;

    .chart-token-current-icon {
      margin-right: 0.75rem;
    }
  }

  .chart-token-menu-items.menu-items {
    max-width: 55rem;
    top: 5.5rem;
    right: unset;
    left: 0;
    cursor: auto;
  }

  .chart-token-menu-items .menu-item {
    font-size: var(--font-sm);
    height: 3.4rem;
    color: var(--color-slate-100);
  }

  .chart-token-list {
    overflow-x: auto;
    $header-height: 32px;
    $row-height: 34.5px;
    $rows-to-show: 10;
    max-height: $header-height + $row-height * $rows-to-show;
    padding-bottom: 1rem;

    table {
      width: 100%;
      text-align: left;
      font-size: var(--font-sm);
      border-collapse: collapse;
    }
    thead {
      display: table-header-group;
      position: sticky;
      top: 0;
      background: var(--color-slate-800);
      z-index: 2;
      tr {
        th {
          &:first-child {
            padding-left: 1.5rem;
          }
          padding: 0.75rem 1.5rem 0.75rem 0;
          font-weight: normal;
          letter-spacing: 0.25px;
          color: var(--color-gray-400);
          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        background-color: var(--dark-blue-bg);
        border-radius: var(--border-radius-sm);
        cursor: pointer;
        &:hover {
          background-color: var(--dark-blue-hover);
          border-radius: var(--border-radius-sm);
        }
        td {
          &:first-child {
            padding-left: 1.5rem;
          }
          padding: 0.75rem 1.5rem 0.75rem 0;
          white-space: nowrap;
          font-weight: 400;

          &.token-item {
            color: var(--color-slate-100);

            .ChartToken-list-icon {
              margin-right: 0.75rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .chart-token-menu-items.menu-items {
    top: 5.7rem;
  }
}

@media (max-width: 380px) {
  .chart-token-selector {
    font-size: 1.6rem;
  }
}
