@use "src/styles/slide-up" as *;

.SelectorBase {
  &-button {
    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover:not(&-disabled),
    &:hover:not(&-disabled) * {
      color: var(--color-blue-300);
    }

    &-disabled {
      cursor: text;
      opacity: 1;
    }
  }

  &-panel {
    position: relative;
    z-index: 1000;

    font-size: var(--font-size-body-small);

    border-radius: var(--border-radius-sm);
    background-color: var(--dark-blue-bg);
    border: 1px solid var(--color-gray-800);
    overflow: hidden;
  }

  &-mobile-modal {
    .Modal-content {
      top: auto;
      bottom: auto;
      position: absolute;

      width: 100vw;

      bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      height: 80vh;

      border: 1px solid var(--color-gray-800);
      border-bottom: none;

      @include slide-up;
    }
  }
}

.SelectorBaseUtils {
  &-row {
    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-mobile-row {
    appearance: none;
    border: unset;
    background-color: unset;
    padding: unset;
    margin: unset;
    text-align: unset;

    color: inherit;
    font-size: var(--font-size-body-medium);

    border: 1px solid var(--color-gray-800);
    border-radius: var(--border-radius-sm);
    padding: 0.8rem;

    &:hover,
    &:active {
      background: var(--color-cold-blue-900);
      box-shadow: inset 0px 0px 3rem 0.5rem rgba(255, 255, 255, 0.01);
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
