.section-center {
  margin: 0 auto;
  text-align: center;
}

.referral-card {
  position: relative;
  padding: 2.4rem;
  max-width: 60rem;
  background: var(--color-slate-900);
  border-radius: 8px;
}

.referral-card .title {
  font-weight: 500;
  font-size: var(--font-size-h2);
  line-height: auto;
  color: var(--color-typography-primary);
  padding: 0.775rem 0;
  margin: 0;
}

.referral-card .sub-title {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
  letter-spacing: 0px;
  color: var(--color-typography-primary);
  margin-top: 1.1625rem;
}

.referral-card .card-action {
  margin-top: 3.1rem;
}

.referral-card .card-action input {
  border: 1px solid var(--color-gray-800);
  font-size: var(--font-size-body-medium);
  width: 100%;
  box-sizing: border-box;
  margin-right: 1.5rem;
}

.list {
  margin-top: 3.1rem;
}

.active-referral-code .tier {
  margin-top: 0.775rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-referral-modal {
  width: 31rem;
}

.referral-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.referral-table-header .title {
  margin: 0;
}

.referral-text {
  margin-right: 0.775rem;
  font-family: monospace;
}

.referral-code-icon {
  cursor: pointer;
  display: inline-flex;
}

.card-data {
  font-size: var(--font-size-body-large);
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 1.5rem 0;
}

.AffiliateCode-error {
  margin: 0;
  padding: 0.775rem 0 1.5rem;
  color: var(--error-red);
  font-size: var(--font-size-body-small);
}

.empty-message {
  margin: 4.65rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  border-radius: 8px;
  background: var(--color-slate-900);
  font-size: var(--font-size-body-medium);
  color: var(--color-slate-100);
  flex-direction: column;
}
