.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.pagination-buttons>button:not(:last-child) {
  margin-right: 0.8rem;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.pagination-btn-middle {
  display: flex;
  margin: 0 1rem;
}

@media screen and (width <=450px) {

  .pagination-btn {
    font-size: 1.4rem !important;
  }

  .pagination-btn-middle {
    margin: 0 1rem;
  }

  .pagination-btn {
    padding: 0;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination .pagination-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 500;
  margin-right: 0.8rem;
}

.pagination .pagination-buttons .button {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  padding: 0;
  border-radius: 0.8rem !important;
  border: none;
  font-size: 1.4rem;
  line-height: normal;
}

.pagination .pagination-buttons .button img {
  display: block;
}

.pagination .pagination-buttons .button:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.pagination .pagination-buttons .button:disabled img {
  opacity: 0.45;
}
