.net-fees-over-time {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding-bottom: 0.5rem;
    display: inline-flex;
    margin-right: 0.5rem;
  }

  li:last-child {
    margin-right: 0;
  }
  .net-fee__period {
    margin-right: 0.25rem;
  }
}
