.Positions-overview-stats {
  line-height: 1.5;
}

.Positions-overview-table {
  border-collapse: collapse;
  min-width: max-content;
}

.Positions-overview th {
  opacity: 0.5;
  font-weight: normal;
  text-align: left;
  padding: 0.8rem 1.5rem 0.8rem 0;
}

.Positions-overview td {
  border-top: 1px solid var(--color-gray-900);
  padding: 0.8rem 1.5rem 0.8rem 0;
}

.Positions-overview .near {
  color: orange;
}
.Positions-overview .near.negative {
  color: var(--error-red);
}
