.input-form {
  max-width: 38.75rem;
}

.input-row {
  margin-bottom: 1.5rem;
}

.input-label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.text-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.input-small {
  padding: .9rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
}

.input-wrapper .input-logo {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  opacity: .6;
  transform: translateY(-50%);
}
