html,
body,
#root {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-size: 10px;
  background-color: var(--main-bg-color);
}

/**
 * @see https://aykevl.nl/2014/09/fix-jumping-scrollbar
 * Used body selector and !important to avoid collisions with [data-scroll-locked] attribute
 * attached by react-remove-scroll lib, which is uncontrollable.
 */
body {
  width: 100vw;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Relative", sans-serif;
  letter-spacing: 0.05rem;
}

input {
  font-family: "RelativeNumber";
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-slate-800);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-slate-100);
  border-radius: 1.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b4c2;
}
:root {
  --main-bg-color: var(--color-slate-900);
  --dark-blue: var(--color-slate-800);
  --dark-blue-bg: var(--color-slate-800);
  --dark-blue-accent: var(--color-slate-100);
  --primary-btn-bg: var(--color-blue-600);
  --primary-btn-hover: var(--color-blue-400);
  --primary-btn-active: color-mix(in srgb, var(--color-blue-300), var(--color-blue-400) 90%);
  --dark-blue-hover: var(--color-cold-blue-900);
  --dark-blue-border: var(--color-gray-800);
  --dark-blue-active: var(--color-cold-blue-700);
  --text-gray: var(--color-gray-300);
  --warning-yellow: var(--color-yellow-500);
  --avax-red: #e84143;
  --arbitrum-blue: #28a0f0;
  --border-radius-sm: 0.4rem; // 4px
  --error-red: var(--color-red-500);
  --error-red-hover: var(--color-red-400);
  --green: var(--color-green-500);
  --font-sm: 1.4rem;
  --font-base: 1.5rem; // 15px
  --font-md: 1.6rem;
  --font-lg: 2.4rem;
  --font-xl: 3.4rem;

  --default-container-max-width: 126.4rem;
  --default-container-padding: 3.2rem;
  --default-container-padding-mobile: 1rem;
}

a {
  color: var(--color-white);
}

.Card-title {
  font-size: 3.1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-size: 2rem;
  color: var(--color-white);
  outline: none;
  background: none;
  border: none;
  padding: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

button {
  outline: none;
  cursor: pointer;
}

button:disabled,
button.App-cta:disabled {
  cursor: not-allowed;
  opacity: 0.9;
  box-shadow: none;
}

table {
  margin: 0;
  padding: 0;
}

tr {
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 0;
  padding-right: 0.465rem;
}

.align-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.muted {
  opacity: 0.7;
}

.strong {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.transition-arrow {
  vertical-align: middle;
  margin-top: -0.31rem;
}

.label,
.label a {
  color: var(--color-gray-300);
}

ul {
  padding-left: 2.325rem;
  margin-bottom: 0;
}

ul li {
  padding-bottom: 1.5rem;
}

a.plain {
  text-decoration: none;
}

.checkbox:checked:before {
  background-color: green;
}

.default-btn {
  background: var(--color-blue-600);
  border-radius: 4px;
  font-size: var(--font-sm);
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: var(--color-white) !important;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  /* padding: 9px 16px!important; */
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  min-height: 3.6rem;
  display: inline-flex !important;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  appearance: none;
}

.default-btn:hover {
  background: var(--primary-btn-hover);
}

s .default-btn:active {
  background: var(--primary-btn-active);
  border: none;
  overflow: hidden;
}

.default-btn:disabled {
  background: #2d2e3f 0% 0% no-repeat padding-box;
  color: #ffffff61;
}

.default-container {
  max-width: var(--default-container-max-width);
  padding-left: var(--default-container-padding);
  padding-right: var(--default-container-padding);
  margin: 0 auto;

  @media (max-width: 600px) {
    padding-left: var(--default-container-padding-mobile);
    padding-right: var(--default-container-padding-mobile);
  }
}

.default-container-mobile-one-sided {
  max-width: var(--default-container-max-width);
  margin: 0 auto;
  padding-left: var(--default-container-padding);
  padding-right: var(--default-container-padding);

  // Media order matters
  @media (max-width: 1264px) {
    margin-left: var(--default-container-padding);
    padding-left: 0;
    max-width: none;
  }

  @media (max-width: 600px) {
    margin-left: var(--default-container-padding-mobile);
    padding-left: 0;
    max-width: none;
  }
}

.secondary-btn {
  background: #03d1cf;
  border-radius: 4px;
  font-size: var(--font-sm);
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: black;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  /* padding: 9px 16px!important; */
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  min-height: 3.6rem;
  border: none;
  display: inline-flex !important;
  align-items: center;
  text-align: center;
}

.secondary-btn:hover {
  background: #3fdad9;
}

.secondary-btn:focus {
  background: #54dedd;
  border: 1px solid #1cb5b4fc;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.secondary-btn:active {
  background: #54dedd;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  /* padding: 9px 16px; */
}

.secondary-btn:active::after {
  opacity: 0.239;
  content: " ";
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  left: calc(50% - 2.6rem);
  top: -0.8rem;
  background: white;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 500ms linear;
}

.secondary-btn:disabled {
  background: #2d2e3f 0% 0% no-repeat padding-box;
  color: #ffffff61;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0.4;
  }
}

button.btn-link {
  margin-top: 1.5rem;
  background: none;
  color: var(--color-white);
  border: none;
  padding: 0;
  font-size: var(--font-base);
  display: block;
  text-align: left;
}

.logout-icon {
  vertical-align: middle;
  font-size: 1.7rem;
  margin-top: -0.31rem;
  margin-right: 0.5rem;
  margin-left: -0.465rem;
  opacity: 0.8;
}

button.btn-link:hover {
  text-decoration: underline;
}

button.btn-link:hover .logout-icon {
  opacity: 1;
}

.page-container {
  padding-top: 6.2rem;
}

.default-sm-container {
  max-width: 108.8rem;
}

.page-layout {
  min-height: calc(100vh - 62px);
  display: flex;
  flex-direction: column;
  padding-bottom: calc(4.65rem + 20rem);
  padding-top: 4.65rem;
}

.default-cursor.App-cta {
  cursor: default;
}

.gap-right > *:not(:last-child) {
  margin-right: 1rem;
}

.debug-key {
  overflow-wrap: break-word;
  max-width: 30rem;
}

.subtext {
  font-size: 1.2rem;
  color: var(--color-gray-300);
  margin-left: 0.25rem;
}

a:hover .text-red {
  color: var(--error-red-hover);
}

.Toastify__toast-container {
  width: 37rem;
}

@media screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
  }
}

.gap-right-xs > *:not(:last-child) {
  margin-right: 0.5rem;
}
