@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Restore native webkit behavior */
    @apply leading-base;
  }

  input,
  textarea {
    /* Restore native webkit behavior */
    @apply placeholder-gray;
  }
}

@layer components {
  @screen sm {
    .text-heading-1 {
      letter-spacing: -5.2px !important;
    }
  }
  .text-heading-1 {
    @apply text-50 font-medium leading-heading-lg sm:text-100;
    letter-spacing: -2.6px !important;
  }
  .text-heading-2 {
    @apply text-80 font-medium leading-heading-lg;
    letter-spacing: -4.16px;
  }
  .text-heading-3 {
    @apply text-32 font-medium leading-heading-md;
    letter-spacing: -0.96px;
  }

  .text-heading-4 {
    @apply text-24 leading-heading-md;
    letter-spacing: -0.96px;
  }

  .text-subheadline {
    @apply text-14 font-medium leading-text-sm text-secondary;
    letter-spacing: 0.028px;
  }

  .text-description {
    @apply text-16 font-normal leading-text-sm text-secondary;
    letter-spacing: 0.028px;
  }

  .btn-landing-bg {
    @apply bg-blue-600;
    &:hover {
      @media (hover: hover) {
        background: linear-gradient(0deg, rgba(9, 10, 21, 0.1) 0%, rgba(9, 10, 21, 0.1) 100%), var(--color-blue-600);
      }
    }
    &:active {
      @media (hover: hover) {
        background: linear-gradient(0deg, rgba(9, 10, 21, 0.2) 0%, rgba(9, 10, 21, 0.2) 100%), var(--color-blue-600);
      }
    }
  }
}
