@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap");

.theme-dark:root {
  --tv-color-pane-background: #16182e;
  /*
  --tv-color-pane-background-secondary: #16182e;
  --tv-color-toolbar-button-text-active-hover: #fff;
  --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-expanded: #16182e;
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-toolbar-button-text-active: red;
  --tv-color-item-active-text: rgb(6, 255, 6);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta; */
}

.resolution-btn {
  cursor: pointer;
}
.resolution-btn:hover {
  opacity: 0.7;
}
.active-resolution-btn {
  color: red !important;
}
