.order-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: grid;
  grid-row-gap: 0.5rem;
}
.order-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-blue-hover);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.3rem;
}

.order-list li:not(:first-child) {
  margin-bottom: 0.5rem;
}

.order-list li p {
  margin: 0;
}
.order-list li button {
  font-size: var(--font-sm);
  background: none;
  border: none;
  color: var(--color-white);
  opacity: 0.8;
  display: inline-flex;
  padding: 0;
}
.order-list li button:hover {
  opacity: 1;
}

.view-orders {
  text-decoration: underline;
  cursor: pointer;
}
