.ExchangeBanner {
    background: linear-gradient(90deg, #105461, #28156e);
    border-radius: 5px;
    margin: 1.875rem 2rem 1rem;
    padding: 0.75rem 1.5rem;
    padding-right: 2.5rem;
    position: relative;
}

.ExchangeBanner-text {
    color: white;
    font-size: 1.125rem;
    line-height: 23px;
    margin: 0;
}

.ExchangeBanner-price {
    color: #50d0fe;
}

.ExchangeBanner-link {
    color: white;
}

.ExchangeBanner-close {
    position: absolute;
    top: 0.75rem;
    right: 1.5rem;
    cursor: pointer;
}

@media (max-width: 700px) {
    .ExchangeBanner {
        margin: 1rem;
        margin-top: 0.5rem;
    }
}