.PositionDropdown-dots-icon {
  font-size: 1rem;
  border: none;
  color: var(--color-gray-300);
  display: inline-flex;
  align-items: center;
  background: transparent;
  border-radius: 2rem;
  padding: 0.5rem;
}

.PositionDropdown-dots-icon:hover {
  color: var(--color-white);
  background: var(--color-gray-900);
}

.PositionDropdown-extra-options {
  position: relative;
}

.PositionDropdown-extra-options .menu-items {
  top: 1rem;
  min-width: max-content;
}
