.PositionSelector-selected-receive-token {
  white-space: normal;
  display: inline-flex;
  flex: 1;
}

.PositionSeller-fee-item {
  margin-bottom: 4px;
}

.PositionSeller-fees-tooltip .Tooltip-popup {
  min-width: 30rem;
}

@media (max-width: 700px) {
  .PositionSeller-fees-tooltip .Tooltip-popup {
    min-width: 30rem;
  }
}

@media (max-width: 350px) {
  .PositionSeller-receive-row.Exchange-info-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .PositionSelector-selected-receive-token.align-right {
    margin-top: 8px;
    text-align: left;
  }
}
