.TokenSelector .Modal-content {
  width: 20rem;
  margin: 0;
}

.TokenSelector-token-name {
  margin-right: 1rem;
}

.TokenSelector.disabled {
  pointer-events: none;
}

.TokenSelector.disabled .TokenSelector-caret {
  display: none;
}

.TokenSelector-box {
  display: block;
  cursor: pointer;
  border-radius: 6px;
  text-align: right;
  white-space: nowrap;
}

.TokenSelector-box:hover {
  color: #7885ff;
}

.TokenSelector-caret {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.3rem;
  font-size: 1.5rem;
  margin-top: -0.3rem;
}

.TokenSelector-tokens {
  overflow: auto;
}

.TokenSelector-token-row {
  cursor: pointer;
  padding: 0.6rem;
  padding-left: 0.7rem;
  margin-bottom: 0.3rem;
  background: linear-gradient(270deg, rgba(45,66,252,0.15) 0%, rgba(45,66,252,0.4) 100%);
}

.TokenSelector-token-row:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}

.TokenSelector-token-row:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}

.TokenSelector-token-row:hover {
  background: linear-gradient(270deg, rgba(45,66,252,0.3) 0%, rgba(45,66,252,0.8) 100%);
}

.TokenSelector-top-row {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.TokenSelector-content-row {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  opacity: 0.7;
  display: grid;
  grid-template-columns: auto auto;
}

.TokenSelector.right .Modal {
  align-items: flex-start;
  justify-content: flex-end;
}

.TokenSelector.right .Modal-content {
  position: absolute;
  width: 27rem;
  top: 0;
  bottom: 0;
  overflow: auto;
  border: none;
}

@media (max-width: 700px) {
  .TokenSelector.right .Modal {
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 2rem;
    top: 0;
    right: 2rem;
    bottom: 0;
  }

  .TokenSelector.right .Modal-content {
    display: block;
    margin: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    height: auto;
    width: 100%;
  }
}
