.LeaderboardTest {
  border-collapse: collapse;
  font-size: 14px;
}

.LeaderboardTest td,
.LeaderboardTest th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.LeaderboardTest-form {
  margin: 10px 0;
}

.LeaderboardTest-form label {
  display: inline-block;
  width: 100px;
}

.LeaderboardTest-form input {
  border: 1px solid #fff;
  margin: 5px;
}
