.popup-menu {
  top: 2rem;
  left: 100%;
  background-color: #181818;
  border-radius: 1.2rem;
  min-width: 28rem;
  border: 0.5px solid var(--Stroke-Primary, #535353);
  padding: 0 0 0rem 0!important;
  width: fit-content !important;
  z-index: 99 !important;

  .text-gray-400 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.token-infos {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 1rem 1.2rem !important;
  border-radius: 1.2rem;
  cursor: pointer;
  &-imgBox {
    position: relative;
  }
  &:hover {
    background: #1F1F1F;
  }

  .block {
    width: fit-content !important;
  }

  .token-name {
    font-weight: 500;
    font-size: 1.4rem;
    position: relative;

    .pool-name {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .token-symbol {
    font-size: 1.2rem;
    color: #A3A3A3;
  }
}
