@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Home {
  min-height: 100vh;
  background-color: #010610ff;
  width: 100%;

}

.home-page-asset-wrapper {
  background: url('./HomepageAssets/Artwork_ASURAS.svg');

}
.home-wrapper {
  display: flex;
  justify-content: space-around;  
  width: 100%;
}

.content-wrapper {
  font-size: 26px;
  width: 45%;
  padding-left: 5rem;
}

.content-text-wrapper {
  font-size: 56px;
  font-weight: 800;
}

.text-blue{
  color: #00b4c9ff;
}

.home-screenshot {
}

.content-footer {  
  display: flex;  
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.learn-more {
  margin-top: 10px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.live-on-arbitrum {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: #6a80a1;
}

.arbitrum-icon {
  margin-left: 1rem;
  margin-right: 1rem;
}

.bg-asset {
position: absolute  ;
top:-35rem;
right: 0;
z-index: 900;

}

.img-screenshot {
  height: 107.8rem;
  width: 80rem;
}

.dex-stats-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12rem;
}

.home-stats-wrapper {
  padding-bottom: 10rem;
  
}

.stat-wrapper {
  background-color: #05101dff;
  border-radius: 20px;
  width: 20%;
  height: 13rem;
  display: flex;
  justify-content: space-evenly;
}

.stat-content-heading {
  font-size: 28px;
  font-weight:900;
  color:#6a80a1;
  margin: 0;
  margin-top: 1.5rem;
  text-align: start;
}

.stat-content-values {
  font-size: 46px;
  margin: 0;
}

.main-stats-wrapper {
  background-color: #05101dff;
  height: 30rem;
  display: flex;

}

.main-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-stat-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2rem;
}

.main-stat {
  width: 21%;
  height: 13rem;
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
}

.main-stat-heading {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 800;
  text-align: start;
}

.main-stat-icon {
  width:5rem;
  margin-bottom: 9rem;
}
.main-stat-text {
  margin: 0;
  width: 100%;
  text-align: start;
  line-height: 1.6;
}

.lower-content-wrapper {
  display: flex;
  margin-top: 5rem;
}

.supported-network-text {
 margin-left: 7rem;
}

.currencies-block {
font-size: 26px;
margin-left: 9rem;
}

.start-trading-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.arbitrum-text{
  text-align: center;
  font-weight: 900;
  color: #6a80a1;
}

.start-trading {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.supported-network-p {
  margin-top: 1rem;
}

.tokens-list {
  width: 95%;
  display: flex;
  justify-content:center;
  height: 20rem;
}

.token-item {
  display: flex;
  margin-left: 4%;
  align-items: center;
}

.token-info {
  margin-left: 20px;
}

.token-symbol {
  margin: 0;
}

.token-name {
  margin: 0;
}

.header-text {
  width: 90%;
  margin-left: 3rem;
}

.our-tokens{
  font-size: 26px;
  margin-left: 15rem;
  margin-bottom: 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.asr-card {
  background: #05101dff;
  justify-content: center;
  width: 35%;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-right: 7rem;
  margin-left: 7rem;
}

.asr-logo {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.asr-token-data {
  display: flex;
  width: 90%;
}

.asr-token-data-wrapper{
  display: flex;
  justify-content: center;
  height: 20rem;
}

.asr-content-wrapper{
  display: flex;
  justify-content: space-around;
  margin-left: -5rem;
  
}
.alp-content-wrapper{
  display: flex;
  justify-content: space-around;
  margin-left: -5rem;
}

.buy-asr{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.buy-alp {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
 }

.asr-footer-text{
  text-align: center;
  margin-top: 3.2rem;
}

.alp-footer-text{ 
  text-align: center;
  margin-top: 3.2rem;
}

.ecosystem-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.ecosystem-heading {
  margin-left: 15rem;
  font-size: 26px;
}
  
.ecosystem-screen {
  width: 80%;
}
  
.asuras-logo-wrapper {
  display: flex;
  justify-content: center;
  height: 10rem;
}
  
 .asuras-footer-logo {
  position: absolute;
  bottom: 0.1rem;
  width: 20%;
 }

 .social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .social-network {
  margin-left: 2rem;
  margin-right: 2rem;
 }

 .footer-wrapper {
  background: #05101dff;
}

 .footer-link {
  margin-left: 2rem;
  margin-right: 2rem;
 }

 .text-green {
  color: #02c365;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  text-shadow: 1.5px 0 #02c365;

 }

 
 .wbtc-bg{
  background-color: white;

  border-radius: 60%;
  display: flex;
  justify-items: center;
  justify-content: center;
  border: 2px solid #010610ff;
 }

 li {
  margin-top: 0.6rem;
 }

 ul li {
  padding-left: 2.5rem;
  padding-bottom:0rem;
}

.asset-img{
  background: url('./HomepageAssets/Artwork_ASURAS.svg');
  background-size: cover;
  z-index: 900;
  background-position-x: center;
  background-position-y: center;
  height: 100%;
}

.main-page-empty-block {
  width: 30%;
}