.MarketFilter {
  &-options {
    max-height: 20rem;
    overflow-y: auto;

    overscroll-behavior: contain;
    border-top: 1px solid #32344c;
  }

  &-option {
    font-size: var(--font-base);

    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    cursor: pointer;
  }

  &-search {
    margin: 1rem;
  }
}
