.unstake-list-view {
  padding-top: 0 !important;

  th {
    font-size: 1.1rem;
    color: #A3A3A3;
    text-transform: uppercase;
  }

  td {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
  }

  .data-empty {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: 42rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #A3A3A3;
  }

  .feature-gmw-307 & .data-empty {
    height: 17.6rem;

    @media (max-width: 768px) {
      height: 22rem;
    }
  }

  tr {
    &.row-dark {
      background-color: #181818;
    }

    &.row-dim {
      background-color: #1F1F1F;
    }
  }

  .unStakeListTr {
    &:hover {
      // background-color: rgba(24, 26, 42, 0.5);
      background-color: #1F1F1F;
    }
  }

  .token {
    display: flex;

    .token-symbol {
      position: relative;

      .ls-img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -0.3rem;
        left: 1.6rem;
        z-index: 1;

        img {
          border: 2px solid #181818;
          border-radius: 50%;
          margin: 0;
          max-width: none;
          display: block;
        }

        img:nth-child(1) {
          position: relative;
          z-index: 2;
          background: #181818;
        }

        img:nth-child(2) {
          margin-left: -0.7rem;
          position: relative;
          z-index: 1;
          background: #181818;
        }
      }
    }

    .token-icon {
      width: 4rem;
      height: 4rem;
      max-width: none;
    }

    .info {
      margin-left: 0.8rem;
    }
  }

  .unstake-table-sort-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon-sort,
    .icon-sort-up,
    .icon-sort-down {
      width: 1.2rem;
      height: 1.6rem;
      margin-left: 0.2rem;
    }

    &:hover {
      color: #fff;
    }
  }

  .sort-select {
    color: #FA7B4E;
  }

  .text-p {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .text-left {
    margin-left: 1rem;
  }

  .text-right {
    margin-right: 2rem;
  }

  .text-span {
    font-size: 1.2rem;
    font-weight: 400;
    color: #A3A3A3;
    white-space: nowrap;
  }
}
