.Circular-digit {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 0px;
  border-radius: 50%;
  margin-right: 10px;
  aspect-ratio: 1/1;
}
