.Stats {
  margin: 20px;
  text-align: left;
}

.Stats td,
.Stats th {
  padding: 10px 7px;
  position: relative;
  vertical-align: top;
}

.Stats td .Stats-share-bar {
  background: var(--color-gray-800);
  position: relative;
  margin-top: 5px;
  height: 2px;
}
.Stats td .Stats-share-bar-fill {
  height: 100%;
  background: var(--color-white);
}
.Stats .warn .Stats-share-bar-fill {
  background: orange;
}

.Stats .warn {
  color: orange;
}
