.invite-link-card {
  align-items: center;
}

.invite-link-card .label {
  margin-top: 0;
  margin-bottom: 2rem;
}

.invite-link-card .card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

