.approve-request-card {
  align-items: center;
}

.approve-request-card .label {
  margin-top: 0;
  margin-bottom: 2rem;
}

.approve-request-card .card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5rem;
}

.approve-request-card .card-details input {
  width: 100%;
}

.approve-input {
  position: relative;
  width: 75%;
  margin-bottom: 1.5rem;
}

.approve-input input {
  padding-right: calc(3rem + 20px);
}

.approve-input svg {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.approve-btn-container > *:nth-child(1) {
  margin-right: 1rem;
}
