.invite-link-input {
  position: relative;
}

.invite-link-input > * {
  cursor: pointer;
}

.invite-link-input input {
  padding-right: 3.5rem;
}

.invite-link-input svg {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}
