.tr-parent {
  position: relative;
  overflow: hidden;
}

@keyframes translate-skeleton-overlay {
  0% {
    transform: rotate(-20deg) translate(-100%);
  }
  100% {
    transform: rotate(-20deg) translate(100%);
  }
}

.tr-wave {
  background: linear-gradient(to right, transparent, rgba(18, 19, 37, 0.1), transparent);
  animation: translate-skeleton-overlay 1.5s ease infinite;
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
}
