.CrosshairPercentageLabel {
  position: absolute;
  box-sizing: border-box;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 500;
  font-family:
    "Relative",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  border-radius: 2px;
  pointer-events: none;
  z-index: 10;
  white-space: nowrap;
  background: var(--color-slate-600);
  color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.CrosshairPercentageLabel-price {
  font-size: 14px;
  line-height: 16px;
}

.CrosshairPercentageLabel-percentage {
  font-size: 11px;
  line-height: 13px;
}
