.notice-card {
  .notice-card__toast-success-icon path {
    stroke: var(--Green-Strong, #31C366);
  }

  .notice-card__toast-error-icon path {
    stroke: var(--Red-Strong, #FF5454);
  }

  .notice-card__toast-close path {
    stroke: var(--toast-accent-color, #a3a3a3);
  }

  .no-copy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
}

