.PositionEditor-tabs {
  margin-top: 0 !important;

  .Tab {
    margin-top: 0 !important;
  }
}

.Edit-collateral-token-selector {
  .Modal {
    .Modal-content {
      width: 38rem;
      max-height: 80vh;
      top: auto;
      bottom: auto;
    }
  }
}
