.up-leverage-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .up-leverage-card-image-container {
    .up-leverage-card-image-black {
      position: absolute;
      top: -0.8rem;
      opacity: 0;
      transition:
        top 0.5s,
        opacity 0.3s;
    }
    .up-leverage-card-image {
      transform: translateY(-40px);
      transition: transform 0.5s;
    }
    &.is-hovered {
      .up-leverage-card-image-black {
        top: 3rem;
        opacity: 1;
      }
      .up-leverage-card-image {
        transform: translateY(0);
      }
    }
  }

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.deep-liquidity-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .deep-liquidity-card-image {
    width: 19.7rem;
    height: 16.8rem;
    transform: scale(0.75);
    transition: transform 0.8s;
  }
  @media (max-width: 767px) {
    .deep-liquidity-card-image {
      width: 100%;
      height: 100%;
    }
  }

  &.is-hovered .deep-liquidity-card-image {
    transform: scale(1);
  }

  .mid-price-button-container {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s;

    .mid-price-button {
      display: flex;
      padding: 6.69px 7.894px;
      border-radius: 5.575px;
      border: 0.558px solid #323232;
      background: #1a1a1a;
      box-shadow:
        0 159.362px 44.404px 0 rgba(0, 0, 0, 0),
        0 102.13px 40.951px 0 rgba(0, 0, 0, 0.04),
        0 57.232px 34.537px 0 rgba(0, 0, 0, 0.13),
        0 25.656px 25.656px 0 rgba(0, 0, 0, 0.21),
        0 6.414px 13.815px 0 rgba(0, 0, 0, 0.25);
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 7.805px;
      font-weight: 500;
      line-height: 134%;
      letter-spacing: -0.019px;
    }
  }

  &.is-hovered .mid-price-button-container {
    top: 25%;
  }
}

.transparent-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  .transparent-card-image {
    transform: scale(0.8);
    transition: transform 0.5s;
  }

  &.is-hovered .transparent-card-image {
    transform: scale(1);
  }
}
