.Orders-overview-stats {
  line-height: 1.5;
}

.Orders-overview-table {
  border-collapse: collapse;
  min-width: max-content;
}

.Orders-overview th {
  opacity: 0.5;
  font-weight: normal;
  text-align: left;
  padding: 0.8rem 1.5rem 0.8rem 0;
}

.Orders-overview td {
  border-top: 1px solid var(--color-gray-900);
  padding: 0.8rem 1.5rem 0.8rem 0;
}

.Orders-overview .near {
  color: orange;
}

.Orders-overview-action {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--color-white);
}

.Orders-overview-action {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--color-white);
}
