.SubaccountStatus {
  font-size: 1.4rem;
  margin: 0 0 0 0;
}

.SubaccountStatus-border {
  margin: 0 0 1rem 0;
  border-bottom: 1px solid var(--color-gray-800);
}

.SubaccountModal-input-row {
  display: flex;
  flex: 1;
  margin-bottom: 1.2rem;

  &-label {
    flex: 1;
    align-items: center;
    display: flex;
  }
}

.SubaccountStatus-clickable-text {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }
}
