.OneClickTrading-alert {
  font-size: 1.2rem;
  color: var(--text-gray);
  display: flex;
  margin-bottom: 1.6rem;

  img {
    margin: 0.4rem;
  }
}

.OneClickTrading-modal-content {
  width: 30.4rem;
}

.OneClickTrading-subaccount {
  align-items: center;
  background-color: rgba(38, 43, 71, 0.9);
  border-radius: 4px;
  cursor: default;
  justify-content: space-between;
  display: flex;
  font-size: var(--font-sm);
  height: 4rem;
  margin-bottom: 0.4rem;
  padding: 0 0.6rem 0 1rem;
}

.OneClickTrading-subaccount-label {
  color: #ffffffb2;
  margin-right: 6px;
}

.OneClickTrading-button-icon {
  align-items: center;
  background-color: rgb(52, 55, 86);
  border-radius: 4px;
  display: inline-flex;
  height: 2.2rem;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  width: 2.2rem;
  margin-left: 0.4rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(52, 55, 86, 0.8);
  }
}

.OneClickTrading-buttons {
  display: flex;
  margin-bottom: 0.8rem;
}

.OneClickTrading-mini-button {
  background: rgba(38, 43, 71, 0.9);
  border-radius: 0.4rem;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 0.8rem;
  flex: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: rgba(38, 43, 71, 1);
  }

  &:active {
    background: rgba(38, 43, 71, 0.8);
  }

  &:first-child {
    margin-right: 0.2rem;
  }

  &:last-child {
    margin-left: 0.2rem;
  }

  &.warning {
    background: #e74e5d26;
    color: #e74e5d;
    &:hover {
      background: #ef697626;
    }
    &:active {
      background: #e74e5d26;
    }
  }
}

.OneClickTrading-subaccount-details {
  line-height: 2rem;
}

.OneClickTrading-stats {
  font-size: 1.4rem;
}

.OneClickTrading-section {
  border-bottom: 1px solid #ffffff29;
  margin-bottom: 1.2rem;
}

.OneClickTrading-approve-token-btn {
  margin-bottom: 1.2rem;
}

.OneClickTrading-input-wrapper {
  position: relative;
  width: 13rem;

  .OneClickTrading-input {
    display: flex;
    border: 1px solid #212540;
    border-radius: var(--border-radius-sm);
    padding-right: 0.5rem;
    line-height: 1;
    background: #212540;

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      user-select: none;
    }

    &:hover,
    &:focus {
      border-color: #3a3f798f;
    }
    &:focus-within {
      border-color: #3a3f79;
    }

    &.input-error {
      border-color: #f3b50e;
    }

    input {
      flex: 1;
      padding: 0.2rem 0.5rem 0.35rem;
      font-size: 1.4rem;
      border-radius: 4px;
      text-align: right;
      text-align: left;
    }

    span {
      opacity: 0.7;
    }
  }
}

.OneClickTrading-warning {
  display: flex;
  margin-bottom: 1.6rem;

  &-icon {
    padding-right: 0.6rem;
    padding-top: 0.2rem;
  }

  &-text {
    font-size: 1.2rem;
  }
}

.OneClickTrading-infinity {
  font-size: 1.5rem;
  font-weight: bold;
}
