.SubaccountModal-alert {
  font-size: 1.2rem;
  color: var(--color-gray-300);
  display: flex;
  margin-bottom: 1.6rem;
  align-items: flex-start;

  img {
    margin: 0.4rem;
  }
}

.SubaccountModal-content {
  width: 33rem;
}

.SubaccountModal-subaccount {
  align-items: center;
  background-color: var(--color-slate-700);
  border-radius: 4px;
  cursor: default;
  justify-content: space-between;
  display: flex;
  font-size: var(--font-sm);
  height: 4rem;
  margin-bottom: 0.4rem;
  padding: 0 0.6rem 0 1rem;
}

.SubaccountModal-subaccount-label {
  color: #ffffffb2;
  margin-right: 6px;
}

.SubaccountModal-button-icon {
  align-items: center;
  background-color: var(--color-slate-600);
  border-radius: 4px;
  display: inline-flex;
  height: 2.2rem;
  justify-content: center;
  width: 2.2rem;
  margin-left: 0.4rem;
  cursor: pointer;

  &:not([disabled]):hover {
    background: var(--color-slate-500);
  }

  &:not([disabled]):active {
    background: color-mix(in srgb, var(--color-slate-500) 97%, var(--color-white));
  }
}

.SubaccountModal-buttons {
  display: flex;
  margin-bottom: 1.5rem;
}

.SubaccountModal-mini-button {
  background-color: var(--color-cold-blue-900);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  color: var(--color-white);
  padding: 0.5rem 0.8rem;
  flex: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:not([disabled]):hover {
    background: var(--color-slate-600);
  }

  &:not([disabled]):active {
    background: var(--color-slate-500);
  }

  &:first-child {
    margin-right: 0.2rem;
  }

  &:last-child {
    margin-left: 0.2rem;
  }

  &.warning {
    background: #e74e5d26;
    color: #e74e5d;
    &:hover {
      background: #e05d6a26;
    }
    &:active {
      background: #e47d8726;
    }
  }
}

.SubaccountModal-subaccount-details {
  line-height: 2rem;
}

.SubaccountModal-stats {
  font-size: 1.4rem;
}

.SubaccountModal-section {
  border-bottom: 1px solid var(--color-gray-800);
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
}

.SubaccountModal-approve-token-btn {
  margin-bottom: 1.2rem;
}

.SubaccountModal-input-wrapper {
  position: relative;
  width: 13rem;

  .SubaccountModal-field-info {
    display: none;
    min-width: auto;
    color: var(--color-white);
  }

  &:hover {
    .SubaccountModal-field-info {
      display: block;
    }
  }

  .SubaccountModal-input {
    display: flex;
    border: 1px solid var(--color-slate-700);
    border-radius: var(--border-radius-sm);
    padding-right: 0.5rem;
    line-height: 1;
    background: var(--color-slate-700);

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      user-select: none;
    }

    &:hover,
    &:focus {
      border-color: var(--color-cold-blue-700);
    }
    &:focus-within {
      border-color: var(--color-cold-blue-500);
    }

    &.input-error {
      border-color: var(--color-yellow-500);
    }

    input {
      flex: 1;
      padding: 0.2rem 0.5rem 0.35rem;
      font-size: 1.4rem;
      border-radius: 4px;
      text-align: right;
      text-align: left;
    }

    span {
      opacity: 0.7;
    }
  }
}

.SubaccountModal-warning.standalone {
  margin-bottom: 0.8rem;
}

.SubaccountModal-warning {
  display: flex;
  margin-bottom: 1.6rem;

  &-icon {
    padding-right: 0.6rem;
    padding-top: 0.2rem;
  }

  &-text {
    font-size: 1.3rem;
  }
}

.SubaccountModal-infinity {
  font-size: 1.5rem;
  font-weight: bold;
}

.SubaccountModal-negative-sign {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
