.executionPriceTooltip {
  p {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      border-bottom: 0.1rem solid currentColor;
    }
  }

  @media (max-width: 768px) {
    width: 20rem;
  }
}

.FeesTip {
  p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.ExecutionSwapPanel {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #181818;
  border-radius: 0.8rem;

  .title {
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .item {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 1rem;

    .label {
      color: #A3A3A3;
      font-weight: 500;
    }

    >div {
      color: #fff;
    }
  }
}

.tradeBox-exchangeCardInfo-ExecutionPanel {
  .tradeBox-exchangeCardInfo-card {
    .item {
      >div {
        color: #fff;
      }
    }
  }
}