.Position-buttons-container {
  margin-top: 1.2rem;
}

.Position-collateral-amount {
  margin-left: 0;
}

.Position-item-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  .Position-item-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }
}

.PositionItem-collateral-tooltip {
  .Tooltip-popup {
    min-width: 32rem;
  }
}

.position-list-collateral {
  display: flex;
  align-items: flex-end;
}

.position-list-collateral.isSmall {
  justify-content: flex-end;
}

.Position-item-info {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -8px;
    width: 2px;
    height: 100%;
    z-index: 1;
  }

  &_long::before {
    background-color: var(--color-green-500);
  }

  &_short::before {
    background-color: var(--error-red);
  }
}

.Position-card-title {
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -8px;
    width: 2px;
    height: 100%;
    z-index: 1;
    top: 0px;
  }

  &_long::after {
    background-color: var(--color-green-500);
  }

  &_short::after {
    background-color: var(--error-red);
  }
}

@media (max-width: 800px) {
  .PositionItem-collateral-tooltip {
    .Tooltip-popup {
      min-width: 22rem;
    }
  }
}
