.Position-buttons-container {
  margin-top: 1.2rem;
}

.Position-collateral-amount {
  margin-left: 0;
}

.PositionItem-collateral-tooltip {
  .Tooltip-popup {
    min-width: 32rem;
  }
}

.Position-list-order {
  .order-error-text {
    margin-top: 0.5rem;
    color: var(--error-red);
  }
}

.order-error-text-msg .Tooltip-handle,
.position-order-error {
  text-decoration-color: var(--error-red);
  color: var(--error-red);
}

@media (max-width: 1300px) {
  .Position-collateral-amount {
    margin-left: 0.8rem;
  }
}

@media (max-width: 800px) {
  .PositionItem-collateral-tooltip {
    .Tooltip-popup {
      min-width: 22rem;
    }
  }
}
