.Tooltip-row {
  display: grid;
  margin: 0 0 0.75rem 0;
  grid-template-columns: 1fr auto;
}

.Tooltip-row .Tooltip-row-label {
  margin-right: 0.5rem;
}

.Tooltip-row .Tooltip-row-value {
  text-align: right;
  word-break: break-all;
}

.Tooltip-row-values {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Tooltip-row-values li {
  padding: 0.25rem 0 0 0;
  text-align: right;
}

.Tooltip-number {
  color: var(--color-white);
}
