.GmConfirmationBox {
  .Modal-body {
    overflow-x: hidden;
  }
}

.GmConfirmationBox-main {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.GmConfirmationBox-approve-tokens {
  display: flex;
  flex-direction: column;
}

.GmConfirmationBox-approve-token {
  height: 2.2rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.GmConfirmationBox-high-fee {
  margin-bottom: 0.465rem;
}
