.Modal {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.Modal-scrollable .Modal-content .Modal-body {
  overscroll-behavior: smooth;
  max-height: calc(80vh - 5.5rem);
  overflow-y: auto;
  padding-right: 5px;
}

.Modal-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

.Modal-content {
  z-index: 20;
  position: relative;
  max-width: 100%;
  max-height: 90vh;
  overflow: auto;
  background: var(--color-slate-800);
  border-radius: 4px;
}

.divider {
  border-bottom: 1px solid var(--color-gray-800);
}

.Modal.non-scrollable .Modal-content {
  overflow: visible;
}

.Modal-header-wrapper {
  margin: 1.5rem;
}

.Modal-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Modal-body {
  max-height: calc(80vh - 8.5rem);
  overflow-y: auto;
  /* for scrollbar to have a space on left and right */
  margin: 1.5rem 1rem 1.5rem 1.5rem;
  padding-right: 0.5rem;
}

.Modal-title {
  text-align: left;
  font-size: var(--font-md);
  line-height: 1;
}

.Modal-close-button {
  text-align: right;
}

.Modal-close-icon {
  opacity: 0.6;
  cursor: pointer;
  text-align: right;
}

.Modal-close-icon:hover {
  opacity: 0.9;
}
