.ClaimableModal {
  .Modal-body {
    overflow-x: hidden;
  }
}

.ClaimModal-content {
  font-size: var(--font-sm);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.ClaimModal-row {
  margin-bottom: 0rem;
}

.ClaimModal-row-tooltip {
  .Tooltip-popup {
    min-width: 0;
  }
}

.ClaimModal-divider {
  margin-bottom: 2rem;
}

.ClaimSettleModal-tooltip-text-gray {
  color: var(--color-gray-300);
}
