.App-settings-row {
  margin-bottom: 0.8rem;
  font-size: var(--font-base);
}

.App-settings .App-cta {
  margin-top: 1.5rem;
}

.App-settings {
  .Modal-content {
    width: 40rem;
  }
}

.App-slippage-tolerance-input-container {
  position: relative;
}

.App-slippage-tolerance-input {
  border: 1px solid var(--color-gray-900);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 100%;

  &.with-minus {
    padding-left: 2.5rem;
  }
}

.App-slippage-tolerance-input-minus {
  position: absolute;
  left: 1.1rem;
  top: 2.325rem;
}

.App-slippage-tolerance-input-percent {
  position: absolute;
  right: 1.1rem;
  width: 3.1rem;
  top: 2.325rem;
  bottom: 0;
  text-align: right;
}

.settings-modal-error {
  padding-bottom: 0.7rem;
}
