:root {
  --border-radius-xs: 0.4rem;
  --border-radius-sm: 0.6rem;
  --border-radius-m: 0.8rem;
  --border-radius-l: 1.2rem;
}
.App-box,
.App-box-highlight,
.App-box-solid,
.App-card,
.App-card-primary {
  border: none;
  border-radius: var(--border-radius-m);
}

.App-card {
  border: none;
  border-radius: var(--border-radius-m);
}

.App-cta {
  border-radius: var(--border-radius-m);
}
.App-header-user-address,
.App-header-user-address,
.default-btn {
  border-radius: var(--border-radius-sm);
}

.Tab.block {
  border-radius: var(--border-radius-m);
  background-color: linear-gradient(270deg, rgba(38, 43, 71, 0.8) 0%, rgba(30, 34, 61, 0.8) 100%);
  padding: 2px;
  .Tab-option {
    border-radius: var(--border-radius-sm);
    &:hover {
      opacity: 1;
      background: transparent;
    }
    &.active {
      background: none;
    }
  }
  .Tab-active-icon {
    display: inline-flex;
    margin-right: 0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transform: scale(1);
  }
}

.ExchangeChart-bottom-controls .Tab .Tab-option {
  padding: 0.75rem 0;
}

.Exchange-swap-option-tabs {
  .Tab-option.active > .Tab-option-icon {
    vertical-align: middle;
    margin-right: 0.8rem;
    transform: scale(1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0.35rem;
  }
  .Tab-option.active:nth-child(1) > .Tab-option-icon {
    background: #148634;
  }
  .Tab-option.active:nth-child(2) > .Tab-option-icon {
    background: #a43030;
  }
  .Tab-option.active:nth-child(3) > .Tab-option-icon {
    background: #2e42f3;
  }
}

table.Exchange-list tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table.Exchange-list tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

.Exchange-swap-ball {
  top: -2.51rem;
}

.Exchange-swap-max {
  border-radius: var(--border-radius-xs);
  background: #383d69;
  color: rgba(199, 202, 255, 0.8);
  line-height: 1;
  padding: 0.6rem 0.8rem;
  &:hover {
    background: #383d69;
  }
}

.Exchange-swap-box-inner {
  border-radius: var(--border-radius-l) !important;
}

.Exchange-swap-box-inner {
  .swap-from {
    border-radius: var(--border-radius-m) var(--border-radius-m) var(--border-radius-xs) var(--border-radius-xs);
    margin-bottom: 0.6rem;
  }
  .swap-to {
    border-radius: var(--border-radius-xs) var(--border-radius-xs) var(--border-radius-m) var(--border-radius-m);
  }
}

.Tab.inline .Tab-option {
  margin-right: 2rem;
  position: relative;
}

.Tab-inline-slide {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 2px;
  background: #2c42fa;
}
.Tab-block-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.8rem;
  top: 0;
  left: 0;
}

table.Exchange-list tr:last-child:hover {
  border-radius: 1rem;
}

.Exchange-leverage-box,
.Exchange-swap-box-info {
  padding: 0 0.2rem;
}

.App-slider .rc-slider-handle {
  background: #16182e;
  border: solid 2px #fff;
  width: 16px;
  height: 16px;
  margin-top: -4px;
}

.App-slider .rc-slider-dot.rc-slider-dot-active {
  background: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  top: -3px;
}

.App-slider .rc-slider-dot {
  background: #16182e;
  border: solid 2px #24263a;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: -4px;
}

.App-slider .rc-slider-track {
  background: linear-gradient(270deg, #e74e5d 0%, #f77c34 48.23%, #cdbc26 65.1%, #5ec989 82.61%), #3141f2;
  height: 0.8rem;
}
.rc-slider-step {
  height: 0.8rem;
}

.App-slider .rc-slider-rail {
  background: linear-gradient(90deg, #1e223d, #282d4a);
  height: 0.8rem;
  border-radius: 0;
}

.Exchange-leverage-slider-settings {
  display: flex;
  justify-content: space-between;

  .SwapBox-leverage-toggle {
    width: 29.5px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 2px;
    cursor: pointer;

    .handle {
      width: 14.4px;
      height: 14.4px;
      background-color: white;
      border-radius: 40px;
    }
  }

  .SwapBox-leverage-toggle[data-is-on="true"] {
    justify-content: flex-end;
    background-color: #3d51ff;
  }
}

.Exchange-swap-order-type-tabs {
  padding-left: 0.8rem;
}
