.Selector.disabled {
  pointer-events: none;
}

.Selector.disabled .Selector-caret {
  display: none;
}

.Selector .Modal-backdrop {
  height: 100vh;
  backdrop-filter: blur(4px);
  background: #101124aa;
}

.Selector-box {
  width: 72px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 7px 8px;
}

.Selector-box.Arbitrum {
  /* background-color: #1d446b; */
  border: 1px solid #ffffff17;
}

.Selector-box.Avalanche {
  /* background-color: #371e32; */
  border: 1px solid #ffffff17;
}

.Selector-caret {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: -0.2rem;
}

.Selector-option {
  cursor: pointer;
  background: #ffffff0a 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff08;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.Selector-option + .Selector-option {
  margin-top: 0.5rem;
}

.Selector-option .Selector-option_icon {
  width: 32px;
  margin-right: 1rem;
}

.Selector-option .Selector-option_label {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.29px;
  color: #ffffff;
}

.Selector-option.Arbitrum:hover {
  background: #262949 !important;
  border: 1px solid #4275a8;
}

.Selector-option.Avalanche:hover {
  background: #262949 !important;
  border: 1px solid #e84142;
}

.Selector-option .selected-icon {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 1rem;
}

.Selector-option.Arbitrum .selected-icon {
  background-color: #4275a8;
}

.Selector-option.Avalanche .selected-icon {
  background-color: #e84142;
}

.selected-icon {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 1rem;
}

.Selector .Modal {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Selector .Modal-title {
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  opacity: 1;
}

.Selector .Modal-title-bar {
  padding-bottom: 1rem;
}

.Selector .Modal-content {
  width: 100%;
  max-width: 19.1rem;
  margin: auto;
  background: #16182e 0% 0% no-repeat padding-box;
  border: 1px solid #262638;
  border-radius: 4px;
}

.react-select__option {
  border: 1px solid transparent;
  border-radius: 4px;
}
.react-select__option.arbitrum:hover {
  background: #262949 !important;
  border: 1px solid #4275a8;
  border-radius: 4px;
}
.react-select__option.arbitrum:active {
  background: #262949 !important;
}
.react-select__option.avalanche:hover {
  background: #262949 !important;
  border: 1px solid #e84142;
  border-radius: 4px;
}
.react-select__option.avalanche:active {
  background-color: #e841424d !important;
}
.react-select__option {
  margin-bottom: 5px !important;
}
.react-select__option:last-child {
  margin-bottom: 0px !important;
}
.react-select__indicators {
  padding-right: 8px;
}
.react-select__indicator {
  border-radius: 4px;
}
.react-select__control:hover {
  background: #808aff14 0% 0% no-repeat padding-box;
}
.App-header-user-address:hover {
  background: #808aff14 0% 0% no-repeat padding-box;
}
.react-select__control:hover .react-select__indicator {
  background: #2c2d45;
}

@media (max-width: 900px) {
  .Selector .network-label {
    display: none;
  }
}
