.menu-items:focus-visible {
  border: 1px solid #262638;
}

.address-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white !important;
}

.user-address {
  margin-left: 1rem;
  margin-right: 1rem;
}

.App-header-user-address {
  &:hover {
    background: #808aff14;
  }

  &:active {
    background: var(--dark-blue-active);
  }
}

.menu-items {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  min-width: 17rem;
  width: 100%;
  transform-origin: top right;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(var(--color-slate-900));
  border: 0.5px solid rgba(var(--color-slate-600));
  list-style: none;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  padding-bottom: 8px;

  .menu-item {
    display: flex !important;
    align-items: center;
    color: rgba(var(--color-slate-100));
    padding-bottom: 1.5rem;
    font-size: 13px;
    padding: 7px 12px;
    font-weight: 500;

    &:hover {
      background: rgba(var(--color-fill-surfaceHover));
      color: rgba(var(--color-textIcon-strong));
    }

    > p {
      margin: 0px;
      padding-left: 1rem;
      white-space: nowrap;
    }

    > a {
      display: inline-flex;
    }
  }
}

@media screen and (max-width: 370px) {
  .user-address {
    margin-left: 0;
  }

  .address-btn {
    display: flex;
    justify-content: space-between;
  }

  .user-avatar {
    display: none;
  }
}
