.fees-chart {
  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .time-frame-toggle {
      display: flex;
      gap: 8px;

      .button {
        min-width: 80px;
        height: auto;
        padding: 4px;
        font-size: 14px;
      }
    }
  }
}
