.ApproveTokenButton {
  width: 100%;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-sm);
  direction: ltr !important;
}

.ApproveTokenButton-spin {
  color: var(--color-blue-600);
}
