.popup-menu {
  left: 14rem;
  top: 3rem;
  width: 32.5rem;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}

.stats-market {
  .table-container {
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';
    min-height: 63.6rem;

    thead {
      tr>th {
        color: rgba(163, 163, 163, 1);
        font-weight: 500 !important;
        font-size: 1.2rem;
        padding: 1.2rem 0.4rem 0.8rem !important;
        letter-spacing: 0.08em;

        .sortable {
          cursor: pointer;
          user-select: none;
          display: inline-flex;
          align-items: center;
          text-align: left;

          .icon-sort,
          .icon-sort-up,
          .icon-sort-down {
            margin-left: 0rem;
            width: 1.2rem;
            height: 1.6rem;
          }

          &:hover {
            color: #ffffff;
          }

          &.select {
            color: #FA7B4E;
          }
        }
      }

      tr:first-child th:first-child {
        padding-left: 2rem !important;
      }

      tr:first-child th:last-child {
        padding-right: 2rem !important;
      }

      &:last-child tr th {
        background: #FA7B4E;

        .popup-menu {
          left: 14rem;
          top: 0rem;
          width: 32.5rem;
        }
      }
    }

    tbody {
      height: 100%;

      tr {
        border-bottom: none !important;
        height: 6rem !important;

        td>div {
          font-weight: 500 !important;
          font-size: 1.4rem;

          span {
            font-weight: 500 !important;
            font-size: 1.4rem;
          }
        }

        td {
          padding: 1rem 0.4rem !important;
          height: 6rem !important;
        }

        .token-info {
          padding: 0 !important;
          width: fit-content !important;
          // z-index: 999;

          &:hover {
            background: transparent !important;
          }
        }
      }

      tr td:first-child {
        padding-left: 2rem !important;
      }

      tr td:last-child {
        padding-right: 2rem !important;
      }

      tr:nth-child(1n) {
        background: rgba(31, 31, 31, 0.5);

        // &:hover {
        //     background: transparent !important;
        // }
      }

      tr:nth-child(2n) {
        background: transparent !important;

        // &:hover {
        //   background: rgba(31, 31, 31, 0.5) !important;
        // }
      }

      .table-value {
        // border-bottom: 0.0625rem dashed rgba(163, 163, 163, 1);
        line-height: 1.8rem;
        height: fit-content;
        width: fit-content !important;
      }
    }
  }
}

.value-up {
  color: rgba(15, 222, 141, 1) !important;
}

.value-down {
  color: rgba(255, 84, 84, 1) !important;
}