@use "src/styles/slide-up" as *;

.Selector2Base {
  &-button {
    appearance: none;
    border: unset;
    background-color: unset;
    padding: unset;
    margin: unset;

    color: inherit;
    font-size: inherit;

    &:hover:not(:disabled) {
      color: #7885ff;
    }

    &:disabled {
      cursor: text;
      opacity: 1;
    }
  }

  &-panel {
    position: relative;
    z-index: 1000;

    font-size: var(--font-sm);

    border-radius: var(--border-radius-sm);
    background-color: var(--dark-blue-bg);
    border: 1px solid #32344c;
  }

  &-mobile-modal {
    .Modal-content {
      top: auto;
      bottom: auto;

      width: 42rem;
      position: absolute;
      max-height: 100vh;

      @media screen and (max-width: 700px) {
        bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        height: 80vh;

        @include slide-up;
      }
    }
  }
}

.Selector2BaseUtils {
  &-table-head-row {
    th {
      text-align: left;

      padding: 0.75rem 1.5rem;
      text-transform: uppercase;
      font-weight: normal;
      opacity: 0.7;
    }
  }

  &-row {
    cursor: pointer;

    &:hover,
    &:active {
      background: rgba(180, 187, 255, 0.1);
      box-shadow: inset 0px 0px 3rem 0.5rem rgba(255, 255, 255, 0.01);
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    td {
      padding: 0.75rem 1.5rem;
    }
  }

  &-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-mobile-row {
    appearance: none;
    border: unset;
    background-color: unset;
    padding: unset;
    margin: unset;
    text-align: unset;

    color: inherit;
    font-size: var(--font-md);

    border: 1px solid #ffffff29;
    border-radius: var(--border-radius-sm);
    padding: 0.8rem;

    &:hover,
    &:active {
      background: rgba(180, 187, 255, 0.1);
      box-shadow: inset 0px 0px 3rem 0.5rem rgba(255, 255, 255, 0.01);
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
