.Claims-row {
  display: flex;
  flex-direction: row;
  padding: 0.1rem 1.5rem;
  align-items: center;
  flex: 1;
}

.Claims-card {
  background: #16182e;
  font-size: var(--font-base);
  margin-bottom: 0.8rem;
  padding-bottom: 1rem;
  border-radius: 0.4rem;
}

.Claims-title {
  border-bottom: 1px solid #23263b;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.Claims-col {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.Claims-col + .Claims-col {
  margin-left: 3rem;
}

.Claims-col .muted {
  margin-bottom: 0.2rem;
}

.Claims-claim-button.primary {
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--font-sm);
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  min-height: 36px;
  display: inline-flex !important;
  align-items: center;
  border: none;
  background: rgb(43, 55, 94);
  margin-left: auto;
  height: 0;
}

.Claims-claim-button.secondary {
  cursor: pointer;
  font-size: var(--font-sm);
  font-weight: normal;
  letter-spacing: 0px;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  min-height: 36px;
  display: inline-flex !important;
  align-items: center;
  border: none;
  margin-left: auto;
  height: 0;
  background-color: transparent;

  color: rgba(255, 255, 255, 0.7);
  &:hover {
    color: rgba(255, 255, 255);
  }
}

.Claims-col-title {
  white-space: nowrap;
  margin-bottom: 1.8rem;
  width: 7rem;
}

.Claims-rows {
  display: flex;
  flex-direction: column;
}

.Claims-rows-horizontal.Claims-rows {
  display: flex;
  flex-direction: row;
}

.Claims-hr {
  margin: 0.4rem 1.4rem 0;
  border-bottom: 1px solid #23263b;
}

.Claims-hr-horizontal {
  margin: 0.8rem 0 0;
  border-left: 1px solid #23263b;
}

.Claims-loading {
  padding: 1em;
  margin-bottom: 0.8rem;
}
