.ClaimsHistory {
  &-controls {
    padding: 1em;
    border-bottom: 1px solid #23263b;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      padding: 6px 10px !important;
    }
  }

  &-controls-right {
    display: flex;
    gap: 0.5em;
  }

  &-filters {
    display: flex;
    gap: 0.5em;
  }

  &-horizontal-scroll-container {
    overflow-x: auto;
  }

  &-table {
    width: max(100%, 500px);

    table-layout: fixed;
  }

  &-header {
    tr {
      cursor: default !important;
      border-bottom: none !important;

      &:hover {
        background: unset !important;
        box-shadow: none !important;
      }
    }

    th {
      text-transform: uppercase;
    }
  }

  &-price-header {
    text-align: end !important;
  }

  &-action-column {
    width: 45%;
  }
  &-market-column {
    width: 30%;
  }
  &-size-column {
    width: 25%;
  }

  &-fake-row {
    padding: 1.5rem;
  }
}
