.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
}

.logo-wrapper{
  width: 35rem;
  height: 15rem;
}

.logo {
  position: relative;
  width: 50rem;
  height: 35rem;
  top: -9.5rem;
}

.navbar-items {
  display: flex;
  justify-content: start;
  flex-direction: row;
  list-style-type: none;
  font-size: 26px;
  margin-right: 40rem;  
}

.navbar-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 55%;
}

.navbar-item {
  text-align: center;
  font-family: 'Montserrat';
  padding-left: 3.5rem;
  text-decoration: none;
}

.launch-dapp-btn {
  margin-right: 12rem;
} 

@media (max-width: 1440px) { 

  .header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
  }
  
  .logo-wrapper{
    width: 20rem;
    height: 5rem;
    margin-left: 10rem;
  }
  
  .logo {
    position: relative;
    width: 40rem;
    height: 30rem;
    top: -12.5rem;
    left: -11rem;
  }
  
  .navbar-items {
    display: flex;
    justify-content: start;
    flex-direction: row;
    list-style-type: none;
    font-size: 16px;
    margin-right: 10rem;  
  }
  
  .navbar-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 55%;
  }
  
  .navbar-item {
    text-align: center;
    font-family: 'Montserrat';
    padding-left: 3.5rem;
    text-decoration: none;
  }

  .content-wrapper {
  margin-left: 2rem;
  }

  .launch-dapp-btn {
    margin-right: 6rem;
  } 
  
  .asr-content-wrapper{
    margin-left: -2rem;
  }

  .alp-content-wrapper{
    margin-left: -2rem;
  }

  .supported-network-text{
    margin-left: 3rem;
  }

  .our-tokens{
    margin-left:12rem;
  }

  .ecosystem-heading{
    margin-left:12rem;
  }

  .main-stat-heading {
    font-size: 24px;
  }

  .main-stat-text {
    font-size: 14px;
  }

 }

 @media (max-width: 425px) { 

  .supported-network-text{
    margin-left: 6rem;
  }
  .our-tokens {
    margin-left: 15rem;
  }
  .our-tokens {
    margin-top: 7rem;
  }
 }
@media (max-width: 375px){
  .our-tokens {
    margin-left: 11rem;
  }
}

@media (max-width: 375px){
  .our-tokens {
    margin-left: 9rem;
  }
  .asr-content-wrapper {
    margin-top: 4rem;
  }
  .ecosystem-heading {
    margin-left:9rem;
  }
}


@media (max-width: 320px){
  .our-tokens {
    margin-left: 9rem;
  }
  .asr-content-wrapper {
    margin-top: 4rem;
  }
  .ecosystem-heading {
    margin-left:6rem;
  }
}



 