@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  font-family: 'Montserrat';
}
.logo-wrapper{
  width: 35rem;
  height: 15rem;
  margin-left: 5rem;
}

.logo {
  position: relative;
  width: 70rem;
  height: 55rem;
  top: -19.5rem;
  left: -18rem;
}

.navbar-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 26px;
  padding-left: 10rem;
}

.navbar-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  padding-right: 4%;
  text-align: center;
  font-family: 'Montserrat';

}