.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
}

.logo-wrapper{
  width: 35rem;
  height: 15rem;
}

.logo {
  position: relative;
  width: 50rem;
  height: 35rem;
  top: -9.5rem;
}

.navbar-items {
  display: flex;
  justify-content: start;
  flex-direction: row;
  list-style-type: none;
  font-size: 26px;
  margin-right: 40rem;  
}

.navbar-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 55%;
}

.navbar-item {
  text-align: center;
  font-family: 'Montserrat';
  padding-left: 3.5rem;
  text-decoration: none;
}
.launch-dapp-btn {
  margin-right: 12rem;
} 