.VersionSwitch {
  display: inline-flex;
  background: linear-gradient(90deg, rgba(30, 34, 61, 0.9) 0%, rgba(38, 43, 71, 0.9) 100%);
  border-radius: 3px;
}

.VersionSwitch-option {
  padding: 1.2rem;
  text-decoration: none;
  font-size: var(--font-sm);
  cursor: pointer;
  color: var(--text-gray);
  line-height: 1;

  &.v1 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &.v2 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:hover {
    color: #ffffff;
    background: #3a3f798f;
  }

  &.v1.active {
    background: #f3b50c;
    color: #000000;
  }

  &.v2.active {
    background: var(--primary-btn-bg);
    color: #ffffff;
  }
}

@media (max-width: 1100px) {
  .VersionSwitch-option {
    padding: 0.75rem 1.2rem;
  }
}
