.VersionSwitch {
  display: inline-flex;
  background: linear-gradient(90deg, rgba(30, 34, 61, 0.9) 0%, rgba(38, 43, 71, 0.9) 100%);
  border-radius: 3px;
}

.VersionSwitch-option {
  padding: 0.76rem 1.275rem;
  text-decoration: none;
  font-size: var(--font-sm);
  border-radius: 3px;

  cursor: pointer;
  color: var(--text-gray);

  &:hover {
    color: rgba(255, 255, 255, 1);
    background: #3a3f798f;
  }

  &.active {
    background: #f3b50c;
    color: #000000;
    opacity: 1;
  }
}
