.VersionSwitch {
  display: grid;
  background: rgba(var(--color-cold-blue-900));
  border-radius: 3px;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.VersionSwitch-option {
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-body-medium);
  line-height: var(--line-height-body-medium);
  color: rgba(var(--color-slate-100));
  line-height: 1;

  &.v1 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &.v2 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &.active {
    background: rgba(var(--color-cold-blue-500));
    color: rgba(var(--color-typography-primary));
  }
}

@media (max-width: 1024px) {
  .VersionSwitch-option {
    padding: 0.75rem 1.2rem;
  }
}
