.section-title-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Leaderboard-tabs {
  width: 25%;
  margin-bottom: 2.5rem;
}

.Leaderboard-tabs-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
