.BuyGMXGLP {
    background: #101124;
    min-height: calc(100vh - 62px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BuyGMXGLP-container {
    padding: 5.161rem 0;
    text-align: center;
    max-width: 70rem!important;
}

.BuyGMXGLP-title {
    font-size: 2.452rem;
    line-height: 3.097rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 1.5484rem;
}

.BuyGMXGLP-description {
    font-size: 1.161rem;
    line-height: 1.484rem;
    letter-spacing: 0px;
    color: #A0A3C4;
}

.better-rates-description {
    margin-top: 1.548rem;
    letter-spacing: 0;
}

.BuyGMXGLP-description a {
    text-decoration: none;
    position: relative;
}

.alternative-bridges {
    margin: 1.032rem auto 1.548rem;
    max-width: 528px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alternative-bridges a {
    display: flex;
    position: relative;
}

.alternative-bridges a.Synapse:hover::before,
.alternative-bridges a.Synapse:focus::before,
.alternative-bridges a.Anyswap:hover::before,
.alternative-bridges a.Anyswap:focus::before {
    content: " ";
    position: absolute;
    background: #FFFFFF1F;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.BuyGMXGLP-purchase-block {
    background-image: url('../../img/btn_big_purchasegmx.png');
    padding-top: 2.1897rem;
    padding-left: 2.826rem;
    max-width: 397px;
    width: 100%;
    min-height: 120px;
    margin: 2.4516rem auto;
    display: flex;
    box-shadow: 0px 9px 12px #00000054;
    border: 1px solid #1E2136;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
}

.BuyGMXGLP-purchase-block:hover::before {
    content: " ";
    position: absolute;
    background: #50D0FE19;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.BuyGMXGLP-purchase-block:active::before {
    content: " ";
    position: absolute;
    background: #50D0FE3d;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.BuyGMXGLP-purchase-block-info {
    margin-left: 2.461rem;
    text-align: left;
}

.BuyGMXGLP-purchase-block-info__title {
    font-size: 1.677rem;
    line-height: 2.129rem;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.BuyGMXGLP-purchase-block-info__subtitle {
    color: #6B6D84;
    font-size: 1.161rem;
    line-height: 1.484rem;
    letter-spacing: 0px;
}

.BuyGMXGLP-title-section .GLP-block-section {
    display: flex;
    max-width: 416px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 1.871rem;
}

.GLP-block-section .GLP-block {
    background-image: url('../../img/btn_big_purchasegmx.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 72px;
    box-shadow: 0px 9px 12px #00000054;
    border: 1px solid #1E2136;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
}

.GLP-block-section .GLP-block:hover::before {
    content: " ";
    position: absolute;
    background: #50D0FE19;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.GLP-block-section .GLP-block:active::before {
    content: " ";
    position: absolute;
    background: #50D0FE3d;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.GLP-block .GLP-block-icon {
    display: flex;
}

.GLP-block .GLP-block-label {
    color: white;
    font-size: 1.161rem;
    line-height: 1.484rem;
    margin-left: 0.516rem;
}

@media (max-width: 600px) {
    .alternative-bridges {
        margin: 0 auto 1.548rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alternative-bridges a + a {
        margin-top: 1.548rem;
    }
    
    .BuyGMXGLP-purchase-block {
        padding-left: 1.859rem;
    }

    .BuyGMXGLP-title-section .GLP-block-section {
        flex-direction: column;
        align-items: center;
    }

    .GLP-block-section .GLP-block + .GLP-block {
        margin-top: 16px;
    }
}

@media (max-width: 400px) {
    .BuyGMXGLP-container {
        padding-left: 16px!important;
        padding-right: 16px!important;
    }

    .BuyGMXGLP-description {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .BuyGMXGLP-purchase-block {
        padding-left: 1.5rem;
    }

    .BuyGMXGLP-purchase-block-info {
        margin-left: 1.5rem;
        text-align: left;
    }

    .BuyGMXGLP-purchase-block-info__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .BuyGMXGLP-purchase-block-info__subtitle {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}
