.ChartTradesCardNew {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &-content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    position: relative;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background: #181818;
      border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #535353;
      border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #A3A3A3;
    }
  }
}

.ChartTradesCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  thead tr th:last-child {
    text-align: right !important;
    padding-right: 1rem !important;
  }

  &-empty-row {
    position: relative !important;
    width: 100% !important;
  }

  &-empty {
    text-align: center !important;
    padding: 1.5rem 0 !important;
    width: 100% !important;

    &.text-body-small {
      text-align: center !important;
    }
  }

  &-content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }

  // Override some Table component styles
  table {
    background: transparent;
    display: table !important;
    width: 100%;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
  }

  &-table {
    width: 100%;
    padding: 0 1rem;
    table-layout: fixed;

    thead {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #181818;
      display: table-header-group;
      width: 100%;

      th {
        font-size: 1.1rem;
        font-weight: 500;
      }
    }

    thead th:last-child {
      text-align: right !important;

    }

    tbody {
      display: table-row-group;

      tr {
        td {
          font-size: 1.3rem !important;
          font-weight: 500;
          line-height: 125%;
        }
      }
    }

    tr {
      display: table-row
    }

    th {
      display: table-cell;
      position: sticky;
      top: 0;
      z-index: 10;
    }


    th,
    td {
      min-width: 0;
      /* Prevent overflow */
      vertical-align: middle;
      display: table-cell;
      text-align: left;
    }

    th:last-child,
    td:last-child {
      text-align: right;
      padding-right: 1rem;
    }

    th:nth-child(2) {
      min-width: 9rem;
    }

    .title {
      padding: 1.3rem 0 0.9rem 0;
      text-transform: uppercase;
    }

    // Support for colSpan
    td[colspan='3'],
    td[colspan='4'] {
      width: 100%;
      text-align: center !important;
    }

    &-item {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 8%;
      border-radius: 2rem;
      color: #A3A3A3;
      padding: 0.15rem 0.6rem;
      display: inline-block;

      // margin-right: 0.5rem;
      &:last-child {
        cursor: pointer;
      }
    }

    &-active {
      background-color: #323232;
    }
  }

  th,
  td {
    text-align: left
  }

  th:last-child {
    text-align: right !important
  }

  th:first-child,
  td:first-child {
    padding-left: 1rem
  }

  &-market {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    // Add margin to create space between trade direction and link
  }

  &-icon {
    width: 16px;
    height: 16px;
  }

  &-time {
    display: flex;
    justify-content: flex-end; // Right-align the time content
    align-items: center;
  }

  &-link {
    // margin-left: 1.1rem; // Push the link to the right side of the market cell
    opacity: 1;
    transition: opacity 0.2s;

    img {
      width: 1.6rem;
      max-width: none !important;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: all 0.3s;
    }
  }

  &-loading,
  &-empty {
    padding: 2rem 1rem;
    text-align: center;
    color: var(--text-gray);
    justify-content: center;
  }
}
