.net-fees-over-time {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-flex;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  li:last-child {
    margin-right: 0;
  }

  .net-fee__period {
    margin-right: 0.25rem;
  }
}
