.buy-input {
  .buy-input-top-row {
    display: inline-flex;
    justify-content: space-between;
    font-size: var(--font-size-body-medium);
    margin-bottom: 0.2rem;
  }

  .InputSection-static-input {
    font-size: var(--font-size-body-large);
  }

  &.Exchange-swap-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 8rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    background: #1f1f1f;
    outline: none;
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease;

    &:hover {
      border-color: #535353;
      background: #1f1f1f;
    }

    &:active {
      border-color: #fa7b4e;
      background: #1f1f1f;
    }

    &.focused,
    &:focus-within {
      border-color: #fa7b4e !important;
      background: #1f1f1f;
    }

    .Exchange-swap-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .Exchange-swap-max {
      position: static;
      min-width: max-content;
      font-size: var(--font-size-body-small);
      line-height: var(--line-height-body-small);
      color: var(--color-white);
      outline: none;
      background: #535353;
      border-radius: 2rem;
      padding: 0.25rem 0.8rem;
      margin-left: 0.8rem;
    }

    .PositionEditor-token-symbol {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      gap: 0.5rem;
    }

    &-top {
      padding-bottom: 0;
    }

    .selected-token {
      display: flex;
      align-items: center;
    }
  }
}

.PercentSelector {
  position: absolute;
  display: flex;
  margin-top: -2rem;
  padding: 0;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    rgb(49 54 85 / 90%) 0%,
    rgb(37 40 65 / 90%) 100%
  );
  list-style: none;
  box-shadow: 0 4px 14px rgb(0 0 0 / 25%);
  backdrop-filter: blur(7px);

  .PercentSelector-item {
    width: 4.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: var(--color-cold-blue-900);
    }
  }
}
