.Percentage-input-wrapper {
  position: relative;

  .Percentage-list {
    position: absolute;
    top: 95%;
    right: 0;
    z-index: 2;
    display: flex;
    margin-top: 1.5px;
    padding: 0;
    border-radius: 4px;
    background: rgba(39, 39, 39);
    list-style: none;

    li {
      width: 4.5rem;
      padding: 0.2rem 0.75rem;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;

      &:hover {
        color: #fff;
      }
    }
  }

  .Percentage-input {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #1f1f1f;
    line-height: 1;

    label {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      border-color: var(--color-primary-700);
    }

    &:focus-within {
      border-color: var(--color-primary-500);
    }

    &.input-error {
      border-color: var(--color-yellow-500);
    }

    input {
      width: 4rem;
      padding: 0.2rem 0.35rem;
      border-radius: 4px;
      font-size: 1.4rem;
      text-align: right;
    }

    span {
      opacity: 0.7;
    }
  }
}

.Percentage-input-negative-sign {
  padding-left: 0.4rem;
  cursor: text;
  user-select: none;
}