.Checkbox {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Checkbox.disabled {
  cursor: default;
  pointer-events: none;
}

.Checkbox-icon-wrapper {
  display: inline-flex;
  align-items: center;
}

.Checkbox .Checkbox-icon {
  font-size: 1.25rem;
  color: var(--color-blue-500);
  margin-right: 0.62rem;
  margin-bottom: 0;
}

.Checkbox.noLabel .Checkbox-icon,
.Checkbox.fullRow .Checkbox-icon {
  margin-right: 0;
}

.Checkbox.disabled .Checkbox-icon {
  color: #47509e;
}

.Checkbox-icon.inactive {
  color: var(--color-gray-300);
}

.Checkbox-label {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--font-size-body-medium);
  line-height: var(--line-height-body-medium);
  text-align: left;
  flex: 1;
}

.Checkbox.fullRow {
  width: 100%;
  display: flex;
  grid-template-columns: 1fr auto;
  flex-direction: row-reverse;
  font-size: var(--font-size-body-small);
  margin-bottom: 0.465rem;
}
