.GMList {
  .token-table {
    td {
      text-align: left !important;
      width: 20rem !important;
    }
  }
}

.App-card-info-title {
  line-height: normal !important;
}

.App-card-info-subtitle {
  font-size: 1.4rem !important;
  margin-top: 0.1rem;
}
