.GMList {
  .token-table {
    td {
      text-align: left !important;
      width: 20rem !important;
    }
  }

  .App-card-info-title {
    display: flex;
    line-height: normal !important;
  }

  .GmList-last-column {
    width: 40rem !important;
  }

  .GmList-action {
    width: 17rem;
  }

  .GmList-last-action {
    margin-left: 1rem;
  }

  .Asset-dropdown-container {
    display: inline-block;
  }

  .title-small {
    padding-top: 1.5rem;
    margin-bottom: 2.4rem;
  }

  .Tooltip-popup {
    min-width: 33rem;
  }
}

@media (max-width: 1100px) {
  .Tab-title-section {
    padding-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 800px) {
  .GMList {
    .Tooltip-popup {
      min-width: 27rem;
    }
  }
}
