.performance-card {
  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .time-frame-toggle {
    display: inline-flex;
    margin-left: auto;
    gap: 0.5rem;

    .nowrap {
      display: inline-flex;
      align-items: center;
      padding: 0rem 1rem 0.3rem;
      font-size: var(--font-size-body-small);
      white-space: nowrap;
    }
  }

  .mobile-only {
    display: none;
  }

  .mobile-view {
    display: none;
  }

  .flex-row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgb(255 255 255 / 10%);

    &:last-child {
      border-bottom: none;
    }

    &.no-border {
      padding: 0.75rem 0;
      border-bottom: none;
    }

    .label {
      font-weight: 500;
    }

    .value {
      text-align: right;
    }
  }

  .mobile-section {
    margin-bottom: 0.5rem;
  }

  .mobile-section-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    gap: 1rem;
  }

  .desktop-view {
    overflow-x: hidden;

    table {
      width: 100%;
      table-layout: fixed;

      .date-column {
        width: 20%;
      }

      .pnl-percent-column {
        width: 15%;
      }

      .win-rate-column {
        width: 15%;
      }

      .profit-factor-column {
        width: 15%;
      }

      td,
      th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:not(
            .date-column,
            .pnl-percent-column,
            .win-rate-column,
            .profit-factor-column
          ) {
          width: 15%;
        }
      }
    }
  }

  .truncate-text-cell {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .desktop-view-container {
    width: 100%;
    overflow-x: hidden;
  }

  .App-card-content {
    overflow-x: hidden;
  }
}

.compact-tooltip {
  width: auto !important;
  min-width: auto !important;
  max-width: max-content !important;
  padding: 0.5rem 0.75rem !important;
}

@media (width <= 1100px) {
  .performance-card {
    .title-section {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
}

// @media (width <= 700px) {
//   .performance-card {
//     .desktop-view-container {
//       display: none;
//     }

//     .mobile-view {
//       display: block;
//     }

//     .mobile-only {
//       display: flex;
//       flex-wrap: wrap;
//     }

//     .time-frame-toggle {
//       display: flex;
//       flex-wrap: wrap;
//       width: 100%;
//       margin-left: 0;
//       overflow-x: visible;

//       .nowrap {
//         margin-bottom: 0.5rem;
//       }
//     }
//   }
// }
