.NewPoolSelector {
  &-table {
    border-collapse: collapse;

    th {
      text-align: left;
      padding: 0.5rem;
      padding-top: 1.4rem;
      text-transform: uppercase;
      font-weight: normal;
      opacity: 0.7;

      &:first-child {
        padding-left: 1.4rem;
      }

      &:last-child {
        padding-right: 1.4rem;
      }
    }
  }

  &-row {
    cursor: pointer;

    &:hover,
    &-selected,
    &:active {
      background: rgba(180, 187, 255, 0.1);
      box-shadow: inset 0px 0px 3rem 0.5rem rgba(255, 255, 255, 0.01);
    }

    td {
      padding: 0.5rem;

      &:first-child {
        padding-left: 1.4rem;
      }

      &:last-child {
        padding-right: 1.4rem;
      }
    }
  }

  &-collateral-logos {
    display: flex;
  }

  &-collateral-logo-first {
    position: relative;
  }

  &-collateral-logo-second {
    margin-left: calc(-24px / 2);
  }

  &-column-pool {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-column-open-fees {
    text-align: right;
  }

  &-mobile {
    &-info {
      margin: unset;
      margin-top: 1rem;
      display: grid;

      grid-template-columns: 1fr 1fr;
    }
  }
}
