.collateralPanel {
    border-radius: 0.8rem;

    .item {
        padding: 1rem 1.2rem;

        &:hover {
            background: #535353;
        }


    }

    .geryStyle {
        color: #323232;
    }
}