.Checkbox {
  display: flex;
  align-items: center;
  padding-left: 0;
  font-size: var(--font-size-body-small);
  cursor: pointer;
  user-select: none;

  &.disabled {
    cursor: default;
    pointer-events: none;
  }

  &-icon-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &-icon {
    margin-right: 0.62rem;
    margin-bottom: 0;
    font-size: var(--font-size-body-small);
    color: var(--color-primary-500);

    &.inactive {
      color: var(--color-gray-300);
    }
  }

  &-label {
    display: inline-block;
    flex: 1;
    font-size: var(--font-size-body-small);
    text-align: left;
    vertical-align: middle;
  }

  &.fullRow {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    margin-bottom: 0.5rem;
    direction: rtl;

    .Checkbox-icon {
      margin-right: 0;
    }
  }

  &.disabled .Checkbox-icon {
    color: #47509e;
  }
}
