.CollateralSelector {
  &-mobile {
    &-column-pool {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-info {
      margin: unset;
      margin-top: 1rem;
      display: grid;

      grid-template-columns: 1fr 1fr;
    }
  }
}
