.Tab.block {
  display: grid;
  grid-auto-flow: column;
  font-size: 1.4rem;
  border-radius: 3px;
  overflow: hidden;
  color: rgba(255, 255, 255);
  background: rgba(71, 47, 80, 0.5);
  box-shadow: inset 0px 0px 30px 5px rgba(255, 255, 255, 0.01);
}

.Tab-option-icon {
  margin-right: 0.465rem;
  opacity: 0.7;
}

.Tab.block .Tab-option {
  text-align: center;
  padding: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  color: rgba(255, 255, 255);
  opacity: 1;
  /* font-size: 1.5rem; */
}

.Tab.block .Tab-option:hover {
  color: rgba(255, 255, 255, 1);
  background: #472F50;
  opacity: 0.5;
}

.Tab.block .Tab-option.active {
  opacity: 1;
  pointer-events: none;
  background: #472F50;
  color: rgba(255, 255, 255, 1);
}

.Tab.block .Tab-option.active .Tab-option-icon {
  opacity: 1;
}

.Tab.inline .Tab-option {
  cursor: pointer;
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.Tab.inline .Tab-option:hover {
  opacity: 0.8;
}

.Tab.inline .Tab-option.active {
  opacity: 1;
  pointer-events: none;
}
