.PositionDropdown-dots-icon {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  background: transparent;
  font-size: 1rem;
  color: var(--color-gray-300);
}

.PositionDropdown-dots-icon:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}

.PositionDropdown-menu-items {
  width: max-content !important;
}

.PositionDropdown-menu-items .menu-item {
  font-size: 1.3rem;
  font-weight: 500;
  color: #A3A3A3;

  &:hover {
    background: #1F1F1F;
    color: #fff;
  }
}