.LeaderboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.GlobalLeaderboardsTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (max-width:450px) {
  .LeaderboardHeader {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.Table .formula {
  font-style: italic;
}

.TopPositionsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TopPositionsItem img,
.TopPositionsItem span {
  display: inline-block;
  margin-right: 0.5rem;
}

.LeaderboardSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.TopPositionsSearch {
  width: 30rem;
}

.TopPositionsPositionCell .Tooltip  {
  display: inline-block;
  width: 100%;
}

.TopPositionsPositionCell .Tooltip-handle {
  display: inline-block;
  width: 100%;
}

.TopPositionsPositionView {
  display: inline-flex;
  align-items: center;
  width: 100%;
  text-decoration: inherit;
}

.TopPositionsPositionView .TopPositionsSymbol {
  display: inline-block;
  flex: 1;
  text-decoration: inherit;
}

.TopPositionsMarketName {
  margin-right: 0.5rem;
}

.TopPositionsPositionView .TopPositionsDirection {
  font-size: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 0.5rem;
}

.TopPositionsPositionView .TopPositionsDirection.positive {
  background-image: url(../../img/ic_line_chart_up.svg);
}

.TopPositionsPositionView .TopPositionsDirection.negative {
  background-image: url(../../img/ic_line_chart_down.svg);
}

.LeaderboardSearch.disabled {
  cursor: not-allowed;
}

.LeaderboardSearch:hover {
  background: var(--dark-blue-hover);
}

.LeaderboardSearch:active {
  background: var(--dark-blue-active);
}

.LeaderboardRank-1,
.LeaderboardRank-2,
.LeaderboardRank-3 {
  display: inline-flex;
}

.LeaderboardRank-1::after,
.LeaderboardRank-2::after,
.LeaderboardRank-3::after {
  content: "";
  width: 2.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 0.5rem;
}

.LeaderboardRank-1::after {
  background-image: url(../../img/ic_trophy_1.svg);
}

.LeaderboardRank-2::after {
  background-image: url(../../img/ic_trophy_2.svg);
}

.LeaderboardRank-3::after {
  background-image: url(../../img/ic_trophy_3.svg);
}
