.LeaderboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.GlobalLeaderboardsTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (max-width:450px) {
  .LeaderboardHeader {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .LeaderboardHeader .input-wrapper {
    margin-top: 1.5rem;
    width: 100%;
  }
}

.TopPositionsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TopPositionsItem img,
.TopPositionsItem span {
  display: inline-block;
  margin-right: 0.5rem;
}

.LeaderboardSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.LeaderboardSearch.disabled {
  cursor: not-allowed;
}

.LeaderboardSearch:hover {
  background: var(--dark-blue-hover);
}

.LeaderboardSearch:active {
  background: var(--dark-blue-active);
}
