.coming-soon-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
  width: 100%;
}

.coming-soon-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1.2rem 2rem; 
  padding: 0rem 0.8rem 0;
}

.comming-soon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 380px;
  flex-grow: 1;
  // margin-top: -5rem;
}

.comming-soon_icon {
  width: 15.3rem;
  height: 19rem;
  margin-bottom: 2rem;
}

.comming-soon_text {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.comming-soon_container span {
  display: block;
  margin-bottom: 0.2rem;
  color: #A3A3A3;
  font-size: 2rem;
  letter-spacing: 0.2px;
}

.comming-soon_button {
  width: 20rem;
  height: 5.6rem;
  margin-top: 2.4rem;
  padding: 1rem 2.4rem;
  border-radius: 0.8rem;
  background-color: #FA7B4E;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.comming-soon_button:hover {
  background-color: #4f57e8;
}

.comming-soon_container a {
  text-decoration: none;
}
