.AcceptablePriceImpactInputRow-handle {
  z-index: 1;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: rgba(255, 255, 255, 0.7);
  user-select: none;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    text-decoration-color: #ffffff;
    color: #ffffff;
  }
}
