.stake-content {
  max-width: 1728px;
  margin: 0 auto;
  // padding-bottom: 4rem;
  padding-right: .8rem;
  padding-left: 0.8rem;

  .header-left {
    margin-top: 1.2rem;
  }

  .title {
    padding: 2rem;
    padding-left: 0;

    p {
      font-weight: 500;
      font-size: 3.2rem;

      &:last-child {
        font-weight: 500;
        font-size: 1.4rem;
        margin-top: 0.8rem;
        color: #A3A3A3;
      }
    }
  }

  .stake-list-box {
    padding-top: 0.8rem;

    * {
      font-weight: 500;
    }

    img {
      max-width: none !important;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #181818;
      border-bottom: 1px solid #535353;
      padding-right: 2rem;
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      scrollbar-width: none;
      width: 100%;
      -ms-overflow-style: none;
      /* IE and Edge */
      -webkit-overflow-scrolling: touch;
      /* iOS smooth scrolling */
      touch-action: pan-x;

      &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
      }

      .tabs-box {
        display: flex;

        .item {
          display: flex;
          align-items: center;
          padding: 2rem;
          font-size: 1.6rem;
          border-bottom: 0.2rem solid transparent;
          cursor: pointer;
          color: #A3A3A3;

          p {
            transition: all 0.2s ease;
            white-space: nowrap;

            &:hover {
              color: #fff;
            }
          }

          span {
            min-width: 2rem;
            text-align: center;
            padding: 0.15rem 0.6rem;
            margin-left: 0.6rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            color: #A3A3A3;
            background: #323232;
          }
        }

        .active {
          background: transparent;
          border-radius: 0;
          border-color: #FA7B4E;
          color: #fff;
        }
      }

      .tabs-btn {
        display: flex;

        button {
          font-size: 1.3rem;
          font-weight: 500;
          padding: 0.8rem 1.2rem;
          border-radius: 0.8rem;

          // background: #FA7B4E;
          &:last-child {
            margin-left: 0.8rem;
          }
        }
      }
    }

    .mobile-claim {

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.8rem 0;

      .mobile-select-icon {
        padding: 0.9rem 1.3rem;
        background: #1F1F1F;
        border-radius: 0.8rem;

        &.no-positions {
          opacity: 0.5;
          cursor: not-allowed;

          img {
            cursor: not-allowed;
          }
        }
      }

      button {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0.8rem 1.2rem;
        border-radius: 0.8rem;

        &:last-child {
          margin-left: 0.8rem;
        }
      }
    }

  }

  .btn {
    white-space: nowrap;
    background: #FA7B4E;

    &:hover {
      background: #FA7B4E;
    }

    &:active {
      background: #FA7B4E;
    }

    &:disabled:hover,
    &[disabled]:hover {
      background-color: #1F1F1F;
    }
  }

  button.stake-action-button {
    background: #FA7B4E;

    &:not(:disabled):hover,
    &:not(:disabled):active {
      background: #FA7B4E;
    }

    &:disabled {
      background: #1F1F1F;
      color: #535353;
    }
  }

  .disabled-button {
    cursor: not-allowed;
    background: #1F1F1F;
    color: #535353;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .active-button {
    opacity: 1;
    cursor: pointer;
  }

  &:not(.feature-gmw-307) .data-empty {
    font-size: 1.4rem;
    color: #A3A3A3;
    text-align: center;
    padding: 20rem 0;
  }

  .tabular-nums {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
  }

  .border-b {
    border-bottom: none !important;
  }
}

@media(max-width: 768px) {
  .stake-content {
    padding-left: 0.8rem;

    .title {

      // padding-left: 1.2rem;
      p {
        &:last-child {
          letter-spacing: 0.0rem;
        }
      }
    }
  }
}