.GMSwapBox {
  border-radius: 0.4rem;
  padding: 1.5rem;
  padding-top: 0;
}

.GMSwapBox .Exchange-swap-option-tabs {
  margin: 1.5rem 0;
}

.GMSwapBox-asset-options-tabs {
  margin: 1.5rem 0;
}

.GMSwapBox-info-section {
  margin-bottom: 0.8rem;
}

.GMSwapBox-market-dropdown {
  margin-top: 1.5rem;
  margin-left: -0.5rem;
}

.GMSwapBox-form-layout {
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .GlpSwap-content {
    flex-wrap: wrap;
  }

  .GlpSwap-content .GlpSwap-stats-card {
    margin: 0;
    margin-bottom: 3.1rem;
    max-width: 100%;
  }

  .GlpSwap-content .GlpSwap-box {
    margin: 0;
    max-width: 100%;
  }
}
