.center {
  text-align: center;
}
.section {
  margin-bottom: 3rem;
}
.Page-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.content {
  margin-top: 3rem;
}
.body-text {
  margin: 0px;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  /* color: #a0a3c4; */
}

.body-title {
  font-weight: 500;
  font-family: "Relative Bold";
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
