.ConfirmationBox-main {
  display: flex;
  flex-direction: column;
}

.trade-info-wrapper {
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  align-items: center;
  margin-top: 0;

  .arrow-icon {
    margin-top: 0.5rem;
  }

  .trade-token-amount {
    color: var(--color-white);
    font-size: 1.8rem;
  }

  .trade-amount-usd {
    font-size: 1.6rem;
    color: var(--color-gray-300);
  }
}

.Existing-limit-order {
  font-size: 1.4rem;
}

.Confirmation-box {
  .Modal-body {
    overflow-x: hidden;
  }
}

.ConfirmationBox-approve-tokens {
  display: flex;
  flex-direction: column;
}

.ConfirmationBox-approve-token {
  height: 2.2rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.SLTP-pnl-tooltip .Tooltip-popup {
  white-space: nowrap;
  min-width: fit-content;
}
