.SidecarEntries-wrapper {
  display: grid;
  grid-row-gap: 0.35rem;

  .SidecarEntry-row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .Sidecar-size,
    .Sidecar-price {
      border: 1px solid #212540;
      border-radius: var(--border-radius-sm);
      padding-left: 0.5rem;
      line-height: 1;
      background: #212540;
      position: relative;

      .size-input,
      .price-input {
        padding: 0.2rem 0.5rem 0.2rem;
        font-size: 1.4rem;
        border-radius: 4px;
        max-width: 7rem;
        border-radius: var(--border-radius-sm);
        text-align: right;
      }

      &:hover,
      &:focus {
        border-color: #3a3f798f;
      }
      &:focus-within {
        border-color: #3a3f79;
      }

      &.input-error {
        border-color: var(--error-red);
      }
      .price-symbol {
        cursor: pointer;
        opacity: 0.7;
      }
      .Sidecar-price-error,
      .Sidecar-size-error {
        display: none;
        &.Tooltip-popup {
          min-width: 0;
          width: max-content;
        }
      }

      &:hover {
        .Sidecar-price-error,
        .Sidecar-size-error {
          display: block;
        }
      }

      .Sidecar-size-info {
        display: none;
        &.Tooltip-popup {
          min-width: 25rem;
        }
      }

      &:focus-within {
        .Sidecar-size-info {
          display: none;
        }
      }

      &:hover {
        .Sidecar-size-info {
          display: block;
        }
      }
    }
    .Sidecar-size .size-input {
      max-width: 8rem;
    }
    .Sidecar-percentage {
      position: relative;

      &.input-error {
        .Suggestion-input {
          border-color: var(--error-red);
        }
      }

      .Suggestion-input {
        input {
          width: 4.8rem;
        }
      }

      .Sidecar-size-info {
        display: none;
        &.Tooltip-popup {
          min-width: 25rem;
        }
      }

      &:focus-within {
        .Sidecar-size-info {
          display: none;
        }
      }

      &:hover {
        .Sidecar-size-info {
          display: block;
        }
      }
    }
  }
  .error {
    opacity: 0.7;
    color: var(--error-red);
    font-size: 1.3rem;
    text-align: right;
    padding-right: 0.5rem;
  }

  .Sidecar-actions {
    display: flex;
    align-items: center;
    height: 100%;
    button {
      border: none;
      padding: 0.5rem;
      border-radius: var(--border-radius-sm);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .action-remove {
      background-color: rgba(231, 78, 93, 0.15);
      opacity: 0.7;

      &:hover:not(:disabled) {
        opacity: 1;
      }
    }

    .action-add {
      background-color: rgba(94, 201, 137, 0.15);
      opacity: 0.7;

      &:hover:not(:disabled) {
        opacity: 1;
      }
    }
  }

  .rotate-45 {
    transform: rotate(45deg);
  }
}

.Sidecar-helper-text .Tooltip-popup {
  min-width: min-content;
  text-wrap: nowrap;

  span {
    line-height: 1;
  }
}
