.SLTPEntries-wrapper {
  display: grid;
  grid-row-gap: 0.35rem;

  .SLTPEntry-row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .SLTP-price {
      border: 1px solid var(--color-slate-700);
      border-radius: var(--border-radius-sm);
      padding-left: 0.5rem;
      line-height: 1;
      background: var(--color-slate-700);
      position: relative;

      .price-input {
        padding: 0.2rem 0.5rem 0.2rem;
        font-size: 1.4rem;
        border-radius: 4px;
        max-width: 7rem;
        border-radius: var(--border-radius-sm);
        text-align: right;
      }

      &:hover,
      &:focus {
        border-color: var(--color-cold-blue-700);
      }
      &:focus-within {
        border-color: var(--color-cold-blue-500);
      }

      &.input-error {
        border-color: var(--error-red);
      }
      .price-symbol {
        cursor: pointer;
        opacity: 0.7;
      }
      .SLTP-price-error {
        display: none;
        &.Tooltip-popup {
          min-width: 0;
          width: max-content;
        }
      }

      &:hover {
        .SLTP-price-error {
          display: block;
        }
      }
    }
    .SLTP-percentage {
      position: relative;

      &.input-error {
        .Suggestion-input {
          border-color: var(--error-red);
        }
      }

      .Suggestion-input {
        input {
          width: 4.8rem;
        }
      }

      .SLTP-percent-info {
        display: none;
        &.Tooltip-popup {
          min-width: 25rem;
        }
      }

      &:focus-within {
        .SLTP-percent-info {
          display: none;
        }
      }

      &:hover {
        .SLTP-percent-info {
          display: block;
        }
      }
      .SLTP-percent-error {
        display: none;
        &.Tooltip-popup {
          min-width: 0;
          width: max-content;
        }
      }

      &:hover {
        .SLTP-percent-error {
          display: block;
        }
      }
    }
  }
  .error {
    opacity: 0.7;
    color: var(--error-red);
    font-size: 1.3rem;
    text-align: right;
    padding-right: 0.5rem;
  }

  .SLTP-actions {
    display: flex;
    align-items: center;
    height: 100%;
    button {
      border: none;
      padding: 0.5rem;
      border-radius: var(--border-radius-sm);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .action-remove {
      background-color: color-mix(in srgb, var(--color-red-500) 15%, transparent);
      opacity: 0.7;

      &:hover:not(:disabled) {
        opacity: 1;
      }
    }

    .action-add {
      background-color: color-mix(in srgb, var(--color-green-500) 15%, transparent);
      opacity: 0.7;

      &:hover:not(:disabled) {
        opacity: 1;
      }
    }
  }

  .rotate-45 {
    transform: rotate(45deg);
  }
}

.SLTP-helper-text .Tooltip-popup {
  min-width: min-content;
  text-wrap: nowrap;

  span {
    line-height: 1;
  }
}
