.SLTPEntries-wrapper {
  .SLTPEntry-row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .SLTP-price {
      border: 1px solid #212540;
      border-radius: var(--border-radius-sm);
      padding-right: 0.5rem;
      line-height: 1;
      background: #212540;

      .price-input {
        padding: 0.2rem 0.5rem 0.35rem;
        font-size: 1.4rem;
        border-radius: 4px;
        max-width: 7rem;
        border-radius: var(--border-radius-sm);
      }
      &:hover,
      &:focus {
        border-color: #3a3f798f;
      }
      &:focus-within {
        border-color: #3a3f79;
      }

      &.input-error {
        border-color: #f3b50e;
      }
      .price-symbol {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .SLTP-actions {
    display: flex;
    align-items: center;
    height: 100%;
    button {
      border: none;
      padding: 0.5rem;
      border-radius: var(--border-radius-sm);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .action-remove {
      margin-right: 0.5rem;
      background-color: rgba(231, 78, 93, 0.15);
    }

    .action-add {
      background-color: rgba(94, 201, 137, 0.15);
    }
  }

  .rotate-45 {
    transform: rotate(45deg);
  }
}
