.TableFilterBase {
  &-filter {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &.active,
    &:hover {
      color: rgba(var(--color-blue-300));
    }
  }

  &-filter-popover {
    position: relative;
    z-index: 1000;

    border-radius: var(--border-radius-sm);
    overflow: hidden;
    background-color: rgba(var(--color-slate-900));
    border: 0.5px solid rgba(var(--color-slate-600));
  }
}
