.table-empty-state {
  position: relative;

  &--trade-primary {
    min-height: 26rem;

    @media (max-width: 768px) {
      min-height: 25.2rem;
    }
  }

  &--trade-claims {
    min-height: 19.2rem;

    @media (max-width: 768px) {
      min-height: 16.5rem;
    }
  }

  &--stake-positions {
    min-height: 23.2rem;

    @media (max-width: 890px) {
      min-height: 24rem;
    }
  }

  &--stake-history {
    min-height: 19.6rem;

    @media (max-width: 768px) {
      min-height: 24rem;
    }
  }

  &--gt-history {
    min-height: 20rem;

    @media (max-width: 768px) {
      min-height: 23.6rem;
    }
  }
}

.table-empty-state__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
