.TradeHistorySynthetics {
  &-horizontal-scroll-container {
    overflow-x: auto;
  }

  &-table {
    width: max(100%, 600px);
    margin-right: -10px;

    // th {
    //   text-align: left;
    //   padding: 1rem;
    //   font-weight: normal;
    // }

    // td {
    //   padding: 1rem;
    // }

    // tr {
    //   border-bottom: 1px solid red;
    // }
  }

  &-header th {
    text-transform: uppercase;
  }

  &-padded-cell {
    padding: 1em;
    padding-left: 1.4em;
  }

  &-controls {
    padding: 1em;
    border-bottom: 1px solid #23263b;

    display: flex;
    justify-content: space-between;

    .button {
      padding: 6px 10px !important;
    }
  }

  &-filters {
    display: flex;
    gap: 0.5em;
  }
}
