.card {
  padding: 1.55rem;
  border: 1px solid #1e2136;
  border-radius: 0.4rem;
  background: #16182e;
}

.card-header {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 0.775rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-divider {
  height: 1px;
  background: #23263b;
  margin: 1.085rem -1.55rem;
}

.card-body {
}
