.card {
  border: 1px solid #1e2136;
  border-radius: 0.4rem;
  background: #16182e;
}

.card-header {
  font-size: var(--font-md);
  line-height: 2.1rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.card-divider {
  height: 1px;
  background: #23263b;
}
.card-body {
  padding: 1.5rem;
}
