.DateRangeSelect {
  &-anchor {
    position: relative;
  }

  &-popover {
    position: relative;
    z-index: 1000;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--dark-blue-bg);
    border: 0.5px solid rgba(var(--color-gray-800));
  }

  &-common-items {
    padding: 1rem;
    padding-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  &-calendarWrapper {
    color: rgba(var(--color-typography-primary));
    background-color: inherit;
    display: block;
  }

  &-monthAndYearPickers select {
    color: rgba(var(--color-typography-primary));

    background-image: none;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;

    option {
      color: rgba(var(--color-typography-primary));
      background-color: var(--dark-blue-bg);
    }
  }

  &-month {
    padding: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  &-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &-day {
    width: 100%;
    height: 36px;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 2px;
  }

  &-dayNumber,
  &-inRange,
  &-startEdge,
  &-endEdge,
  &-dayEndPreview,
  &-dayStartPreview {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 13px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-dayNumber span {
    color: rgba(var(--color-typography-primary));
  }

  &-weekDay {
    color: rgba(var(--color-slate-100));
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
  }

  &-prevButton,
  &-nextButton {
    margin: 0;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    background-color: rgba(var(--color-slate-800));
    position: relative;
  }

  &-prevButton i,
  &-nextButton i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-image: url("img/ic_chevron_left.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 0;
  }

  &-nextButton i {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &-prevButton:hover {
    background-color: rgba(var(--color-slate-600));
  }

  &-nextButton i {
    border-color: transparent transparent transparent white;
  }

  &-nextButton:hover {
    background-color: rgba(var(--color-slate-600));
  }

  &-startEdge,
  &-endEdge,
  &-selected {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(var(--color-blue-600));
      border-radius: 8px;
      z-index: 0;
    }
  }

  &-dayInPreview,
  &-dayStartPreview,
  &-dayEndPreview,
  &-dayHovered {
    color: rgba(var(--color-blue-600)) !important;
  }

  &-dayStartPreview,
  &-dayStartOfWeek &-dayStartPreview,
  &-dayStartOfWeek &-dayInPreview,
  &-dayStartOfWeek &-inRange,
  &-dayStartOfMonth &-inRange,
  &-dayStartOfMonth &-dayInPreview {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &-dayEndPreview,
  &-dayEndOfWeek &-dayEndPreview,
  &-dayEndOfWeek &-dayInPreview,
  &-dayEndOfWeek &-inRange,
  &-dayEndOfMonth &-inRange,
  &-dayEndOfMonth &-dayInPreview {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &-dayStartOfWeek &-dayEndPreview,
  &-dayEndOfWeek &-dayStartPreview,
  &-dayStartOfMonth &-dayEndPreview,
  &-dayEndOfMonth &-dayStartPreview {
    border-radius: 8px;
  }

  &-dayHovered {
    &::after {
      border-radius: 4px !important;
    }
  }

  &-dayInPreview,
  &-dayStartPreview,
  &-dayEndPreview {
    border: none !important;
    outline: none !important;
  }

  &-dayToday &-dayNumber span::after {
    background-color: rgba(var(--color-blue-300)) !important;
    border-radius: 4px !important;
    width: 4px !important;
    height: 4px !important;
    bottom: 2px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  &-dayDisabled {
    background-color: rgba(var(--color-gray-900));
  }

  @media (max-width: 600px) {
    &-month {
      width: auto;
    }
  }

  &-monthAndYearWrapper {
    padding: 12px;
    border-bottom: 0.5px solid rgba(var(--color-slate-600));
    height: unset;
  }
}
