.address-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // height: 40px;
  width: 100%;
  font-size: var(--font-size-body-medium);
  color: white !important;
}

.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 20px;
  // height: 20px;

  // img {
  //   width: 20px !important;
  //   height: 20px !important;
  //   object-fit: contain;
  // }
}

.address-custom-btn {
  position: relative;
  border-radius: 0.8rem;
  background: #1F1F1F!important;
  z-index: 20000;
}

@media (width <= 768px) {
  .user-avatar {
    img {
      width: 1.92rem !important;
      height: 1.92rem !important;
      // max-height: 1.92rem !important;
    }
  }
}

.user-address {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  flex: 1;
  font-weight: 500;
  text-align: center;
  @media (width <= 768px) {
    font-size: 1.12rem;
  }
}

.menu-items {
  position: absolute;
  // top: 4rem;
  right: 0;
  z-index: 1000;
  width: auto;
  min-width: max-content;
  transform-origin: top right;
  list-style: none;
  outline: none;

  .menu-item {
    display: flex !important;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.4rem;
    font-size: 500;
    color: #A3A3A3;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    gap: 0.8rem;
    text-decoration: none;

    &:hover {
      background: var(--dark-blue-100);
      color: white;
    }

    img,
    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    p,
    > p {
      margin: 0;
      padding: 0;
      // font-size: var(--font-size-body-medium);
      white-space: nowrap;
    }
  }

  a.menu-item {
    color: var(--color-gray-500);
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .menu-item:not(:first-child) {
    padding-top: 0.8rem;
  }
}

// @media (width <= 370px) {
//   .user-address {
//     margin-left: 0;
//   }

//   .address-btn {
//     display: flex;
//     justify-content: space-between;
//   }

//   .user-avatar {
//     display: none;
//   }
// }

// @media (width <= 450px) {
//   .address-btn.App-cta.small {
//     // padding: 0.5rem !important;
//   }

//   .user-address {
//     margin-right: 0.5rem;
//     margin-left: 0.5rem;
//   }
// }
