.net-fees-over-time {
  list-style: none;
  margin: 0.5rem 0 0 1rem;
  padding: 0;
  li {
    padding-bottom: 0.5rem;
  }
}

.MarketList-netfee-tooltip {
  .Tooltip-popup {
    min-width: 32rem;
  }
}

@media (max-width: 350px) {
  .MarketList-netfee-tooltip {
    .Tooltip-popup {
      min-width: 29rem;
    }
  }
}
