table.Table.Exchange-list th {
  opacity: unset;
}

.TableHeader .TableHeaderTitle {
  opacity: 0.7;
  display: flex;
  height: 100%;
}

.TableHeader.sortable .TableHeaderTitle::after,
.TableHeader.sorted-asc .TableHeaderTitle::after,
.TableHeader.sorted-desc .TableHeaderTitle::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  margin-left: 0.5rem;
  background-repeat: no-repeat;
}

.TableHeader.sortable .TableHeaderTitle::after {
  background-position: center 0.25rem;
  background-image: url(../../img/ic_sortable.svg);
}

.TableHeader.sorted-asc .TableHeaderTitle::after {
  background-image: url(../../img/ic_sorted_asc.svg);
  background-position: center 0.5rem;
}

.TableHeader.sorted-desc .TableHeaderTitle::after {
  background-image: url(../../img/ic_sorted_desc.svg);
  background-position: center 0.4rem;
}
