.TransactionStatus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  font-size: var(--font-sm);
}

.TransactionStatus-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TransactionStatus-spin {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--color-white);
}
