.Tooltip {
  position: relative;
}

.Tooltip-popup {
  font-size: var(--font-size-body-medium);
  font-weight: normal;
  line-height: 125%;
  border-radius: 8px;
  padding: 10px;
  letter-spacing: 0.02em;
  width: max-content;
  max-width: 100vw;
  text-align: left;
  white-space: normal;
  background: linear-gradient(0deg, #a0a3c41a, #a0a3c41a),
    linear-gradient(0deg, var(--color-slate-800), var(--color-slate-800));
  backdrop-filter: blur(14px);
  box-shadow: 0px 4px 14px 0px #00000040;
  z-index: 10000;
  color: var(--color-typography-primary);

  a {
    text-decoration: underline;
  }
}

.Tooltip.nowrap .Tooltip-popup {
  min-width: auto;
  white-space: nowrap;
}

.Tooltip-popup :first-child {
  margin-top: 0;
}

.Tooltip-popup :last-child {
  margin-bottom: 0;
}

// TODO: remove all usages of Tooltip-popup outside of Tooltip component
// and remove the following styles
.Tooltip-popup {
  &.top {
    left: 50%;
    transform: translateY(-0.8rem) translateX(-50%);
    bottom: 100%;
  }

  &.top-start {
    left: 0;
    transform: translateY(-0.8rem);
    bottom: 100%;
  }

  &.top-end {
    right: 0;
    transform: translateY(-0.8rem);
    bottom: 100%;
  }

  &.bottom {
    left: 50%;
    transform: translateY(0.8rem) translateX(-50%);
    top: 100%;
  }

  &.bottom-start {
    left: 0;
    transform: translateY(0.8rem);
    top: 100%;
  }

  &.bottom-end {
    right: 0;
    transform: translateY(0.8rem);
    top: 100%;
  }

  &.left,
  &.left-start,
  &.left-end {
    right: calc(100% + 0.5rem);
    transform: translateY(50%);
  }

  &.left {
    bottom: 70%;
  }

  &.left-start {
    bottom: 95%;
  }

  &.left-end {
    bottom: 25%;
  }

  &.right,
  &.right-start,
  &.right-end {
    left: calc(100% + 0.5rem);
    transform: translateY(50%);
  }

  &.right {
    bottom: 70%;
  }

  &.right-start {
    bottom: 95%;
  }

  &.right-end {
    bottom: 25%;
  }
}

.Tooltip-handle {
  z-index: 1;
  cursor: help;
  position: relative;
  display: inline-flex;
}

.Tooltip-underline {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  text-decoration-color: inherit;
}

.Tooltip-divider {
  height: 1px;
  background-color: var(--color-gray-500);
  margin: 0.5rem 0;
}

.Tooltip-row {
  display: grid;
  margin: 0 0 0.5rem 0;
  grid-template-columns: 1fr auto;
}

.Tooltip-row > span.label {
  margin-right: 0.5rem;
}

.Tooltip-row-values {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Tooltip-row-values li:not(:first-child) {
  padding: 0.25rem 0 0 0;
  text-align: right;
}

.Tooltip-number {
  color: var(--color-typography-primary);
}

.Tooltip-flex {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .Tooltip-row {
    margin-bottom: 1rem;
  }
}
