.Tooltip {
  position: relative;
}

.Tooltip-popup {
  font-size: 0.9rem;
  position: absolute;
  border-radius: 3px;
  padding: 0.7rem 1rem;
  line-height: 1.3;
  min-width: 250px;
  text-align: left;
  z-index: 1;
  box-shadow: 2px 2px 3px #0b0b0f;
  background:  linear-gradient(90deg, #0b0b0f 0%, rgba(10,13,28,1) 100%)
}

.Tooltip-popup :first-child {
  margin-top: 0;
}

.Tooltip-popup :last-child {
  margin-bottom: 0;
}

.Tooltip-popup.left-bottom {
  left: 0;
  transform: translateY(0.5rem);
  top: 100%;
}

.Tooltip-popup.right-bottom {
  right: 0;
  transform: translateY(0.5rem);
  top: 100%;
}

.Tooltip-popup.right-top {
  right: 0;
  transform: translateY(-0.5rem);
  bottom: 100%;
}

.Tooltip-popup.center-bottom {
  left: 50%;
  transform: translateY(0.5rem) translateX(-50%);
  top: 100%;
}

.Tooltip-handle {
  cursor: help;
  position: relative;
}
.Tooltip-handle:after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  right: 0;
  border-bottom: 1px dashed;
  opacity: 0.6;
}

.Tooltip-handle.plain:after {
  border-bottom: none;
}

@media (max-width: 700px) {
  .Tooltip-popup {
    min-width: 200px;
  }
}
