.GlpSwap-content {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Tab-title-section {
  padding: 1.0967rem 1.032rem 0;
  margin-bottom: 24px;
}

.Tab-title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.Tab-description {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0px;
  color: #A0A3C4;
  margin-top: 0.5rem;
}

.Tab-description span {
  color: #F89191;
}

.GlpSwap-content .GlpSwap-stats-card, .GlpSwap-content .GlpSwap-box {
  background: #16182E;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.GlpSwap-content .GlpSwap-stats-card {
  max-width: 45.935rem;
  margin-right: 1rem;
}

.GlpSwap-content .GlpSwap-box {
  max-width: 29.935rem;
  margin-left: 1rem;
}

.GlpSwap-stats-card .App-card-row {
  padding-top: 0.452rem!important;
  padding-bottom: 0.452rem!important;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.903rem;
  line-height: 1.161rem;
}

.GlpSwap-stats-card .App-card-row:nth-child(odd) {
  background: #1E1F37;
}

.GlpSwap-stats-card .App-card-content {
  grid-row-gap: 0;
}

.GlpSwap-stats-card .GlpSwap-stats-mark-icon {
  position: relative;
  margin-right: 0.5rem;
  display: flex;
}

.GlpSwap-stats-card .GlpSwap-stats-mark-icon .selected-network-symbol {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #1E1F37;
  border-radius: 50%;
}

.GlpSwap-stats-card .GlpSwap-stats-mark {
  display: flex;
}

.GlpSwap-stats-mark .GlpSwap-stats-mark-title {
  font-size: 1.032rem;
  line-height: 1.355rem;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.GlpSwap-stats-mark .GlpSwap-stats-mark-subtitle {
  font-size: 0.774rem;
  line-height: 1rem;
  letter-spacing: 0px;
  color: #A0A3C4;
}

.GlpSwap-token-list {
  margin-top: 2rem;
  background: #16182E;
  border-radius: 8px;
}

.GlpSwap-token-list-content {
  display: grid;
  padding: 1rem;
  padding-top: 0;
  text-align: left;
  overflow-x: auto;
}

.GlpSwap-token-list-content .App-card {
  background: #17182C;
  border: 2px solid #A0A3C433;
  border-radius: 8px;
}

.GlpSwap-box {
  padding: 1rem;
  padding-top: 0;
}

.GlpSwap-box .App-card-title {
  margin-bottom: 0.5rem;
}

.GlpSwap-box .Exchange-info-row {
  height: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GlpSwap-box .Exchange-info-row .Exchange-info-label {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
  color: #A0A3C4;
}

.GlpSwap-box .Exchange-info-row .fee-block .Tooltip {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
  color: #A0A3C4;
}

.GlpSwap-cta {
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
}

.GlpSwap-cta .Exchange-swap-button {
  margin: 0 auto;
  justify-content: center;
  min-height: 3.097rem;
}

.token-table {
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
  border-spacing: 0;
  white-space: nowrap;
}

.token-table td, .token-table th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.token-table td:nth-child(3), .token-table th:nth-child(3) {
  min-width: 255px;
}

.token-table td {
  font-size: 0.903rem;
  line-height: 1.2903rem;
  letter-spacing: 0.25px;
  color: #FFFFFFDE;
}

.token-table th:first-child, .token-table td:first-child {
  padding-left: 1rem;
  width: 17rem;
}

.token-table th:last-child, .token-table td:last-child {
  padding-right: 1rem;
  text-align: right;
  width: 175px;
}

.token-table th {
  font-size: 0.903rem;
  line-height: 1.2903rem;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: #A0A3C4;
  text-transform: uppercase;
}

.token-table tbody tr:nth-child(odd) {
  background: #1E1F37;
}

.token-table tbody tr:nth-child(even) {
  background: #1E1F3700;
}

.swap-option-select {
  display: flex;
  margin: 1rem 0;
}

.swap-option-select .swap-option {
  background: #1D233D;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: #A0A3C4;
  text-decoration: none;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swap-option-select .swap-option.active {
  background: #2D42FC;
  color: white;
}

.swap-option-select .swap-option:first-child {
  border-radius: 4px 0px 0px 4px;
}

.swap-option-select .swap-option:last-child {
  border-radius: 0px 4px 4px 0px;
}

@media (max-width: 900px) {
  .GlpSwap-content {
    flex-wrap: wrap;
  }

  .GlpSwap-content .GlpSwap-stats-card {
    margin: 0;
    margin-bottom: 2rem;
    max-width: 100%;
  }
  
  .GlpSwap-content .GlpSwap-box {
    margin: 0;
    max-width: 100%;
  }
}
