.GlpSwap-content {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.Tab-title {
  letter-spacing: 0px;
  color: var(--color-white);
  font-size: 3.41rem;
  font-weight: 500;
}

.Tab-description {
  letter-spacing: 0px;
  color: var(--color-gray-400);
  margin-top: 0.8rem;
}

.Tab-description span {
  color: #f89191;
}

.GlpSwap-from-token .Modal {
  align-items: flex-start;
  justify-content: flex-end;
}

.GlpSwap-content .GlpSwap-stats-card,
.GlpSwap-content .GlpSwap-box {
  width: 100%;
}

.GlpSwap-content .GlpSwap-stats-card {
  max-width: 71.2rem;
  margin-right: 1.5rem;
}

.GlpSwap-stats-card .App-card-row .label {
  color: var(--color-gray-400);
  opacity: 1;
}

.GlpSwap-content .GlpSwap-box {
  max-width: 47.95rem;
  border-radius: 0.4rem;
  padding: 1.5rem;
  padding-top: 0;
}

.GlpSwap-box .Exchange-swap-option-tabs {
  margin: 1.5rem 0;
}

.App-card-title-mark-icon {
  position: relative;
  margin-right: 0.8rem;
  display: flex;
}

.App-card-title-mark-icon .selected-network-symbol {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #1e1f37;
  border-radius: 50%;
}

.App-card-title-mark {
  display: flex;
}

.App-card-title-mark .App-card-title-mark-title {
  font-size: var(--font-md);
  line-height: 2.1rem;
  letter-spacing: 0px;
  color: var(--color-white);
}

.App-card-title-mark .App-card-title-mark-subtitle {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: var(--color-gray-400);
}

.GlpSwap-token-list {
  border-radius: 4px;
  background: var(--color-slate-800);
  padding: 1.5rem;
  padding-top: 0;
  text-align: left;
}

.GlpSwap-token-list-content {
  display: grid;
  padding: 1.5rem;
  padding-top: 0;
  text-align: left;
}

.GlpSwap-box .App-card-title {
  margin-bottom: 0.8rem;
}

.GlpSwap-box .Exchange-info-row {
  height: 1.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GlpSwap-box .Exchange-info-row .Exchange-info-label {
  margin-right: 0.8rem;
  color: var(--color-gray-400);
  opacity: 1;
}

.GlpSwap-cta {
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
}

.GlpSwap-cta .Exchange-swap-button {
  margin: 0 auto;
  justify-content: center;
  min-height: 4.8rem;
  font-size: var(--font-sm);
}

.token-table {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: calc(100% + 3.1rem);
  border-spacing: 0;
  white-space: nowrap;
  font-size: var(--font-base);
}

.token-grid {
  display: none;
}

.token-table td,
.token-table th {
  padding: 1.1625rem;
}

.token-table td:nth-child(2),
.token-table th:nth-child(2) {
  width: 11rem;
}

.token-table td:nth-child(3),
.token-table th:nth-child(3) {
  width: 32rem;
}

.token-table td:nth-child(4),
.token-table th:nth-child(4) {
  width: 20rem;
}

.token-table td:nth-child(5),
.token-table th:nth-child(5) {
  width: 13rem;
}

.token-table td {
  letter-spacing: 0.25px;
}

.token-table th:first-child,
.token-table td:first-child {
  padding-left: 1.5rem;
  width: 26.35rem;
}

.token-table th:last-child,
.token-table td:last-child {
  padding-right: 1.5rem;
  text-align: right;
  width: 17rem;
}

.token-table th {
  font-weight: normal;
  letter-spacing: 0.25px;
  color: var(--color-gray-400);
  text-transform: uppercase;
}

.token-table .action-btn {
  width: 100%;
  justify-content: center;
}
.cap-reached {
  margin-left: 0.8rem;
}

.AppOrder-ball-container {
  position: relative;
  z-index: 2;
}

.AppOrder-ball-icon {
  text-align: center;
  display: block;
  font-size: var(--font-lg);
  opacity: 0.7;
}

.AppOrder-ball-icon {
  text-align: center;
  display: block;
  font-size: 2rem;
  opacity: 0.7;
}

.AppOrder-ball {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  left: 50%;
  margin-left: -1.7825rem;
  top: -2.5rem;
  border-radius: 3.1rem;
  cursor: pointer;
  user-select: none;
  background: var(--primary-btn-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--color-white);
}

.AppOrder-ball:hover {
  background: var(--primary-btn-hover);
}

.AppOrder-ball:active {
  background: var(--primary-btn-active);
}

.AppOrder-ball:hover .AppOrder-ball-icon {
  opacity: 1;
}

@media (max-width: 900px) {
  .GlpSwap-content {
    flex-wrap: wrap;
  }

  .GlpSwap-content .GlpSwap-stats-card {
    margin: 0;
    margin-bottom: 3.1rem;
    max-width: 100%;
  }

  .GlpSwap-content .GlpSwap-box {
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .GlpSwap-from-token .Modal {
    align-items: center;
    justify-content: center;
  }

  .GlpSwap-token-list {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .GlpSwap-token-list-content {
    padding: 0;
  }

  .token-table {
    display: none;
  }

  .token-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-top: 0.8rem;
  }
}
@media (max-width: 600px) {
  .token-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    margin-top: 0.8rem;
  }
}
