.TradeDropdown-root {
  position: relative;
}

.TradeDropdown-button {
  display: flex;
  justify-content: space-between;
}

.TradeDropdown-arrow {
  margin-bottom: -0.2rem;
}

.TradeDropdown-options {
  left: 0;
  top: 4.4rem;
}

.TradeDropdown-option {
  display: flex !important;
  pointer-events: all !important;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;

  padding: 0.83rem 0.83rem !important;

  color: #a0a3c4 !important;
  font-size: var(--font-sm);

  &:hover {
    background: var(--dark-blue-hover) !important;
    color: #eee !important;
  }
}

.TradeDropdown-option-icon {
  height: 16px;
  margin-right: 0.8rem;
  margin-bottom: -2px;
  min-width: 16px;
}
