.MarketDropdown-root {
  display: flex;
}

.MarketDropdown-current {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.1607843137);
  padding-bottom: 0.4rem;
  margin-left: 4px;
  border-radius: 2px;
  box-sizing: border-box;
  // width: 45rem;
}

.MarketDropdown-current-label {
  color: white;
  font-size: 1.6rem;
}

.MarketDropdown-current-arrow {
  color: white;
  margin-left: 0.7rem;
  margin-bottom: -5px;
}

.MarketDropdown-options {
  max-width: 20rem;
  left: 1.3rem;
  top: 5rem;
}

.MarketDropdown-option {
  padding: 1rem 1.3rem;
  color: #a0a3c4;
  cursor: pointer;
  font-size: 1.5rem;

  &:hover {
    color: #eee;
    background: #808aff14 !important;
  }
}

.chart-token-menu-items .menu-item {
  font-size: 1.4rem;
  height: 3.4rem;
  color: #a0a3c4;
}
