.Home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 62px;
  position: relative;
  z-index: -1;
  /* height: 52.581rem; */
  padding-bottom: 4.129rem;
  background: url('../../img/Artwork_gmx.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.Home-title {
  font-size: 3.677rem;
  line-height: 4.387rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0;
}

.Home-title-section-container {
  position: relative;
  /* z-index: 2; */
  width: 100%;
  /* padding-top: 7.548rem; */
  padding-top: 4rem;
}

.Home-title-section {
  max-width: 33.677rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Home-description {
  font-size: 1.29rem;
  line-height: 1.613rem;
  max-width: 28.645rem;
  color: #A0A3C4;
  margin-bottom: 1.807rem;
}

.Home-benefits-section {
  background: #17182C;
}

.Home-benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 3.6135rem 0;
}

.Home-benefit {
  padding: 1.5485rem 0;
}

.Home-benefit-title {
  font-size: 1.419rem;
  line-height: 1.806rem;
  font-weight: normal;
  margin-left: 1rem;
}

.Home-benefit-description {
  font-size: 1.161rem;
  line-height: 1.484rem;
  max-width: 18.839rem;
  color: #A0A3C4;
  letter-spacing: 0;
}

.Home-benefit-icon {
  display: flex;
  align-items: center;
  padding: 0 0 1rem;
  font-size: 1.2rem;
}

.Home-cta-section {
  background: #101124;
}

.Home-cta-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5.161rem 0 3rem 0;
}

.Home-cta-info {
  max-width: 22.452rem;
}

.Home-cta-info__title {
  font-size: 2.452rem;
  line-height: 3.097rem;
  font-weight: bold;
  margin-bottom: 2.065rem;
  letter-spacing: 0;
}

.Home-cta-info__description {
  font-size: 1.161rem;
  line-height: 1.484rem;
  letter-spacing: 0;
  color: #A0A3C4;
  margin-bottom: 3.226rem;
}

.Home-cta-options {
  max-width: 38rem;
  width: 100%;
}

.Home-cta-option-title {
  font-size: 1.548rem;
  line-height: 2.065rem;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}

.Home-cta-option-subtitle {
  font-size: 1.161rem;
  line-height: 1.484rem;
  letter-spacing: 0px;
  color: #A0A3C4;
  margin-bottom: 3px;
}

.Home-cta-option-action {
  display: flex;
  justify-content: flex-end;
}

.Home-cta-button {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 2rem;
}

.Home-cta-option-icon {
  display: flex;
  align-items: center;
  width: 96px;
  height: 96px;
  justify-content: center;
}

.Home-cta-option {
  max-width: 38rem;
  width: 100%;
  box-shadow: 0px 7px 12px #0000004D;
  border: 1px solid #1E2136;
  padding: 1.032rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.Home-cta-option-info {
  text-align: right;
}

.Home-cta-option + .Home-cta-option {
  margin-top: 2.645rem;
}

.Home-cta-option-arbitrum {
  background-image: url('../../img/btn_big_arbitrum.png');
}

.Home-cta-option-bsc {
  background-image: url('../../img/btn_big_bsc.png');
}

.Home-cta-option-ava {
  background-image: url('../../img/btn_big_avalanche.png');
}

.Home-latest-info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 0 1rem 0;
  width: 100%;
}

.Home-latest-info-block {
  /* background: #17182C 0% 0% no-repeat padding-box; */
  box-shadow: 0px 5px 22px #0000001F;
  box-shadow: 0px 12px 17px #00000024;
  box-shadow: 0px 7px 8px #00000033;
  /* mix-blend-mode: multiply; */
  border: 1px solid #FFFFFF14;
  border-radius: 4px;
  max-width: 24.526rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1.806rem;
  padding-bottom: 1.806rem;
  margin: 1.032rem 0;
  backdrop-filter: blur(4px);
}

.Home-latest-info__icon {
  margin-left: 1.645rem;
  margin-right: 2.548rem;
}

.Home-latest-info__title {
  color: #A0A3C4;
  font-size: 1.032rem;
  line-height: 1.613rem;
  letter-spacing: 0px;
}

.Home-latest-info__value {
  color: white;
  font-size: 1.936rem;
  line-height: 2.516rem;
  letter-spacing: 0px;
}

.Home-latest-info__description {
  letter-spacing: 0px;
  color: #A0A3C4;
  font-size: 0.903rem;
  line-height: 1.613rem;
}

.Home-video-section {
  background: #101124;
  padding: 5.161rem 0;
}

.Home-video-block {
  background: #0B131C 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 20px #0000003D;
  border-radius: 7px;
  max-width: 57.677rem;
  max-height: 32.645rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.Home-faqs-section {
  background: #101124;
  padding: 5.161rem 0;
}

.Home-faqs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Home-faqs-documentation {
  margin-bottom: 3.163rem;
}

.Home-faqs-introduction__title {
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 2.452rem;
  line-height: 3.097rem;
}

.Home-faqs-introduction__description {
  letter-spacing: 0px;
  color: #A0A3C4;
  font-size: 1.161rem;
  line-height: 1.484rem;
  margin-bottom: 2.387rem;
  margin-top: 1rem;
  max-width: 19.226rem;
}

.Home-faqs-content-block {
  max-width: 52rem;
  width: 100%;
}

.Home-faqs-content {
  background: #17182C;
  border: 1px solid #1E2136;
  border-radius: 4px;
  cursor: pointer;
  padding: 2.387rem 3.226rem;
  width: 100%;
  max-width: 52rem;
}

.Home-faqs-content:hover {
  background: #17182C55;
}

.Home-faqs-content + .Home-faqs-content {
  margin-top: 1rem;
}

.Home-faqs-content-header {
  display: flex;
}

.Home-faqs-content-header__icon {
  display: flex;
  align-items: center;
  margin-right: 1.139rem;
  font-size: 0.89rem;
  color: #3041DA;
}

.Home-faqs-content-header__text {
  font-size: 1.097rem;
  line-height: 1.419rem;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.Home-faqs-content-main {
  overflow: hidden;
  height: 0px;
  visibility: hidden;
  padding: 0 0rem 0 2rem;
  letter-spacing: 0px;
  color: #A0A3C4;
  transition: all 0.3s ease-in-out 0s;
}

.Home-faqs-content-main.opened {
  height: fit-content;
  visibility: visible;
  padding: 1rem 0rem 0 2rem;
  transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 500px) {
  .Home-top {
    /* background-position-x: 70%; */
  }

  .Home-title-section-container {
    padding-top: 4.774rem;
  }

  .Home-title {
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .Home-cta-options {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }

  .Home-cta-option-info {
    width: 50%;
  }

  .Home-cta-option-subtitle {
    margin-bottom: 4px;
  }

  .Home-cta-option-title {
    line-height: 1.548rem;
  }

  .Home-cta-option-action {
    margin-top: 0.5rem;
  }

  .Home-latest-info-container {
    padding-left: 16px!important;
    padding-right: 16px!important;
    padding-top: 4.774rem;
  }

  .Home-latest-info__icon {
    margin-right: 1.903rem;
  }

  .Home-latest-info-block + .Home-latest-info-block {
    margin-top: 16px;
  }

  .Home-faqs-content {
    padding-right: 1rem;
  }
}

@media (max-width: 400px) {
  .Home-description {
    font-size: 1rem;
    line-height: 1.4rem;
    max-width: 28.645rem;
    color: #A0A3C4;
    margin-bottom: 1.677rem;
  }
}

@media (max-width: 350px) {
  .Home-title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .Home-latest-info__icon {
    margin: 0 1rem;
  }
}
