.App {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.App-header-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-content header {
  position: relative;
  z-index: 3;
}

.App-header.large {
  height: 62px;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  background: transparent 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #ffffff10;
}

.App-header.large::after {
  height: 13px;
  width: 100%;
  content: " ";
  background: transparent linear-gradient(180deg, #00000030 0%, #00000000 100%)
    0% 0% no-repeat padding-box;
  position: absolute;
  bottom: -13px;
  left: 0;
}

.App-header.large .App-header-links {
  display: flex;
}

.App-header.small {
  display: none;
}

.App-header-link-home {
  display: none;
}

.App-header-drawer {
  background: #17182c88 0% 0% no-repeat padding-box;
  box-shadow: 8px 3px 6px #00000029;
  opacity: 1;
  backdrop-filter: blur(27px);
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 304px;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.App-header-drawer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.App-header-drawer .App-header-link-container a {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: 0.1px;
  color: #a0a3c4;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
}

.App-header-drawer .App-header-link-container a:hover,
.App-header-drawer .App-header-link-container a:focus,
.App-header-drawer .App-header-link-container a.active {
  background: #303fd024;
  color: white;
}

.App-header-links-header {
  height: 62px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.App-header-container-left {
  display: flex;
  align-items: center;
}

.App-header-top {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* z-index: 2; */
}

.App-header-menu-icon-block {
  margin-right: 12px;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

.App-header-menu-icon {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.7;
  margin: 9px 10px;
}

.App-header-menu-icon:hover {
  opacity: 0.9;
}

.App-highlight-box {
  background: linear-gradient(
    45deg,
    rgba(80, 10, 245, 1) 0%,
    rgba(43, 118, 224, 1) 35%,
    rgba(7, 157, 250, 1) 77%,
    rgba(2, 207, 207, 1) 100%
  );
  border-radius: 3px;
  box-shadow: 0 0 4px 6px rgba(45, 66, 252, 0.15);
}

.App-box,
.App-card,
.App-card-primary,
.App-box-highlight,
.App-box-solid {
  position: relative;
  border: 1px solid #1e2136;
  border-radius: 4px;
  background: #17182c;
}

.App-card-bottom-placeholder {
  visibility: hidden;
}

.App-card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: 1.2rem;
}

.App-card-bottom .App-card-divider,
.App-card-bottom-placeholder .App-card-divider {
  margin-bottom: 1.2rem;
}

.WalletConnect-btn,
.MetaMask-btn {
  display: block;
  box-shadow: inset 0px 0px 10px 5px rgba(27, 30, 46, 0.2);
  background: linear-gradient(
    90deg,
    rgba(20, 23, 38, 0.9) 0%,
    rgba(25, 30, 47, 0.9) 100%
  );
  height: 3.3rem;
  width: 17rem;
  border: 1px solid #23263b;
  border-radius: 3px;
  position: relative;
  color: white;
  /* font-weight: bold; */
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: left;
  padding-left: 1.2rem;
  padding-top: 0.7rem;
}
.WalletConnect-btn:hover,
.MetaMask-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(20, 23, 38, 1) 0%,
    rgba(25, 30, 47, 1) 100%
  );
  border-color: rgba(45, 66, 252, 1);
}

.MetaMask-btn {
  margin-bottom: 0.7rem;
}

.MetaMask-btn img {
  display: inline-block;
  height: 1.5rem;
  margin-right: 1.2rem;
}

.WalletConnect-btn img {
  display: inline-block;
  height: 1.8rem;
  margin-right: 1.2rem;
}

button.App-connect-wallet {
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 9px 24px;
  height: 36px;
  color: #17182c;
  background: #03cfcd 0% 0% no-repeat padding-box;
  border-radius: 4px;
}

button.App-connect-wallet:hover {
  opacity: 1;
}

.App-header-user-link {
  margin-right: 24px;
}

.App-header-user-address {
  border: 1px solid #ffffff17;
  height: 36px;
  border-radius: 4px;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  color: white;
  position: relative;
}

.App-card-divider {
  height: 1px;
  background: #23263b;
  margin: 0.7rem -1rem;
}

.App-box-solid {
  background: linear-gradient(
    90deg,
    rgba(20, 21, 38, 1) 0%,
    rgba(25, 27, 47, 1) 100%
  );
}

.Page {
  max-width: 70rem;
  margin: auto;
  padding-top: 3rem;
}

.Page-content {
  padding: 3rem;
  padding-top: 1rem;
}

.section-title-block {
  display: flex;
}

.section-title-icon {
  margin-right: 0.774rem;
}

.section-title-icon img {
  display: flex;
}

.section-title-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-title-content .section-title-content__title {
  font-size: 1.548rem;
  line-height: 2rem;
  color: white;
  letter-spacing: 0px;
}

.section-title-content .section-title-content__description {
  font-size: 1.161rem;
  line-height: 1.484rem;
  letter-spacing: 0px;
  color: #a0a3c4;
  margin-top: 4px;
}

.Page-title-section {
  padding-left: 3rem;
  padding-right: 1rem;
  margin-top: 1rem;
  position: relative;
}

.Page-title-section:first-child {
  margin-top: 0rem;
}

.Page-title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: "Relative Bold";
}

.Page-description {
  opacity: 0.7;
  line-height: 1.4rem;
}

.App-hero {
  position: relative;
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.App-hero-primary {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.App-note {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0 2rem;
}

.App-card {
  padding: 1rem;
  padding-bottom: 1.2rem;
  border: 1px solid #1e2136;
  border-radius: 4px;
}

.App-card-title {
  font-size: 1.032rem;
  line-height: 1.355rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.App-card-title-small {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.App-card-content {
  display: grid;
  grid-row-gap: 0.5rem;
}

.App-card-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1rem;
}
.App-card-row.inner {
  padding-left: 1rem;
}
.App-card-row .icon {
  vertical-align: baseline;
  margin-left: 0.2rem;
  position: relative;
  top: 2px;
}

.Tooltip-row {
  display: flex;
  justify-content: space-between;
}

.App-card-row > div:last-child {
  text-align: right;
}

.App-card-options {
  margin: -0.4rem;
}

.App-card-option {
  margin: 0.4rem;
}

.App-header a.App-header-link-main,
.App-header .App-header-link-main {
  font-size: 1.1rem;
  padding: 1rem;
  margin-left: -1rem;
  display: flex;
  margin-right: 0.7742rem;
}

.App-header-link-main img {
  display: inline-block;
  height: 1.4rem;
  vertical-align: middle;
}

.App-header-link-main img.small {
  display: none;
}

.App-header a {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}

.App-header a.active {
  pointer-events: none;
  opacity: 1;
  color: #eee;
}

.App-header a:hover {
  opacity: 1;
  color: #eee;
}

.App-header-container-left a {
  padding: 18px 17px;
  display: block;
  color: #a0a3c4;
  font-size: 15px;
  line-height: 1.2rem;
  font-weight: normal;
}

.App-header-container-left a.active {
  color: white;
}

.App-header-container-left a.disabled {
  cursor: not-allowed;
  color: #ffffff61;
}

.Toastify {
  font-size: 0.9rem;
}

.Toastify__toast {
  min-height: 3rem;
  cursor: default;
}

.Toastify__toast-body {
  padding: 0 0.3rem;
}

.Toastify-debug {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  opacity: 0.7;
}
.Toastify-debug-button {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.App-icon {
  vertical-align: middle;
  margin-bottom: 0.3rem;
}

.App-background-side-1 {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(45, 66, 252, 0.05) 0%,
    rgba(8, 8, 10, 0) 100%
  );
}

.App-background-side-2 {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 216, 240, 0.01) 51%,
    rgba(0, 216, 240, 0.03) 100%
  );
}

.App-background {
  z-index: 4;
  position: absolute;
  left: -100%;
  right: 0%;
  top: -20%;
  bottom: -200%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(80, 10, 245, 0.05) 0%,
    rgba(80, 10, 245, 0.02) 36%,
    rgba(8, 8, 10, 0) 100%
  );
}

.App-background-ball-1 {
  z-index: 3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: -50%;
  bottom: -200%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(102, 56, 217, 0.05) 0%,
    rgba(56, 33, 105, 0.02) 36%,
    rgba(8, 8, 10, 0) 100%
  );
}

.App-background-ball-2 {
  z-index: 2;
  position: absolute;
  left: -50%;
  right: -150%;
  top: -30%;
  bottom: -200%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(7, 149, 250, 0.05) 0%,
    rgba(7, 149, 250, 0.02) 36%,
    rgba(8, 8, 10, 0) 100%
  );
}

.App-highlight {
  z-index: 0;
  position: absolute;
  left: 0%;
  right: -100%;
  top: -100%;
  bottom: 0%;
  pointer-events: none;
}

.App-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 17vh;
  margin-bottom: 1rem;
  font-weight: bold;
}

.App-subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5rem;
  opacity: 0.9;
  padding: 0 1rem;
}

.App-info-row {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.App-info-label {
  opacity: 0.7;
}

.App-cta {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
}

a.App-cta,
button.App-cta {
  color: white;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(45, 66, 252, 1) 0%,
    rgba(46, 61, 205, 1) 100%
  );
  /* box-shadow: 0 0 4px 6px rgba(45,66,252,0.15); */
}

a.App-cta:hover,
button.App-cta:hover:enabled {
  background: linear-gradient(
    90deg,
    rgba(58, 78, 252, 1) 0%,
    rgba(51, 68, 222, 1) 100%
  );
  box-shadow: 0 0 4px 6px rgba(45, 66, 252, 0.2);
}

.App-cta.small {
  padding: 0.6rem 0.7rem;
}

a.App-cta.transparent,
button.App-cta.transparent {
  box-shadow: none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

a.App-cta.transparent:hover,
button.App-cta.transparent:hover:enabled {
  color: white;
  box-shadow: none;
  background: none;
}

button.App-cta.option,
a.App-cta.option {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

a.App-button-option,
button.App-button-option {
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 0.7rem;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  background: rgba(43, 55, 94, 1);
}

a.App-button-option:hover,
button.App-button-option:hover:enabled {
  background: linear-gradient(
    90deg,
    rgba(58, 78, 252, 1) 0%,
    rgba(51, 68, 222, 1) 100%
  );
  box-shadow: 0 0 4px 6px rgba(45, 66, 252, 0.2);
}

button.App-button-option:disabled {
  cursor: not-allowed;
}

.App-header-container-right {
  display: flex;
  align-items: center;
}

.App-header-user {
  display: flex;
  align-items: center;
}

a.App-cta.App-header-user-account {
  margin-top: 0;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  padding-left: 0;
}

.App-header-user-settings {
  display: inline-flex;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  background: none;
  color: white;
  padding: 0;
  align-items: center;
}

.App-header-user-settings:hover {
  opacity: 1;
}

.App-settings-row {
  margin-bottom: 0.5rem;
}

.App-settings .App-cta {
  margin-top: 1rem;
}

.App-slippage-tolerance-input-container {
  position: relative;
}

.App-slippage-tolerance-input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.App-slippage-tolerance-input-percent {
  position: absolute;
  right: 0.7rem;
  width: 2rem;
  top: 1.5rem;
  bottom: 0;
  text-align: right;
}

.Network-icon {
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}

.App-header-user-netowork {
  margin-right: 24px;
}

.App-content {
  position: relative;
  z-index: 2;
}

.App-footer {
  left: 0;
  right: 0;
  position: fixed;
  bottom: 5vh;
  text-align: center;
}

a.App-social-link {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 1.7rem;
  color: white;
  opacity: 0.8;
}

a.App-social-link:hover {
  opacity: 0.9;
}

.App-input {
  text-align: center;
  display: inline-block;
  width: 90%;
  max-width: 30rem;
}

.App-input input {
  width: 100%;
}

.App-input-top {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 0.5rem;
  padding-left: 0.1rem;
  padding-right: 0.3rem;
}

.App-input-label {
  text-align: left;
  opacity: 0.9;
}

.App-input-max {
  text-align: right;
  opacity: 0.9;
  cursor: pointer;
}

.App-input-max:hover {
  opacity: 1;
}

.App-input-container {
  border: 2px solid rgba(48, 31, 130, 0.8);
  background: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
}

.App-input-unit {
  text-align: right;
  padding: 0.8rem;
  font-size: 1.3rem;
}

button.App-button {
  text-align: center;
  display: inline-block;
  font-size: 1.1rem;
  width: 90%;
  max-width: 30rem;
}

.Toastify__toast--error {
  background: #333957;
  color: white;
  border-radius: 6px;
}

.Toastify__toast--success {
  background: transparent linear-gradient(90deg, #18846c 0%, #26aa89 100%) 0% 0%
    no-repeat padding-box;
  border: 1px solid #268270;
  color: white;
  box-shadow: 0px 3px 6px #0000005c;
  border-radius: 4px;
}

.Toastify__close-button {
  align-self: center;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: none;
}
.Toastify__close-button:hover {
  background: #ffffff47 0% 0% no-repeat padding-box;
}
.Toastify__toast-body {
  font: normal normal normal 14px/16px Relative;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

.positive {
  color: #0ecc83;
}

.positive-background {
  background: linear-gradient(
    45deg,
    rgba(10, 115, 75, 1) 0%,
    rgba(12, 154, 100, 1) 100%
  );
}

.negative {
  color: #fa3c58;
}

.negative-background {
  background: linear-gradient(
    45deg,
    rgba(115, 30, 43, 1) 0%,
    rgba(174, 43, 63, 1) 100%
  );
}

.App-warning,
.App-warning a {
  color: #f037b5;
}

.App-warning {
  padding: 0 2rem;
}

.App-slider .rc-slider-rail {
  background: linear-gradient(
    90deg,
    rgba(30, 34, 61, 1) 0%,
    rgba(40, 45, 74, 1) 100%
  );
}

.App-slider .rc-slider-track {
  background: linear-gradient(
    90deg,
    rgba(46, 61, 205, 1) 0%,
    rgba(45, 66, 252, 1) 100%
  );
}

.App-slider .rc-slider-dot {
  border: none;
  border-radius: 1px;
  width: 2px;
  margin-left: -1px;
  background: rgba(40, 45, 74, 1);
}

.App-slider .rc-slider-dot-active {
  background: #3d51ff;
}

.App-slider .rc-slider-handle {
  background: #303652;
  border: solid 2px rgba(45, 66, 252, 1);
}

.App-slider .rc-slider-handle:active {
  box-shadow: 0 0 4px 6px rgba(45, 66, 252, 0.2);
}

.App-slider .rc-slider-mark-text,
.App-slider .rc-slider-mark-text-active {
  color: white;
  opacity: 0.5;
}

.App-slider .rc-slider-mark-text:hover,
.App-slider .rc-slider-mark-text-active:hover {
  opacity: 1;
}

.rc-slider-tooltip {
  z-index: 5;
}

.rc-slider-tooltip-inner {
  box-shadow: none;
  padding: 0.3rem 0.5rem;
  background: #303652;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  border-top-color: #303652;
}

.header-connect-btn {
  background: #3b43e3;
}

.header-connect-btn:hover {
  background: #6a70ea;
}

.header-connect-btn:focus {
  background: #7a7fec;
  border: 1px solid #3b43e3;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.header-connect-btn:active {
  background: #7a7fec;
}

.header-connect-btn.short-label {
  display: none !important;
}

.selector-backdrop {
  opacity: 1;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(17px);
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 1033px) {
  .header-connect-btn.long-label {
    display: none !important;
  }

  .header-connect-btn.short-label {
    display: flex !important;
  }

  .App-header-user-link {
    margin-right: 16px;
  }

  .App-header-user-netowork {
    margin-right: 16px;
  }

  button.App-connect-wallet {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .App-header-link-home {
    display: block;
  }
  .App-cta.small {
    padding: 0.6rem 0.5rem;
  }
  .App-subtitle {
    margin-bottom: 3rem;
  }

  .App-header-user {
    padding-bottom: 0;
  }

  .App-header-container-right {
    display: flex;
    align-items: center;
  }

  .App-header-link-desktop {
    display: none;
  }

  .App-header {
    grid-template-columns: 1fr auto auto auto auto;
  }

  .App-header-link-main img {
    height: 1.355rem;
  }

  .App-header.large {
    display: none;
  }

  .App-header.small {
    height: 62px;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    background: transparent 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #ffffff10;
  }

  .App-header.small::after {
    height: 13px;
    width: 100%;
    content: " ";
    background: transparent
      linear-gradient(180deg, #00000030 0%, #00000000 100%) 0% 0% no-repeat
      padding-box;
    position: absolute;
    bottom: -13px;
    left: 0;
  }

  .Page-title-section {
    margin-top: 2rem;
  }

  a.App-header-user-account {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .App-header-link-main img.big {
    display: none;
  }

  .App-header-link-main img.small {
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .header-connect-btn {
    margin-right: 4px;
  }
}

@media (max-width: 410px) {
  .App-header-user-link {
    margin-right: 6px;
  }

  .App-header-user-netowork {
    margin-right: 6px;
  }

  .App-header-menu-icon-block {
    margin-left: 0;
    margin-right: 4px;
  }

  .App-header-menu-icon {
    margin: 4px 5px;
  }

  .App-header-user-account {
    font-size: 0.8rem;
  }

  .App-header.small {
    padding-left: 6px;
    padding-right: 6px;
  }

  .Home-faqs-content {
    padding-left: 1rem;
  }

  .header-connect-btn,
  .header-connect-btn:active {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header-connect-btn:focus {
    padding-left: 4px;
    padding-right: 4px;
  }

  .App-header .App-header-link-main {
    padding: 0.1rem !important;
    margin-left: 0rem !important;
  }
}

.walletconnect-modal__mobile__toggle a {
  color: #000;
}
.walletconnect-modal__base {
  max-height: 100%;
}
.walletconnect-qrcode__image {
  max-height: 50vh;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .App-header-drawer {
    background: #0e0f1f;
  }
}
