.App {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.App-header-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

.App-content header {
  position: relative;
  z-index: 20;
}

.App-header.large {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.3rem 2rem 0;
  grid-template-columns: 1fr auto;
}

.App-header.large .App-header-links {
  display: flex;
}

.App-header.large .App-header-links.preview {
}

.App-header.small {
  display: none;
}

.App-header.small.active {
}

.App-header-link-home {
  display: none;
}

.App-header-drawer {
  background: #0b0b0f;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 3rem;
  padding-bottom: 0.5rem;
}

.App-header-container-left {
  display: flex;
}

.App-header-top {
  background: #0b0b0f;
  padding: 0 1.2rem;
  padding-bottom: 0.8rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  z-index: 2;
}

.App-header-top.active {
}

.App-header-menu-icon {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.7;
  margin: 0 0.5rem 0 0;
}

.App-header-menu-icon:hover {
  opacity: 0.9;
}

.App-highlight-box {
  background: linear-gradient(45deg, rgba(80,10,245,1) 0%, rgba(43,118,224,1) 35%, rgba(7,157,250,1) 77%, rgba(2,207,207,1) 100%);
  border-radius: 3px;
  box-shadow: 0 0 4px 6px rgba(45,66,252,0.15);
}

.App-box, .App-card, .App-card-primary, .App-box-highlight, .App-box-solid {
  position: relative;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 5px rgba(27, 30, 46, 0.2);
  background: linear-gradient(90deg, rgba(20,23,38,0.9) 0%, rgba(25,30,47,0.9) 100%);
}

.App-card.primary {
  /* background: linear-gradient(45deg, rgba(80,10,245,0.8) 0%, rgba(43,118,224,0.8) 35%, rgba(7,157,250,0.8) 77%, rgba(2,207,207,0.8) 100%);
  background: rgb(32,5,110); */
  /* background: linear-gradient(45deg, rgba(80,10,245,1) 0%, rgba(43,118,224,1) 35%, rgba(7,157,250,1) 77%, rgba(2,207,207,1) 100%); */
}

.App-card-bottom-placeholder {
  visibility: hidden;
}

.App-card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: 1.2rem;
}

.App-card-bottom .App-card-divider, .App-card-bottom-placeholder .App-card-divider {
  margin-bottom: 1.2rem;
}

button.App-connect-wallet {
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 1rem;
  color: white;
  margin-top: 0.4rem;
  padding: 0.5rem 1rem;
  padding-top: 0.3rem;
}

button.App-connect-wallet:hover {
  opacity: 1;
}


.App-card-divider {
  height: 1px;
  background: #23263b;
  margin: 0.7rem -1rem;
}

.App-box-solid {
  background: linear-gradient(90deg, rgba(20,21,38,1) 0%, rgba(25,27,47,1) 100%);
}

.App-box-border {
}

.Page {
  max-width: 70rem;
  margin: auto;
}

.Page-title-section {
  padding-left: 3rem;
  padding-right: 1rem;
  margin-top: 1rem;
  position: relative;
}

.Page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Page-description {
  opacity: 0.7;
  line-height: 1.4rem;
}

.App-hero {
  position: relative;
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.App-hero-primary {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.App-note {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0 2rem;
}

.App-card {
  padding: 1rem;
  padding-bottom: 1.2rem;
}

.App-card.primary {
}

.App-card-title {
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.App-card-content {
  display: grid;
  grid-row-gap: 0.5rem;
}

.App-card-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1rem;
}
.App-card-row.inner {
  padding-left: 1rem;
}
.App-card-row .icon {
  vertical-align: baseline;
  margin-left: 0.2rem;
  position: relative;
  top: 2px;
}

.Tooltip-row {
  display: flex;
  justify-content: space-between;
}

.App-card-row > div:last-child {
  text-align: right;
}

.App-card-option {
  margin-right: 0.8rem;
}

.App-header a.App-header-link-main, .App-header .App-header-link-main {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.App-header-link-main img {
  display: inline-block;
  height: 1.3rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-top: -0.3rem;
}

.App-header a {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  opacity: 0.8;
}

.App-header a.active {
  pointer-events: none;
  opacity: 1;
}

.App-header a:hover {
  opacity: 1;
}

.App-header-link-container a {
  padding: 1rem 1.5rem;
  display: block;
}

.Toastify {
  font-size: 0.9rem;
}

.Toastify__toast {
  min-height: 3rem;
  cursor: default;
}

.Toastify__toast-body {
  padding: 0 0.3rem;
}

.Toastify-debug {
  margin-top: 0.3rem;
  font-size: 0.8rem; 
  opacity: 0.7;
}
.Toastify-debug-button {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.App-icon {
  vertical-align: middle;
  margin-bottom: 0.3rem;
}

.App-background-side-1 {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(45,66,252,0.05) 0%, rgba(8,8,10,0) 100%);
}

.App-background-side-2 {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,216,240,0.01) 51%, rgba(0,216,240,0.03) 100%);
}

.App-background {
  z-index: 4;
  position: absolute;
  left: -100%;
  right: 0%;
  top: -20%;
  bottom: -200%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(80,10,245,0.05) 0%, rgba(80,10,245,0.02) 36%, rgba(8,8,10,0) 100%);
}

.App-background-ball-1 {
  z-index: 3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: -50%;
  bottom: -200%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(102,56,217,0.05) 0%, rgba(56,33,105,0.02) 36%, rgba(8,8,10,0) 100%);
}

.App-background-ball-2 {
  z-index: 2;
  position: absolute;
  left: -50%;
  right: -150%;
  top: -30%;
  bottom: -200%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(7,149,250,0.05) 0%, rgba(7,149,250,0.02) 36%, rgba(8,8,10,0) 100%);
}

.App-highlight {
  z-index: 0;
  position: absolute;
  left: 0%;
  right: -100%;
  top: -100%;
  bottom: 0%;
  pointer-events: none;
}

.App-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 17vh;
  margin-bottom: 1rem;
  font-weight: bold;
}

.App-subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5rem;
  opacity: 0.9;
  padding: 0 1rem;
}

.App-info-row {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.App-info-label {
  opacity: 0.7;
}

.App-cta {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
}

a.App-cta, button.App-cta {
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, rgba(45,66,252,1) 0%, rgba(46,61,205,1) 100%);
  box-shadow: 0 0 4px 6px rgba(45,66,252,0.15);
}

a.App-cta:hover, button.App-cta:hover:enabled {
  background: linear-gradient(90deg, rgba(58,78,252,1) 0%, rgba(51,68,222,1) 100%);
  box-shadow: 0 0 4px 6px rgba(45,66,252,0.2);
}

.App-cta.small {
  padding: 0.6rem 0.7rem;
}

a.App-cta.transparent, button.App-cta.transparent {
  box-shadow:  none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

a.App-cta.transparent:hover, button.App-cta.transparent:hover:enabled {
  color: white;
  box-shadow: none;
  background: none;
}

button.App-cta.option, a.App-cta.option {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

a.App-button-option, button.App-button-option {
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 0.7rem;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  background: rgba(43,55,94,1);
}

a.App-button-option:hover, button.App-button-option:hover:enabled {
  background: linear-gradient(90deg, rgba(58,78,252,1) 0%, rgba(51,68,222,1) 100%);
  box-shadow: 0 0 4px 6px rgba(45,66,252,0.2);
}

button.App-button-option:disabled {
  cursor: not-allowed;
}


.App-header-user {
  margin-top: 0.3rem;
  margin-right: 1rem;
  display: flex;
}

a.App-header-user-account {
  margin-top: 0;
  margin-right: 0.5rem;
}

.App-header-user-settings {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
  background: none;
  color: white;
  opacity: 0.7;
  padding: 0;
  margin-top: 0.5rem;
}

.App-header-user-settings:hover {
  opacity: 1;
}

.App-settings-row {
  margin-bottom: 0.5rem;
}

.App-settings .App-cta {
  margin-top: 1rem;
}

.App-slippage-tolerance-input-container {
  position: relative;
}

.App-slippage-tolerance-input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.App-slippage-tolerance-input-percent {
  position: absolute;
  right: 0.5rem;
  width: 2rem;
  top: 1.2rem;
  bottom: 0;
  text-align: right;
}

.Network-icon {
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}

.App-header-user-netowork .Selector-box {
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem 0.7rem;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border: none;
  margin-right: 0.5rem;
  font-size: 1rem;
  background: none;
}
.App-header-user-netowork .Selector-box .Network-icon {
  margin: -0.2rem 0.2rem 0 0;
}

.App-header-user-netowork .Selector-box:hover {
  color: white;
}

.App-content {
  position: relative;
  z-index: 2;
}

.App-footer {
  left: 0;
  right: 0;
  position: fixed;
  bottom: 5vh;
  text-align: center;
}

a.App-social-link {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 1.7rem;
  color: white;
  opacity: 0.8;
}

a.App-social-link:hover {
  opacity: 0.9;
}

.App-input {
  text-align: center;
  display: inline-block;
  width: 90%;
  max-width: 30rem;
}

.App-input input {
  width: 100%;
}

.App-input-top {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 0.5rem;
  padding-left: 0.1rem;
  padding-right: 0.3rem;
}

.App-input-label {
  text-align: left;
  opacity: 0.9;
}

.App-input-max {
  text-align: right;
  opacity: 0.9;
  cursor: pointer;
}

.App-input-max:hover {
  opacity: 1;
}

.App-input-container {
  border: 2px solid rgba(48, 31, 130, 0.8);
  background: rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr auto;
}

.App-input-unit {
  text-align: right;
  padding: 0.8rem;
  font-size: 1.3rem;
}

button.App-button {
  text-align: center;
  display: inline-block;
  font-size: 1.1rem;
  width: 90%;
  max-width: 30rem;
}

.Toastify__toast--error {
  background: #333957;
  color: white;
  border-radius: 6px;
}

.Toastify__toast--success {
  background: linear-gradient(90deg, rgba(10,134,104,1) 0%, rgba(44,156,128,1) 44%, rgba(38,170,137,1) 100%);
  backdrop-filter: blur(10px);
  border: 1px solid #268270;
  color: white;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

.positive {
  color: #0ecc83;
}

.negative {
  color: #fa3c58;
}

.App-warning, .App-warning a {
  color: #f037b5;
}

.App-warning {
  padding: 0 2rem;
}

.App-slider .rc-slider-rail {
  background: linear-gradient(90deg, rgba(30,34,61,1) 0%, rgba(40,45,74,1) 100%);
}

.App-slider .rc-slider-track {
  background: linear-gradient(90deg, rgba(46,61,205,1) 0%, rgba(45,66,252,1) 100%);
}

.App-slider .rc-slider-dot {
  border: none;
  border-radius: 1px;
  width: 2px;
  margin-left: -1px;
  background: rgba(40,45,74,1);
}

.App-slider .rc-slider-dot-active {
  background: #3d51ff;
}

.App-slider .rc-slider-handle {
  background: #303652;
  border: solid 2px rgba(45,66,252,1);
}

.App-slider .rc-slider-handle:active {
  box-shadow: 0 0 4px 6px rgba(45,66,252,0.2);
}

.App-slider .rc-slider-mark-text, .App-slider .rc-slider-mark-text-active {
  color: white;
  opacity: 0.5;
}

.App-slider .rc-slider-mark-text:hover, .App-slider .rc-slider-mark-text-active:hover {
  opacity: 1;
}

.rc-slider-tooltip {
  z-index: 5;
}

.rc-slider-tooltip-inner {
  box-shadow: none;
  padding: 0.3rem 0.5rem;
  background: #303652;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  border-top-color: #303652;
}

@media (max-width: 900px) {
  .App-header-top {
    padding-bottom: 0.3rem;
  }
  button.App-connect-wallet {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .App-header-link-home {
    display: block;
  }
  .App-cta.small {
    padding: 0.6rem 0.5rem;
  }
  .App-subtitle {
    margin-bottom: 3rem;
  }

  .App-header-user {
    padding-bottom: 0;
  }
  a.App-header-user-account {
    display: none;
  }
  .App-header-link-container {
  }
  .App-header a.App-header-link-main, .App-header a {
    background: #0b0b0f;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
  }
  .App-header-menu-icon {
    margin-top: 0.9rem;
    margin-left: 0.2rem;
  }

  .App-header-user-netowork .Selector-box {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-right: 0;
  }

  .App-header-container-right {
    display: flex;
  }

  .App-header-link-desktop {
    display: none;
  }

  .App-header {
    grid-template-columns: 1fr auto auto auto auto;
  }

  .App-header-link-main img {
  }

  .App-header.large {
    display: none;
  }

  .App-header.small {
    display: block;
  }

  .Page-title-section {
    margin-top: 2rem;
  }
}
