@font-face {
  font-family: "Relative";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/relative/relative-book-pro.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/relative/relative-book-pro.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/relative/relative-book-pro.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/relative/relative-book-pro.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/relative/relative-book-pro.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Relative";
  font-style: bold;
  font-weight: 500;
  src: url("./fonts/relative/relative-bold-pro.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/relative/relative-bold-pro.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/relative/relative-bold-pro.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/relative/relative-bold-pro.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/relative/relative-bold-pro.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Relative";
  src: url("./fonts/inter/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/inter/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/inter/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/inter/inter-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/inter/inter-v12-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
  unicode-range: U+30-39, U+002C, U+002E;
  size-adjust: 95%;
}

@font-face {
  font-family: "RelativeInput";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/relative/relative-book-pro.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/relative/relative-book-pro.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/relative/relative-book-pro.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/relative/relative-book-pro.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/relative/relative-book-pro.ttf") format("truetype"); /* Safari, Android, iOS */
}
