.Footer-wrapper {
  text-align: center;
  padding-top: 2.5rem;
  background: #16182E;
  width: 100vw;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 10.5rem;
  bottom: 0;
  border-top: 1px solid #282B4C;
}

.Footer-logo {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-logo img {
  height: 1.65rem;
}

.Footer-social-link-block {
  padding-bottom: 2.5rem;
  max-width: 69.375rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Footer-social-link-block .App-social-link {
  margin: 0 2rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.Footer-social-link-block .App-social-link:hover img {
  filter: brightness(0) invert(1);
}

.Footer-copyright {
  padding: 1.0625rem;
}

.Footer-copyright__text {
  font-family: Circular Std;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  letter-spacing: -0.41px;
  color: #A0A3C4;
  display: block;
}

@media (max-width: 900px) {
  .Footer-social-link-block .App-social-link {
    margin: 0 1rem;
  }
}
