.Footer-wrapper {
  text-align: center;
  padding-top: 2.581rem;
  background: #16182E;
  width: 100vw;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 168px;
  bottom: 0;
}

.Footer-logo {
  margin-bottom: 1.548rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-logo img {
  height: 1.72rem;
}

.Footer-social-link-block {
  padding-bottom: 2.5806rem;
  max-width: 71.613rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Footer-social-link-block .App-social-link {
  margin: 0 2.064rem;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.Footer-social-link-block .App-social-link:hover img {
  filter: brightness(0) invert(1);
}

.Footer-copyright {
  padding: 1.1rem;
}

.Footer-copyright__text {
  font-family: Circular Std;
  font-size: 0.8387rem;
  line-height: 0.8387rem;
  letter-spacing: -0.41px;
  color: #A0A3C4;
  display: block;
}

@media (max-width: 900px) {
  .Footer-social-link-block .App-social-link {
    margin: 0 1.034rem;
  }
}
