.Footer-wrapper {
  text-align: center;
  padding-top: 2.581rem;
  width: 100vw;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 200px;
  bottom: 0;
  border-top: 1px solid #ffffff10;
}

.Footer-logo {
  margin-bottom: 1.548rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-logo img {
  height: 1.72rem;
}

.Footer-social-link-block {
  max-width: 71.613rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1.548rem;
}
.Footer-link {
  color: #a0a3c4;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal;
  text-decoration: none;
}
.Footer-link:hover {
  color: white;
}

.Footer-social-link-block .App-social-link {
  margin: 0 2.064rem;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.Footer-social-link-block .App-social-link:hover img {
  filter: brightness(0) invert(1);
}

.Footer-copyright {
  padding: 1.1rem;
}

.Footer-copyright__text {
  font-family: Circular Std;
  font-size: 0.8387rem;
  line-height: 0.8387rem;
  letter-spacing: -0.41px;
  color: #a0a3c4;
  display: block;
}
.Footer-links {
  padding-bottom: 2.5806rem;
}

@media (max-width: 900px) {
  .Footer-social-link-block .App-social-link {
    margin: 0 1.034rem;
  }
}
