.input-form {
  max-width: 25rem;
}

.input-row {
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
}

.text-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
