.Migration-note {
  text-align: center;
  margin-bottom: 0.8rem;
}

.Migration-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.1rem;
  grid-gap: 16rem;
  margin-top: 0.8rem;
}

.MigrationModal-info-box {
  margin-bottom: 1.1rem;
}

@media (max-width: 800px) {
  .Migration-cards {
    grid-template-columns: 1fr;
  }
}
