.Modal {
//   width: 40rem;
    .Modal-content {
        // padding: 2rem 2.4rem;
        background: #181818;
        .Modal-header-wrapper{
            margin: 0;
            padding: 2rem 2rem 1.2rem 2rem;
            
        }
    }
}
.Modal-title-bar {
    padding: 0;
}
.buyback-modal .buy-input.Exchange-swap-section{
    border-radius: 0.8rem;
    padding-top: 1rem;
}
.gt-buyback  .compose-slider{
    margin: 1rem 1rem;
    border-radius: 0.8rem;
    padding:1.85rem 1.2rem;
}
.gt-buyback .sell-proceeds{
    margin: 2.4rem 0 0.8rem 0;
    margin-bottom: 0.8rem;
}
// Exchange-swap-section buy-input
.Modal-body {
    padding-right: 0;
    margin: 2rem;
    margin-top: 0.4rem;
}
.compose-slider .rc-slider{
    margin-bottom: 1rem;
}
.Exchange-swap-label{
    color: #A3A3A3;
}


.Confirmation-box{

    .buy-input{
        border: none !important;
    }
    .buyback-modal .buy-input.Exchange-swap-section{
        // background: red;
        &:hover{
            background-color: transparent;
            border: none !important;
        }
        &:focus{
            background-color: transparent;
            border: none !important;
        }
    }
}