.section-center {
  margin: 0 auto;
  text-align: center;
}
.mt-large {
  margin-top: 2rem;
}
.referral-tab-container {
  margin: 30px auto;
}
.referral-card {
  position: relative;
  padding: 1.5rem;
  border-radius: 13px;
  max-width: 38.19rem;
  background: #16182e;
  box-shadow: 0px 5px 13px #00000085;
  border: 1px solid #2a2b3d;
  border-radius: 4px;
}
.referral-card .title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  padding: 0.5rem 0;
  margin: 0;
}
.referral-card .sub-title {
  font-size: 1.161rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
  color: #fff;
  margin-top: 0.75rem;
}
.referral-card .card-action {
  margin-top: 3rem;
}

.referral-card .card-action input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-right: 1rem;
}
.referral-body-container .list {
  margin-top: 2rem;
}
.reward-history {
  margin-top: 2rem;
}
.active-referral-code .edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-referral-code .edit span {
  margin-right: 1rem;
}
.active-referral-code .edit svg {
  cursor: pointer;
}
.active-referral-code .edit svg:hover {
  opacity: 0.75;
}
.active-referral-code .tier {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-referral-code .tier span {
  font-size: 0.85rem;
  color: #a9a9b0;
  margin-right: 0.5rem;
}
.active-referral-code .tier a {
  text-decoration: none;
  font-size: 0;
}
.mb-sm {
  margin-bottom: 1rem;
}
.edit-referral-modal {
  width: 20rem;
}
.referral-code-edit span {
  margin-right: 0.5rem;
}
.referral-code-edit svg {
  opacity: 0.75;
  cursor: pointer;
}

.referral-code-edit svg:hover {
  opacity: 1;
}
.create-referrar-code {
  text-align: center;
  max-width: 500px;
  margin: 2rem auto;
}
.transparent-btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--dark-blue-border);
  padding: 0.5rem 1rem;
  color: white;
  font-size: 14px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}
.transparent-btn:hover {
  background: rgba(128, 138, 255, 0.0784313725490196);
}
.referral-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.referral-table-header .title {
  margin: 0;
}
.referral-table-header .sub-title {
  color: #a9a9b0;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.referral-table-header .ml-small {
  margin-left: 0.5rem;
}
.create-referrar-code form {
  display: flex;
  align-items: inherit;
  justify-content: center;
  margin: 2rem 0;
}
.create-referrar-code form input {
  border: 1px solid #1e2136;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  width: 400px;
}
.create-referrar-code form button {
  margin-left: 1rem;
}

.referral-stats {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.text-center {
  text-align: center;
}

.info-card {
  background: var(--dark-blue-bg);
  border: 1px solid #1e2136;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-card .label {
  font-size: 1rem;
  line-height: 1.355rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}
.info-card .data {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 1rem 0;
}
.table-referral-code {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.referral-code {
  display: flex;
}
.referral-code span {
  margin-right: 0.5rem;
  font-family: monospace;
}
.referral-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.referral-table th {
  font-weight: normal;
  letter-spacing: 0.25px;
  color: #a9a9b0;
  text-transform: uppercase;
}
.referral-table th,
.referral-table td {
  padding: 0.625em;
  text-align: left;
}

.table-referral-code p {
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
}
.error {
  margin: 0;
  padding: 0.5rem 0 1rem;
  color: #fa3c58;
  font-size: 0.9rem;
}

.table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.empty-message {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #1e2136;
  border-radius: 4px;
  background: #16182e;
}

@media (max-width: 500px) {
  .referral-table {
    width: auto;
    margin-bottom: 1rem;
  }
  .referral-table td {
    white-space: nowrap;
  }
}
