.SyntheticsSwapBox {
  border-radius: 0.4rem;
  padding: 1.5rem;
  padding-top: 0;
}

.SyntheticsSwapBox .Exchange-swap-option-tabs {
  margin: 1.5rem 0;
}

.SyntheticsSwapBox-asset-options-tabs {
  margin: 1.5rem 0;
}

.SyntheticsSwapBox-info-section {
  margin-bottom: 0.8rem;
}

.SyntheticsSwapBox-form-layout {
  display: flex;
  flex-direction: column;
}

.SyntheticsSwapBox-warnings {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.SyntheticsSwapBox-slider-settings {
  font-size: var(--font-sm);
  margin-bottom: 0.8rem;
}

.SyntheticsSwapBox-slider-settings .Checkbox {
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
}

@media (max-width: 900px) {
  .SyntheticsSwapBox-content {
    flex-wrap: wrap;
  }

  .SyntheticsSwapBox-content .GlpSwap-stats-card {
    margin: 0;
    margin-bottom: 3.1rem;
    max-width: 100%;
  }

  .SyntheticsSwapBox-content .GlpSwap-box {
    margin: 0;
    max-width: 100%;
  }
}
