.Position-buttons-container {
  margin-top: 1.2rem;
}

.Position-collateral-amount {
  margin-left: 0;
}

.Position-item-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  .Position-item-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }
}

.PositionItem-collateral-tooltip {
  .Tooltip-popup {
    min-width: 32rem;
  }
}

.position-list-collateral {
  display: flex;
  align-items: flex-end;
}

.position-list-collateral.isSmall {
  justify-content: flex-end;
}

.PositionItem-actions-cell {
  position: sticky;
  right: 0;
  z-index: 10;
  background: var(--color-slate-900);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 16px;
    background: linear-gradient(90deg, rgba(18, 20, 33, 0) 0%, #121421 100%);
    border-right: 1px solid var(--color-slate-600);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.is-scrollable-right .PositionItem-actions-cell::before {
  opacity: 1;
}

tbody > tr:nth-child(odd) > .PositionItem-actions-cell {
  background: linear-gradient(var(--color-fill-surfaceElevated50), var(--color-fill-surfaceElevated50)),
    var(--color-slate-900);
}

.TableTr_hoverable:nth-child(even):hover > .PositionItem-actions-cell {
  background: linear-gradient(var(--color-fill-surfaceElevated50), var(--color-fill-surfaceElevated50)),
    linear-gradient(var(--color-fill-surfaceHover), var(--color-fill-surfaceHover)), var(--color-slate-900);
}

.TableTr_hoverable:nth-child(odd):hover > .PositionItem-actions-cell {
  background: linear-gradient(var(--color-fill-surfaceHover), var(--color-fill-surfaceHover)), var(--color-slate-900);
}

@media (max-width: 800px) {
  .PositionItem-collateral-tooltip {
    .Tooltip-popup {
      min-width: 22rem;
    }
  }
}
