.NavigationButton {
  display: flex;
  overflow: hidden;
  border-radius: 0.4rem;
  min-height: 30px;

  &.clickable {
    user-select: none;
    cursor: pointer;
  }

  &-button {
    display: flex;
    align-items: center;
    flex: 1;

    background-color: rgba(var(--color-slate-600));
    .clickable &:not([disabled]):hover {
      background: rgba(var(--color-slate-100));
    }

    .clickable &:not([disabled]):active {
      background: color-mix(in srgb, rgba(var(--color-slate-100)) 97%, rgba(var(--color-white)));
    }
  }

  &-button-text {
    flex: 1;
    color: rgba(var(--color-typography-primary));
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
  }

  &-button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem;
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.7rem;
    cursor: pointer;

    background-color: rgba(var(--color-slate-600));
    &:not([disabled]):hover {
      background: rgba(var(--color-slate-100));
    }

    &:not([disabled]):active {
      background: color-mix(in srgb, rgba(var(--color-slate-100)) 97%, rgba(var(--color-white)));
    }
  }
}
