.NavigationButton {
  display: flex;
  overflow: hidden;
  border-radius: 0.4rem;
  min-height: 30px;

  &.clickable {
    user-select: none;
    cursor: pointer;
  }

  &-button {
    display: flex;
    align-items: center;
    flex: 1;

    background-color: var(--color-slate-550);
    .clickable &:not([disabled]):hover {
      background: rgba(80, 87, 126, 0.6);
    }

    .clickable &:not([disabled]):active {
      background: rgba(80, 87, 126, 0.7);
    }
  }

  &-button-text {
    flex: 1;
    color: white;
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
  }

  &-button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem;
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.7rem;
    cursor: pointer;

    background-color: var(--color-slate-550);
    &:not([disabled]):hover {
      background: rgba(80, 87, 126, 0.6);
    }

    &:not([disabled]):active {
      background: rgba(80, 87, 126, 0.7);
    }
  }
}
