.chart-token-selector {
  padding-left: 0.4rem;
  margin-right: 0.5rem;

  .Dropdown-current {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--color-white);
  }

  .Dropdown-current-arrow {
    font-size: var(--font-sm);
    color: hsla(0, 0%, 100%, 0.7);
    margin-left: 1rem;
    margin-top: -2px;
  }

  .Dropdown-options {
    width: 15.8rem;
    top: 4.6rem;
    left: -0.6rem;
  }

  .Dropdown-option {
    font-size: var(--font-sm);
    height: 3.4rem;
    font-weight: 700;
  }
}

.TVChart-top-card {
  height: 58px;
  display: flex;
  align-items: center;
}

.Chart-header {
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto 90px;
  grid-column-gap: 1rem;
}

.Chart-top-scrollable-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.Chart-top-scrollable {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 2.4rem;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

.Chart-top-scrollable-fade-overlay {
  position: absolute;
  width: 100%;
  height: calc(100% - 1.2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  pointer-events: none;
}

.Chart-top-scrollable-fade-right,
.Chart-top-scrollable-fade-left {
  max-width: 50px;
  height: 100%;
  background-color: rgba(255, 0, 255, 0.5);
  transition: opacity 0.2s ease;
  z-index: 1;
}

.Chart-top-scrollable-fade-left {
  background: linear-gradient(to left, transparent, var(--main-bg-color) 50%, var(--main-bg-color));
}

.Chart-top-scrollable-fade-right {
  background: linear-gradient(to right, transparent, var(--main-bg-color) 50%, var(--main-bg-color));
}

.Chart-header-value {
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 1100px) {
  .Chart-24h-low {
    display: block;
  }

  .Chart-header {
    grid-template-columns: auto auto 100px;
  }
}
