.Leaderboard-table-card {
  width: 50%;
}

.Leaderboard-tabs {
  width: 50%;
  margin: 1.5rem auto 3.1rem;
}

.Leaderboard-table {
  width: 100%;
}

.Leaderboard-table td, .Leaderboard-table th {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.Leaderboard-table tr > *:nth-child(1) {
  text-align: left;
}

.Leaderboard-table tr > *:nth-child(2) {
  text-align: right;
}
