.MarketPoolSwapBox {
  border-radius: 0.4rem;
  padding: 1.5rem;
  padding-top: 0;
}

.MarketPoolSwapBox .Exchange-swap-option-tabs {
  margin: 1.5rem 0;
}

.MarketPoolSwapBox-asset-options-tabs {
  margin: 1.5rem 0;
}

.MarketPoolSwapBox-info-section {
  margin-bottom: 0.8rem;
}

.MarketPoolSwapBox-market-dropdown {
  margin-top: 1.5rem;
  margin-left: -0.5rem;
}

.MarketPoolSwapBox-form-layout {
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.MarketPoolSwapBox-warnings {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .MarketPoolSwapBox-content {
    flex-wrap: wrap;
  }

  .MarketPoolSwapBox-content .GlpSwap-stats-card {
    margin: 0;
    margin-bottom: 3.1rem;
    max-width: 100%;
  }

  .MarketPoolSwapBox-content .GlpSwap-box {
    margin: 0;
    max-width: 100%;
  }
}
