.Banner-button {
  .Banner-text {
    margin: 0;
    position: relative;
    display: inline;
    flex-wrap: wrap;
  }

  .Banner-label-last-word::after {
    content: "";
    display: inline-block;
    background: url("../../img/sparkle.svg") no-repeat center;
    background-size: contain;
    width: 10px;
    height: 10px;
    position: absolute;
  }

  .Banner-text-sparkle {
    position: absolute;
    height: 10px;
    top: 0;
    right: -15px;
  }

  .Banner-action {
    background: var(--color-cold-blue-900);
    padding: 0.65rem 1.5rem;
    border-radius: var(--border-radius-sm);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.5;

    &:hover {
      background: var(--color-slate-600);
      color: var(--color-white);
    }

    .Banner-right-icon {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 400px) {
  .Banner-button .Banner-action {
    padding: 0.5rem 1rem;
  }
}
