name: Tests and linting

on:
  pull_request:
    branches:
      - master
      - "release-*"
    types: [opened, edited, synchronize, reopened]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check for merge conflicts
        run: |
          chmod +x ./scripts/check-conflicts.sh
          ./scripts/check-conflicts.sh

      - name: Run linting
        run: yarn lint

      - name: Run type checking
        run: yarn tscheck

      - name: Run tests
        run: yarn test:ci
