.Toastify__toast.SubaccountNotification {
  padding: 0;
  position: relative;

  .Toastify__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .Toastify__toast-body {
    padding: 0;
  }

  .StatusNotification {
    padding: 0.8rem;
  }
}

.StatusNotification-content {
  position: relative;
  z-index: 1;
}

.StatusNotification-title {
  font-weight: bold;
}

.StatusNotification-items {
  margin-top: 1rem;
}
